<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>门道教育网－活动管理</title>
	<head th:include="layout/head :: backend"></head>
	<head th:include="layout/head :: validator"></head>
	<link rel="stylesheet" th:href="@{/js/kindeditor/themes/default/default.css}"/>
	<link rel="stylesheet" th:href="@{/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css}"/>
    <script type="text/javascript" th:src="@{/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js}"></script>
    <script type="text/javascript" th:src="@{/js/kindeditor/kindeditor-min.js}"></script>
	<script type="text/javascript" th:src="@{/js/kindeditor/lang/zh_CN.js}"></script>
</head>
<style>
.active_a{
	color:#ffffff;
	background-color: #ff7242;
}
</style>
<body class="index">
<div th:include="layout/common/header::nav-header"></div>
<div class="container" id="content-container">
	<div class="row">
		<div th:include="layout/backend_nav::nav-backend"></div>
		<div class="col-md-9">
			<div class="panel panel-default panel-col">
				<div class="panel-body">
					<form id="defaultForm" method="post" class="form-horizontal" th:action="@{/backend/activity/add}"
                      	data-bv-message="This value is not valid"
                      	data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                      	data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                      	data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
						<input type="hidden" name="activity.id" th:value="${activity.id}" />
	                	<fieldset>
							<legend>活动信息</legend>
		                    <div class="form-group">
		                        <label class="col-lg-2 control-label">活动名称</label>
		                        <div class="col-lg-8 col-sm-5">
		                            <input type="text" class="form-control" name="name" placeholder="活动名称" required="required"/>
		                        </div>
		                    </div>
		                    <div class="form-group">
		                        <label class="col-lg-2 control-label">活动类型</label>
		                        <div class="col-lg-8 col-sm-5">
		                        	<input type="radio" name="type" value="0" required="required"/> 当天结束
		                        	<input type="radio" name="type" value="1" required="required"/> 连续多天
		                        </div>
		                    </div>
		                    <div class="form-group">
		                        <label class="col-lg-2 control-label">开始时间</label>
		                        <div class="col-lg-8 col-sm-5">
		                        	<input type="text" name="startTimeStr" required="required" data-date-format="yyyy-mm-dd HH:mm" id="activity_start_date" />
		                        </div>
		                    </div>
		                    <div class="form-group">
		                        <label class="col-lg-2 control-label">结束时间</label>
		                        <div class="col-lg-8 col-sm-5">
		                            <input type="text" name="endTimeStr" required="required" data-date-format="yyyy-mm-dd HH:mm" id="activity_end_date" />
		                        </div>
		                    </div>
  		                    <div class="form-group">
		                        <label class="col-lg-2 control-label">活动发布人</label>
		                        <div class="col-lg-8 col-sm-5">
		                            <input type="text" class="form-control" name="publishName" th:value="${activity.publishName}" placeholder="活动发布人" required="required"/>
		                        </div>
		                    </div>
		                    <div class="form-group">
		                        <label class="col-lg-2 control-label">活动规模</label>
		                        <div class="col-lg-8 col-sm-5">
		                            <input type="text" class="form-control" name="size" th:value="${activity.size}" placeholder="活动规模" required="required"/>
		                        </div>
		                    </div>
		                    <div class="form-group">
		                        <label class="col-lg-2 control-label">活动图片</label>
		                        <div class="col-lg-8 col-sm-5">
		                            <input type="button" id="uploadButton" value="选择图片" style="display: none;"/>
		                        </div>
		                         <div class="col-lg-8 col-sm-5" id="image_url">
		                         
		                        </div>
		                    </div>
		                    <div class="form-group">
		                        <label class="col-lg-2 control-label">活动详情</label>
		                        <div class="col-lg-8 col-sm-5">
		                            <textarea rows="5" name="content" id="activity_content" th:text="${activity.content}"></textarea>
		                        </div>
		                    </div>
		                    <div class="form-group">
		                        <label class="col-lg-2 control-label">活动地址</label>
		                        <div class="col-lg-8 col-sm-5">
		                            <input type="text" class="form-control" name="address" th:value="${activity.address}" placeholder="活动地址" />
		                        </div>
		                    </div>
		                    <div class="form-group">
		                        <label class="col-lg-2 control-label">活动标签</label>
		                        <div id="activity_sticker">
		                        	
		                        </div>
		                        <div class="col-lg-8 col-sm-5">
		                            <ul class="inter-label-topic" id="activity_sticker_list">
										<li th:each="stickerL,stickerStat : ${stickerList}" th:if="${stickerStat.index lt 10}">
											<a style="cursor:pointer" th:alt="${stickerL.id }" th:text="${stickerL.display}">标签分类</a>
										</li>
										<li style="display:none;" th:each="stickerL,stickerStat : ${stickerList}" th:if="${stickerStat.index >= 10}" name="moreSticker">
											<a style="cursor:pointer;" th:alt="${stickerL.id }" th:text="${stickerL.display}">标签分类</a>
										</li>
										<li th:if="${#lists.size(stickerList) > 9}">
											<a id="show_more" alt="more" href="javascript:;" style="cursor:pointer;">更多</a>
										</li>
									</ul>
		                        </div>
		                    </div>
	                    </fieldset>
	                    
	                    <div class="form-group">
	                        <div class="col-lg-5 col-lg-offset-2">
	                            <button type="submit" class="btn btn-primary">提交</button>
	                        </div>
	                    </div>
	                </form>
				</div>
			</div>
		</div>
	</div>
</div>
<script th:inline="javascript">
/*<![CDATA[*/
	$(function(){
		$('#activity_start_date').datetimepicker({
		    format: 'yyyy-mm-dd HH:ii',
		    language: 'zh-CN',
		    todayBtn: true,
		    hourStep: 1,
	        minuteStep: 5,
	        autoclose:true,
	        pickTime:true,
		});
		$('#activity_end_date').datetimepicker({
			format: 'yyyy-mm-dd HH:ii',
			todayBtn: true,
			language: 'zh-CN',
			hourStep: 1,
	        minuteStep: 5,
	        autoclose:true,
		});
		//upremoteimgwork upmendaoimgwork
		KindEditor.ready(function(K) {
			editors = K.create('textarea[id="activity_content"]', {
				allowFileManager : false,
				width:'100%',
				uploadJson : /*[[@{'/upload/upimage'}]]*/,
				formatUploadUrl: false,
				//items : ['preview']
				items : ['undo', 'fontname','fontsize','bold','italic','underline','forecolor','hilitecolor', 'insertorderedlist', 'insertunorderedlist', '|', 'justifyleft', 'justifycenter', 'justifyright','plainpaste', 'wordpaste','image','preview','link','unlink','removeformat']
			});
		
		});
		$("#activity_sticker_list li a").click(function(){
			var attr = $(this).attr("alt");
			var value = "";
			if(attr != "more"){
				$(this).toggleClass("active_a");
				$("#activity_sticker_list li a.active_a").each(function(){
					value += $(this).attr("alt")+",";
			  	});
				var html = "<input type='hidden' name='sticker' value='"+value+"' />" ;
				$("#activity_sticker").html(html);
			}
		});
		$("#show_more").click(function(){
			if($(this).text() == "更多"){
				$("#activity_sticker_list li").show();
				$(this).text("收起");
			}else{
				$("#activity_sticker_list li[name='moreSticker']").hide();
				$(this).text("更多");
			}
		});
		
		KindEditor.ready(function(K) {
			var uploadbutton = K.uploadbutton({
				button : K('#uploadButton')[0],
				fieldName : 'imgFile',
				url : /*[[@{'/upload/upimage/?dir=image'}]]*/,
				afterUpload : function(data) {
					if (data.error === 0) {
						var html = "<img src='" + data.url +"' /><input type='hidden' name='activityImage' value='"+ data.path +"' />";
						$("#image_url").html(html);
					} else {
						alert(data.message);
					}
				},
				afterError : function(str) {
					alert('自定义错误信息: ' + str);
				}
			});
			uploadbutton.fileBox.change(function(e) {
				uploadbutton.submit();
			});
		});
	
	});
/*]]>*/
</script>
</body>
</html>
