<script th:inline="javascript">
/*<![CDATA[*/
	function loginSystem(){
		var user_name = $("#login_name").val();
		var password = $("#login_password").val();
		if(user_name == ""){
			layer.open({
			    content: '请填写您的手机号/用户名。',
			    style: 'background-color:#FF0000; color:#fff; border:none;',
			    time: 2
			});
			return;
		}
		if(password == ""){
			layer.open({
			    content: '请填写您的密码。',
			    style: 'background-color:#FF0000; color:#fff; border:none;',
			    time: 2
			});
			return;
		}
		$.ajax({
			url : /*[[@{/ajaxDoLogin}]]*/,
			type : 'POST',
			data: {"mobile":user_name,"password":password},  
			cache : false,
			async : true,
			success : function(data){
				if(data.msg == 1){
					$(".close").click();
					layer.open({
					    content: '登陆成功。',
					    style: 'background-color:#09C1FF; color:#fff; border:none;',
					    time: 2
					});
					location.reload();
				}else{
					layer.open({
					    content: '用户名或者密码错误。',
					    style: 'background-color:#09C1FF; color:#fff; border:none;',
					    time: 2
					});
				}
			}
		});
	}
/*]]>*/
</script>
<!-- 登录弹窗 -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" style="top: 25%;">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="loginModalLabel">登录门道账号</h4>
			</div>
			<div class="modal-body">
				<form class="form-group" style="width:60%;margin-left:20%">
					<div class="form-group">
						<label for="login-name" class="control-label">您的手机号/用户名:</label>
						<input type="text" class="form-control" id="login_name" />
					</div>
					<div class="form-group">
						<label for="login-tel" class="control-label">您的密码:</label>
						<input type="password" class="form-control" id="login_password"></input>
					</div>
					<div class="form-group">
						<button type="button" class="btn btn-primary center-block" onclick="loginSystem()" style="width: 80px;border-radius:25px">登陆</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>