
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="nav-close"><i class="fa fa-times-circle"></i>
            </div>
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
	                               	<span class="block m-t-xs">
	                               		<strong class="font-bold" th:inline="text">[[${session.LoginAccount.userName}]]</strong>
                               		</span>
	                                <span class="text-muted text-xs block" th:inline="text">[[${session.LoginAccount.roleName}]]<b class="caret"></b></span>
                                </span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a th:href="@{'/back/updatePassword'}">修改密码</a></li>
                                <li><a th:href="@{'/logout'}">安全退出</a></li>
                            </ul>
                        </div>
                        <div class="logo-element">
							管理                        	
                        </div>
                    </li>
                    <li th:each="source : ${session.LoginAccount.menuList}">
        				<a th:href="@{${source.url}}" th:inline="text"> 
        					<i class="fa fa-home"></i>
        					<span class="nav-label" th:inline="text">[[${source.name}]]</span>
        				</a>
        			</li>
                </ul>
            </div>
        </nav>