<div th:fragment="load_js">
<script th:inline="javascript">
$(function(){
	//var liIndex =/*[[${session.LoginAccount.checkMenu.id}]]*/;
	 //$('#headerMenu li').removeClass("active").each(function(){
	//	 if($(this).attr("value") == liIndex){
	//		 $(this).prop('class', 'active');
	//	 }
	// });
	// var checkIndex = /*[[${session.menuId}]]*/;
	// $('#menuList li').removeClass("active").each(function(){
	//	 if($(this).attr("value") == checkIndex){
	//		 $(this).prop('class', 'active');
	//	 }
	 //});
});
</script>
</div>