<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<!-- 分页 -->
	<div th:fragment="pagination">
		<nav th:if="${pageBean.totalpage>1}">
			<ul class="pagination">
				<li th:class="${pageBean.currentpage ==1}?'sr-only':''">
					<a th:href="@{${pageBean.pageUrl}(curpage=1)}+${pageBean.querystr}" aria-label="Previous"> <span aria-hidden="true">首页</span></a>
				</li>
				<li th:class="${pageBean.currentpage > 1}?'':'sr-only'" >
					<a th:href="@{${pageBean.pageUrl}(curpage=${pageBean.currentpage-1})}+${pageBean.querystr}" aria-label="Previous"> <span aria-hidden="true">上一页</span></a>
				</li>
				<li th:each="num:${pageBean.pageRange}" th:class="${num == pageBean.currentpage}?'active'">
					<a th:href="@{${pageBean.pageUrl}(curpage=${num})}+${pageBean.querystr}"  th:text="${num}" href="javascript:;">1</a>
				</li>
				<li th:class="${pageBean.currentpage >= pageBean.totalpage}?'sr-only':''">
					<a href="javascript:;" th:href="@{${pageBean.pageUrl}(curpage=${pageBean.currentpage+1})}+${pageBean.querystr}" aria-label="Next"> <span aria-hidden="true">下一页</span></a>
				</li>
				<li th:class="${pageBean.currentpage == pageBean.totalpage}?'sr-only':''">
					<a th:href="@{${pageBean.pageUrl}(curpage=${pageBean.totalpage})}+${pageBean.querystr}" aria-label="Previous"> <span aria-hidden="true">尾页</span></a>
				</li>
			</ul>
		</nav>
	</div>
	
	<div th:fragment="exampagination">
		<div class="row hidden-xs" th:if="${pageBean.totalpage>1}">
			<nav>
				<ul class="pagination">
					<li class="pageturn">
						<a th:if="${pageBean.currentpage > 1}" th:href="@{${pageBean.pageUrl}(curpage=${pageBean.currentpage-1})}+${pageBean.querystr}"> 
							<span> <span aria-hidden="true">&laquo;</span> </span> 
						</a>
						<a th:if="${pageBean.currentpage == 1}" href="javascript:;"> 
							<span> <span aria-hidden="true">&laquo;</span> </span> 
						</a>
					</li>
					<li th:each="num:${pageBean.pageRange}" th:class="${num == pageBean.currentpage}?'active'">
						<a th:href="${num == pageBean.currentpage}?'javascript:;': @{${pageBean.pageUrl}(curpage=${num})}+${pageBean.querystr}"  th:text="${num}" href="javascript:;">页码</a>
					</li>
					<li class="pageturn">
						<a th:if="${pageBean.totalpage > pageBean.currentpage}" th:href="@{${pageBean.pageUrl}(curpage=${pageBean.currentpage+1})}+${pageBean.querystr}"> 
							<span> <span aria-hidden="true">&raquo;</span></span>
						</a>
						<a href="javascript:;" th:if="${pageBean.totalpage == pageBean.currentpage}"> 
							<span> <span aria-hidden="true">&raquo;</span></span>
						</a>
					</li>
				</ul>
			</nav>
			<label th:text="${pageBean.totalpage}"></label>
		</div>
	</div>
</body>
</html>