<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>门道教育网－话题管理</title>
	<head th:include="layout/head :: backend"></head>
	<head th:include="layout/head :: validator"></head>
	<link rel="stylesheet" th:href="@{/js/kindeditor/themes/default/default.css}"/>
	<link rel="stylesheet" th:href="@{/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css}"/>
    <script type="text/javascript" th:src="@{/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js}"></script>
    <script type="text/javascript" th:src="@{/js/kindeditor/kindeditor-min.js}"></script>
	<script type="text/javascript" th:src="@{/js/kindeditor/lang/zh_CN.js}"></script>
</head>
<style>
.active_a{
	color:#ffffff;
	background-color: #ff7242;
}
</style>
<body class="index">
<div th:include="layout/common/header::nav-header"></div>
<div class="container" id="content-container">
	<div class="row">
		<div th:include="layout/backend_nav::nav-backend"></div>
		<div class="col-md-9">
			<div class="panel panel-default panel-col">
				<div class="panel-body">
					<form id="topic_form" method="post" class="form-horizontal" action=""
                      	data-bv-message="This value is not valid"
                      	data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                      	data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                      	data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
						<input type="hidden" name="id" th:value="${topic.id}" />
	                	<fieldset>
							<legend>话题信息</legend>
		                    <div class="form-group">
		                        <label class="col-lg-2 control-label">话题名称</label>
		                        <div class="col-lg-8 col-sm-5">
		                            <input type="text" class="form-control" name="subject" th:value="${topic.subject}" placeholder="话题名称" required="required"/>
		                        </div>
		                    </div>
		                    <div class="form-group">
		                        <label class="col-lg-2 control-label">话题详情</label>
		                        <div class="col-lg-8 col-sm-5">
		                            <textarea rows="8" name="content" id="topic_content" required="required" th:text="${topic.content}"></textarea>
		                        </div>
		                    </div>
		                    <div class="form-group">
		                        <label class="col-lg-2 control-label">话题标签</label>
		                        <div id="topic_sticker">
		                        	<input type="hidden" name="sticker" th:value="${topicSticker}"/>
		                        </div>
		                        <div class="col-lg-8 col-sm-5">
		                            <ul class="inter-label-topic" id="topic_sticker_list">
										<li th:each="stickerL,stickerStat : ${stickerList}" th:if="${stickerStat.index lt 10}">
											<a th:class="${#strings.indexOf(topicSticker,stickerL.id+',')} lt 0 ?'':'active_a'" style="cursor:pointer" th:alt="${stickerL.id }" th:text="${stickerL.display}">标签分类</a>
										</li>
										<li style="display:none;" th:each="stickerL,stickerStat : ${stickerList}" th:if="${stickerStat.index >= 10}" name="moreSticker">
											<a th:class="${#strings.indexOf(topicSticker,stickerL.id+',')} lt 0 ?'':'active_a'" style="cursor:pointer;" th:alt="${stickerL.id }" th:text="${stickerL.display}">标签分类</a>
										</li>
										<li th:if="${#lists.size(stickerList) > 9}">
											<a id="show_more" alt="more" href="javascript:;" style="cursor:pointer;">更多</a>
										</li>
									</ul>
		                        </div>
		                    </div>
	                    </fieldset>
	                    
	                    <div class="form-group">
	                        <div class="col-lg-5 col-lg-offset-2">
	                            <button type="button" class="btn btn-primary" onclick="passTopic()">通过</button>
	                            <button type="button" class="btn btn-danger" onclick="rejectTopic()">驳回</button>
	                        </div>
	                    </div>
	                </form>
				</div>
			</div>
		</div>
	</div>
</div>
<script th:inline="javascript">
/*<![CDATA[*/
	$(function(){
		//upremoteimgwork upmendaoimgwork
		KindEditor.ready(function(K) {
			editors = K.create('textarea[id="topic_content"]', {
				allowFileManager : false,
				width:'100%',
				uploadJson : /*[[@{'/upload/upimage'}]]*/,
				//items : ['preview']
				items : ['bold','italic','underline','forecolor','hilitecolor', '|', 'justifyleft', 'justifycenter', 'justifyright','plainpaste', 'wordpaste','image','preview','removeformat']
			});
		
		});
		$("#topic_sticker_list li a").click(function(){
			var attr = $(this).attr("alt");
			var value = "";
			if(attr != "more"){
				$(this).toggleClass("active_a");
				$("#topic_sticker_list li a.active_a").each(function(){
					value+= $(this).attr("alt") + ",";
			  	});
				var html = "<input type='hidden' name='sticker' value='"+value+"' />";
				$("#topic_sticker").html(html);
			}
		});
		$("#show_more").click(function(){
			if($(this).text() == "更多"){
				$("#topic_sticker_list li").show();
				$(this).text("收起");
			}else{
				$("#topic_sticker_list li[name='moreSticker']").hide();
				$(this).text("更多");
			}
		});
		
	});
	function passTopic(){
		var action = /*[[@{'/backend/topic/pass'}]]*/;
		$("#topic_form").attr("action",action);
		$("#topic_form").submit();
	}
	function rejectTopic(){
		var action = /*[[@{'/backend/topic/reject'}]]*/;
		$("#topic_form").attr("action",action);
		$("#topic_form").submit();
	}
/*]]>*/
</script>
</body>
</html>
