<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>门道教育网－推荐管理</title>
<head th:include="layout/head :: backend"></head>
<script type="text/javascript" th:src="@{${cdn} + '/js/layer/layer.js'}"></script>
<link th:href="@{${cdn} + '/js/layer/skin/layer.css'}" rel="stylesheet"></link>
</head>
<body class="index">
	<div th:include="layout/common/header::nav-header"></div>
	<div class="container" id="content-container">
		<div class="row">
			<div th:include="layout/backend_nav::nav-backend"></div>
			<div class="col-md-9">
				<div class="panel panel-default panel-col">
					<div class="panel-heading">推荐管理</div>
					<div class="panel-body">
						<div class="block">
							<div class="navbar navbar-inner block-header">
								<div class="muted pull-left">推荐列表</div>
							</div>
							<div class="block-content collapse in">
								<div class="span12">
									<div id="example2_wrapper"
										class="dataTables_wrapper form-inline" role="grid">
										<div class="table-toolbar">
											<div class="btn-group pull-right">
												<p>
													<a href="javascript:;" onclick="addTopicRecommend()">
														<button class="btn btn-success" style="margin-right: 3px;">
															<i class="icon-plus icon-white"></i>话题推荐
														</button> 
													</a>
													<a href="javascript:;" onclick="addActivityRecommend()">
														<button class="btn btn-success" style="margin-right: 3px;">
															<i class="icon-plus icon-white"></i>活动推荐
														</button> 
													</a>
													<a href="javascript:;" onclick="addSchoolHotRecommend()">
														<button class="btn btn-success" style="margin-right: 3px;">
															<i class="icon-plus icon-white"></i>热门机构推荐
														</button> 
													</a>
													<a href="javascript:;" onclick="addSchoolRecommend()">
														<button class="btn btn-success" style="margin-right: 3px;">
															<i class="icon-plus icon-white"></i>机构推荐
														</button> 
													</a>
													<a href="javascript:;" th:onclick="'if(isSelectData(\'id\')){click_delete(\''+@{/backend/recommend/delete}+'\',\'id\');};'">
														<button class="btn btn-danger" style="margin-right: 3px;">
															<i class="icon-remove icon-white"></i>删除
														</button>
													</a>
												</p>
											</div>
											<br />
										</div>
										<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example2">
											<thead>
												<tr role="row">
													<th><input type="checkbox" name="id_selector"
														value="1" onclick="checkAll(this)" /></th>
													<th>推荐名称</th>
													<th>推荐类型</th>
													<th>推荐位置</th>
													<th>推荐时间</th>
												</tr>
											</thead>
											<tbody>
												<tr class="odd gradeX" th:each="recommend : ${pageBean.result}">
													<td><input type="checkbox" th:value="${recommend.id}" name="id" /></td>
													<td th:if="${recommend.type == 1}">
														<span th:text="${recommend.topic.subject}"></span>
													</td>
													<td th:if="${recommend.type == 2}">
														<span th:text="${recommend.activity.name}"></span>
													</td>
													<td th:if="${recommend.type == 3}">
														<span th:text="${recommend.school.schoolName}"></span>
													</td>
													<td th:if="${recommend.type == 4}">
														<span th:text="${recommend.school.schoolName}"></span>
													</td>
													<td th:if="${recommend.type == 1}">话题</td>
													<td th:if="${recommend.type == 2}">活动</td>
													<td th:if="${recommend.type == 3}">热门机构</td>
													<td th:if="${recommend.type == 4}">机构</td>
													<td th:if="${recommend.type == 1 or recommend.type == 2 or recommend.type == 3}">首页</td>
													<td th:if="${recommend.type == 4}" th:text="${recommend.category.display}">*</td>
													<td th:text="${#dates.format(recommend.createdDate, 'yyyy-MM-dd HH:mm:ss')}">*</td>
												</tr>
											</tbody>
										</table>
										<div class="row">
											<div class="span6">
												<div id="example_info" class="dataTables_info" th:text="${pageBean.totalpage}"></div>
											</div>
											<div class="span6">
												<div th:include="layout/common/pagination :: pagination"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- /block -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script th:inline="javascript">
	/*<![CDATA[*/
		function addTopicRecommend(){
			layer.open({
	            type: 2,
	            title: '添加话题推荐',
	            shadeClose: true,
	            shade: false,
	            maxmin: true, //开启最大化最小化按钮
	            area: ['850px', '450px'],
	            content:  /*[[@{'/backend/recommend/showTopic'}]]*/,
	        });	
		}
		function addActivityRecommend(){
			layer.open({
	            type: 2,
	            title: '添加活动推荐',
	            shadeClose: true,
	            shade: false,
	            maxmin: true, //开启最大化最小化按钮
	            area: ['850px', '450px'],
	            content:  /*[[@{'/backend/recommend/showActivity'}]]*/,
	        });	
		}
		function addSchoolHotRecommend(){
			layer.open({
	            type: 2,
	            title: '添加热门机构推荐',
	            shadeClose: true,
	            shade: false,
	            maxmin: true, //开启最大化最小化按钮
	            area: ['850px', '450px'],
	            content:  /*[[@{'/backend/recommend/showSchool'}]]*/,
	        });	
		}
		function addSchoolRecommend(){
			layer.open({
	            type: 2,
	            title: '添加机构推荐',
	            shadeClose: true,
	            shade: false,
	            maxmin: true, //开启最大化最小化按钮
	            area: ['850px', '450px'],
	            content:  /*[[@{'/backend/recommend/showAllSchool'}]]*/,
	        });	
		}
	/*]]>*/
	</script>
</body>
</html>