<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/head :: backend"></head>
<script th:inline="javascript">
/*<![CDATA[*/
	function addCatSchool(id){
		var cat_id = $('#category_'+id).val();
		alert(cat_id);
		
		$.post(
				/*[[@{/backend/recommend/addCatSchool}]]*/,
				{'school.id':id,'category.id':cat_id,'type':4 },
				function (data, status) {
					if(data.msg == 1){
						alert("推荐成功");
					}else{
						alert("推荐失败");
					}
				}
			);
	}
/*]]>*/
</script>
<body>
<div class="container-fluid">
     <div class="row-fluid">
		<!-- left -->
		<div class="span3" id="sidebar">
			<div th:include="layout/main-nav :: layered－nav"></div>
		</div>
		<!-- center content -->
		<div id="content" class="span9">
			<div class="row-fluid">
			    <!-- 导航 -->
			</div>
			<div id="page-context" style="margin-top: 5px;">
            <!-- PAGE START -->
                <div class="row-fluid">
					<form action="" >
						<fieldset>
							<legend>查询条件</legend>
							<div class="controls">
                            	<div class="span4">
                            		机构名称: <input class="input-medium" name="q_schoolName" type="text" th:value="${schoolName }"/>
                            	</div>
                            </div>
                       		<div class="controls span12" style="text-align: center;">
                           		<button type="submit" class="btn btn-success">查询</button>
                             	<button type="reset" class="btn btn-primary">清空</button>
                          	</div>
                   		</fieldset>
         			</form>
		       		<div class="block">
		           		<div class="navbar navbar-inner block-header">
		           			<div class="muted pull-left">机构列表</div>
		              	</div>
		           		<div class="block-content collapse in">
		                	<div class="span12">
		                    	<div id="example2_wrapper" class="dataTables_wrapper form-inline" role="grid">
									<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example2">
										<thead>
											<tr role="row">
												<th>机构名称</th>
												<th>机构类型</th>
												<th>机构地址</th>
												<th>推荐位置</th>
												<th>操作</th>
											</tr>
									    </thead>
									    <tbody>
											<tr class="odd gradeX" th:each="school : ${pageBean.result}">
												<td th:text="${school.schoolName}"></td>
												<td th:text="${school.classification}"></td>
												<td th:text="${school.address}"></td>
												<td>
													<select th:id="'category_'+${school.id}">
														<option th:each="cl : ${categoryList}" th:text="${cl.display}" th:value="${cl.id}"></option>
													</select>
												</td>
												<td>
													<button class="btn btn-success" style="margin-right: 3px;" th:onclick="'addCatSchool('+${school.id}+')'">
		                                         		<i class="icon-remove icon-white"></i>推荐
	                                         		</button>
												</td>
											</tr>
										</tbody>
									</table>
									<div class="row">
										<div class="span6">
										<div id="example_info" class="dataTables_info" th:text="${pageBean.totalpage}"></div>
										</div>
										<div class="span6">
											 <div th:include="layout/common/pagination :: pagination"></div>  
										</div> 
									</div>
				          		</div>
				       		</div>
				    	</div>
				   		<!-- /block -->
					</div>
					<!-- PAGE END -->
            	</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>