<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>门道网络 － 添加角色</title>
	<head th:include="layout/head :: backend"></head>
	<head th:include="layout/head :: validator"></head>
	<link rel="stylesheet" th:href="@{/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css}"/>
    <script type="text/javascript" th:src="@{/bootstrap-datetimepicker/js/moment.min.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js}"></script>
</head>
<body>
<header class="header">
	<div th:include="layout/common/header :: nav-header"></div>
</header>
<div class="container">
	<div class="row">
		<!--  -->
		<div class="col-lg-2 col-sm-10">
			<div th:include="layout/main-nav :: nav-backend"></div>
		</div>
		<div class="col-lg-10 col-sm-10">
			<section>
				<form id="defaultForm" method="post" class="form-horizontal" action="" 
					data-bv-message="This value is not valid"
                    data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                    data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                    data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
                    <input name="id" th:value="${fwDuty.id}" type="hidden" />
				<fieldset>
					<div class="form-group">
                        <label class="col-lg-2 control-label">角色名称</label>
                        <div class="col-lg-3 col-sm-5">
                            <input type="text" class="form-control" name="dutyName" th:value="${fwDuty.dutyName}" placeholder="角色名称" required="required" 
                            	pattern="^([\u4e00-\u9fa5]{2,10}|[a-zA-Z]{5,30})$" data-bv-regexp-message="请输入2-10位中文或者5-30位字母"/>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-lg-2 control-label">角色状态</label>
                        <div class="col-lg-3 col-sm-5">
                            <div class="checkbox">
                                <input type="checkbox" name="status" value="1" /> 激活
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-lg-2 control-label">角色描述</label>
                        <div class="col-lg-3 col-sm-5">
                            <textarea class="form-control" name="description" th:value="${fwDuty.description}" placeholder="描述" ></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-5 col-lg-offset-2">
                            <button type="submit" class="btn btn-primary">提交</button>
                        </div>
                    </div>
				</fieldset>
				</form>
			</section>
		</div>	
	</div>
</div>
<script th:inline="javascript">
	$(function(){
		$('#defaultForm').bootstrapValidator();
	});
</script>
</body>
</html>
