<script type="text/javascript">
function replayComment(id){
	if($("#login_status").val() == 0){
		$("#loginModal").modal();
	}else{
		$('#reply_textarea_'+id).toggle();
		$("#textarea_"+id).html("");
		$("#textarea_"+id).focus();
	}
}
function replayCommentChild(id,nickName){
	if($("#login_status").val() == 0){
		$("#loginModal").modal();
	}else{
		$('#reply_textarea_'+id).toggle();
		$("#textarea_"+id).html("回复 @"+nickName+":");
		$("#textarea_"+id).focus();
	}
}
function showChildComment(id){
	$("#child_comment_div_"+id).show();
	$("#show_child_comment_button_"+id).hide();
	$("#hide_child_comment_button_"+id).show();
}
function hideChildComment(id){
	$("#child_comment_div_"+id).hide();
	$("#show_child_comment_button_"+id).show();
	$("#hide_child_comment_button_"+id).hide();
}
</script>
<div class="panel-body">
	<ul class="media-list">
		<li class="media" th:each="activityComment : ${commentList}">
			<a th:href="@{'/front/user/home?id='+${activityComment.comment.author.id}}" class="pull-left">
				<img th:if="${activityComment.comment.author.icon}" th:src="@{${cdn}+${activityComment.comment.author.icon}}" class="img-circle user-headimg"></img>
				<img th:if="${#strings.isEmpty(activityComment.comment.author.icon)}" th:src="@{'/images/home/1.jpg'}" class="img-circle user-headimg"></img>
			</a>
			<div class="media-body">
				<div class="meta">
					<strong>
						<a th:href="@{'/front/user/home?id='+${activityComment.comment.author.id}}"><span class="color-nickname" th:text="${activityComment.comment.author.nickName}">用户昵称</span></a>
					</strong>
					<span class="mhm" th:text="${#dates.format(activityComment.comment.createdDate, 'yyyy-MM-dd HH:mm')}">回复时间</span>
				</div>
				<div class="content" th:text="${activityComment.comment.content}">
					评论内容
				</div>
				<div class="text-muted text-normal pull-right">
					<a href="javascript:;" th:if="${#lists.size(activityComment.childComment) == 0}" th:onclick="'replayComment('+${activityComment.comment.id}+')'" class="reply">回复</a>
					<a href="javascript:;" th:if="${#lists.size(activityComment.childComment) > 0}" th:style="${#lists.size(activityComment.childComment) == 0}?'':'display:none;'" th:onclick="'showChildComment('+${activityComment.comment.id}+')'" th:id="'show_child_comment_button_'+${activityComment.comment.id}" class="reply">回复(<span th:text="${#lists.size(activityComment.childComment)}">0</span>)</a>
					<a href="javascript:;" th:if="${#lists.size(activityComment.childComment) > 0}" th:onclick="'hideChildComment('+${activityComment.comment.id}+')'" th:id="'hide_child_comment_button_'+${activityComment.comment.id}" class="reply">收起</a>
				</div>
				<div class="reply-block" th:id="'child_comment_div_'+${activityComment.comment.id}" th:if="${#lists.size(activityComment.childComment) > 0}">	
					<div class="well">
						<ul class="media-list">
							<li class="media" th:each="childComment : ${activityComment.childComment}">
								<a class="pull-left" th:href="@{'/front/user/home?id='+${childComment.author.id}}">
									<img th:if="${childComment.author.icon}" th:src="@{${cdn}+${activityComment.comment.author.icon}}" class="img-circle user-headimg"></img>
									<img th:if="${#strings.isEmpty(childComment.author.icon)}" th:src="@{'/images/home/1.jpg'}" class="img-circle user-headimg"></img>
								</a>
								<div class="media-body">
									<div class="meta">
										<strong>
											<a th:href="@{'/front/user/home?id='+${childComment.author.id}}"><span class="color-nickname" th:text="${childComment.author.nickName}">用户昵称</span></a>
										</strong>
										<span class="mhm" th:text="${#dates.format(childComment.createdDate, 'yyyy-MM-dd HH:mm')}">多久前的回复</span>
									</div>
									<div class="content" th:text="${childComment.content}">
										回复的具体内容
									</div>
									<div class="text-muted text-normal pull-right">
										<a href="javascript:;" class="reply" th:onclick="'replayCommentChild(\''+${activityComment.comment.id}+'\',\''+${childComment.author.nickName}+'\')'">回复</a>
									</div>
								</div>
							</li>
						</ul>
						<div class="media">
							<div class="media-body">
								<div class="text-muted text-normal pull-right" style="padding: 5px 10px;background: #fff;border: 1px solid #6bd7df;border-radius: 3px;">
									<a href="javascript:;" th:onclick="'replayComment('+${activityComment.comment.id}+')'">我也要说</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="reply-block" style="display:none;" th:id="'reply_textarea_'+${activityComment.comment.id}">
					<textarea class="form-control" rows="4" th:id="'textarea_'+${activityComment.comment.id}"></textarea>
					<div class="text-muted text-normal pull-right" style="margin-top:10px;">
						<button th:onclick="'submitComment('+${activityComment.comment.id}+')'" class="btn btn-primary btn-report">提交</button>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>
<div class="row">
	<div class="span6">
		 <div th:include="layout/common/ajax_pagination :: ajax_pagination"></div>  
	</div> 
</div>
