<script th:inline="javascript">
/*<![CDATA[*/
	function getActivityMore(){
		var url = /*[[@{'/front/activity/search'}]]*/;
		var curpage = parseInt($("#current_page").val())+1;
		var activity_keywords = $("#activity_keywords").val();
		url += "?curpage="+curpage;
		if (typeof(activity_keywords) != "undefined") { 
			url += "&q_name="+activity_keywords;
		}
		$("#search_page").remove();
		$.get(
				url,
				{ },
				function (data, status) {
					$("div.course-item:last").after(data);
					if(curpage >= $("#total_page").val()){
						$("div.border0").hide();
					}
			});
	}
/*]]>*/
</script>
	<div class="row" style="margin: 0px;">
		<div class="panel panel-default panel-col border0 box-shadow0" style="padding:0px;">
   			<section class="md-section" style="padding: 0px;">
				<div class="course container" id="recommend-course-block" style="padding-left:0px;padding-right:0px">
					<div class="section-body index-course" style="padding-top: 0px;">
						<div class="tabs">
							<div id="c-recommend" class="item act clearfix">
								<div class="col-md-4 col-sm-12 act-ph0 " style="margin-top: 0px;margin-bottom:30px" th:each="activity : ${pageBean.result}">
									<div class="course-item">
										<div class="course-img">
											<a th:href="@{'/front/activity/detail/' + ${activity.id } }">
				    							<img th:alt="${activity.name}" th:if="${activity.activityImage}" th:src="@{${cdn}+${activity.activityImage}}" class="img-responsive center-block" ></img>
				    							<img th:alt="${activity.name}" th:if="${#strings.isEmpty(activity.activityImage)}" th:src="@{'/images/home/u901.jpg'}" class="img-responsive center-block" ></img>
			    							</a>
										</div>
										<div class="course-info">
			    							<div class="title">
			    								<a th:href="@{'/front/activity/detail/' + ${activity.id } }" ><span class="text-xlg" th:text="${activity.name}">门道教育研究研</span></a>
			    							</div>
			    							<div class="metas" th:if="${activity.type == 0}">
												时间：<span th:text="${#dates.format(activity.startTime, 'yyyy-MM-dd HH:mm')}+'~'+${#dates.format(activity.endTime, 'HH:mm')}">2015-12-15</span>
											</div>
											<div class="metas" th:if="${activity.type == 1}">
												时间：<span th:text="${#dates.format(activity.startTime, 'yyyy-MM-dd HH:mm')}+'~'+${#dates.format(activity.endTime, 'yyyy-MM-dd HH:mm')}">2015-12-15 08:00</span>
											</div>
											<div class="metas" style="text-align: center;">
												<span th:text="'已有'+${activity.joinNumber}+'人完成报名'"></span>
											</div>
			    						</div>
									</div>
								</div>
							</div>				
						</div>
					</div>
				</div>
			</section>
   			<div class="panel-body" th:if="${#lists.size(pageBean.result) == 0}">
				暂无内容
			</div>
   		</div>
   	</div>
	<div id="search_page" class="panel-footer text-center border0" th:if="${pageBean.totalpage > pageBean.currentpage}">
		<input type="hidden" id="current_page" th:value="${pageBean.currentpage}" />
		<input type="hidden" id="total_page" th:value="${pageBean.totalpage}" />
		<div class="row">
			<a href="javascript:;" onclick="getActivityMore()"><span class="text-lg free-fw">查看更多</span></a>
		</div>
	</div>