<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/head :: front" />

<body class="index bg-color">
	<div th:include="layout/common/header::nav-header"></div>
	<div th:if="${LoginAccount}">
		<section class="p-home">
			<div class="container">
				<div class="personImg" style="text-align: center;">
					<a href="" data-card-url="" data-user-id="">
						<img class="img-responsive" src="@{${cdn}+${LoginAccount.userInfo.icon}}"></img>
					</a>
				</div>
			</div>
		</section>
		<div class="container" id="content-container">
			<div class="row">
				<div class="col-md-8 col-sm-12 col-xs-12">
					<div class="panel panel-default panel-col border0 box-shadow0">
						<div class="panel-heading border-style" th:text="${isMe}?'我发布的话题':'他发布的话题'">
							他发布的话题
						</div>
						<div class="panel-body">
							<ul class="media-list thread-list">
								<li class="media" th:each="topic : ${pageBean.result}">
									<div class="row">
										<div class="col-md-10 col-sm-10 col-xs-10">
											<p>
												<span th:text="${topic.author.nickName}" class="author-topic">作者的名字&nbsp;&nbsp;</span>
												<span th:text="${#dates.format(topic.createDate, 'yyyy-MM-dd HH:mm')}" class="read-topic">2015-02-03</span>
											</p>
											<p class="title-topic">
												<a th:text="${topic.subject}" th:href="@{'/front/topic/topicDetail/'+${topic.id}}">2015年小升初需要注意的</a>
											</p>
											<p class="read-topic">
												<span>阅读&nbsp;</span><span th:text="${topic.views}">10000&nbsp;&nbsp;</span> <span>评论&nbsp;</span><span th:text="${topic.commentNumber}">10000&nbsp;&nbsp;</span>
												<span>点赞&nbsp;</span><span th:text="${topic.ups}">10000&nbsp;&nbsp;</span>
											</p>
										</div>
										<div class="col-md-2 col-sm-2 col-xs-2" th:if="${topic.topicImage}" th:style="${'width:100px;height:100px;background-size:cover;background-image:url('+cdn+topic.topicImage+');'}">
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="panel-body" th:if="${#lists.size(pageBean.result) == 0}">
							暂无内容
						</div>
						<div class="row">
							<div class="span6">
								 <div th:include="layout/common/pagination :: pagination"></div>  
							</div> 
						</div>
					</div>
				</div>
				<!-- 右侧个人信息显示 -->
				<div th:include="/front/topic/userinfo_nav::nav-baseinfo"></div>
			</div>
		</div>
	</div>
	<div th:if="${#strings.isEmpty(LoginAccount)}" class="container">
		<div class="row panel panel-default panel-col border0 box-shadow0">
			您查看的用户不存在
		</div>
	</div>
	<div th:include="layout/front_nav::nav-footer"></div>
</body>

</html>