<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>修改基础信息</title>
	<head th:include="/layout/head :: front" />
</head>
<style>
.active_a{
	color:#ffffff;
	background-color: #ff7242;
}
</style>
<body class="index">
	<!-- header -->
	<div th:include="layout/common/header::nav-header"></div>

	<div class="container phs mvlx">
			<div class="row">
				<div th:include="layout/front_nav::nav-setinfo (activeId=1)"></div>				
				<div class="col-md-9">
					<div class="panel panel-default mar">
						<div class="panel-heading">基础信息</div>
						<div class="panel-body">

							<form id="user-profile-form" class="form-horizontal" method="post">
								<input type="hidden" th:value="${userInfo.id}" name="id"/>
								<input type="hidden" th:value="${userInfo.fwAccount.id}" name="fwAccount.id"/>
								<div class="form-group">
									<label class="col-md-2 control-label">用户名</label>
									<div class="col-md-7 controls" th:if="${#strings.isEmpty(userInfo.fwAccount.acctName) == true}">
										<input type="text" id="acctname" name="fwAccount.acctName" class="form-control" data-widget-cid="widget-1" data-explain="" th:value="${userInfo.fwAccount.acctName}"></input>
									</div>
									<div class="col-md-7 controls" th:inline="text" th:if="${#strings.isEmpty(userInfo.fwAccount.acctName) == false}">
										<input type="hidden" id="acctname" name="fwAccount.acctName" th:value="${userInfo.fwAccount.acctName}" />
										[[${userInfo.fwAccount.acctName}]]
									</div>
								</div>

								<div class="form-group">
									<label class="col-md-2 control-label">昵称</label>
									<div class="col-md-7 controls">
										<input type="text" id="username" name="nickName" class="form-control" data-widget-cid="widget-1" data-explain="" th:value="${userInfo.nickName}"></input>
									</div>
								</div>
								<div class="form-group" id="divMobile">
									<label class="col-md-2 control-label" for="userphone">手机号</label>
									<div class="col-md-7 controls"  th:if="${#strings.isEmpty(userInfo.mobile) == true}">
										<input type="text" name="mobile" class="form-control" data-widget-cid="widget-1" data-explain="" th:value="${userInfo.mobile}"></input>
									</div>
									<div class="col-md-7 controls" th:inline="text" th:if="${#strings.isEmpty(userInfo.mobile) == false}">
										<input type="hidden" id="mobile" name="mobile" th:value="${userInfo.mobile}" />
										[[${userInfo.mobile}]]
										<a href="javascript:;" onclick="editMobile()" style="color:#FF7043;margin-left:10px;">修改</a>
									</div>
								</div>
								
								<!-- 发送短信验证码 -->
								<div class="form-group" th:if="${#strings.isEmpty(userInfo.mobile) == true}">
					                <label class="col-md-2 col-xs-12 control-label" for="sms_code">短信验证码</label>
					                <div class="col-md-3 col-xs-6">
					                    <input type="text" class="form-control ident" name="sms_code" placeholder="短信验证码" />
					                    <p class="help-block"></p>
					                </div>
					                <div class="col-md-2 col-xs-4">
					                    <a href="" class="btn ident btn-primary btn-lg  form-control bor-radiu">
					                        <span>发送</span>
				                        </a>
				                    </div>
					            </div>
								
								
								<div class="form-group">
									<label class="col-md-2 control-label">性别</label>
									<div class="col-md-7 controls radios">
										<div id="profile_gender">
											<input type="radio" id="profile_gender_0" name="gender" required="required" value="0"></input>
											<label for="profile_gender_0" class="required">男</label>
											<input type="radio" id="profile_gender_1" name="gender" required="required" value="1"></input>
											<label for="profile_gender_1" class="required">女</label>
										</div>
									</div>
								</div>

								<div class="form-group">
									<label class="col-md-2 control-label" for="age">年龄</label>
									<div class="col-md-7 controls radios">
										<input type="text" id="age" name="age" class="form-control" th:value="${session.LoginAccount.userInfo.age}"></input>
									</div>
								</div>

							<div class="form-group form-forIam-group form-notStudent-group">
								<label class="col-md-2 control-label">城市</label> <input type="hidden" name="district"
									th:value="${session.LoginAccount.userInfo.district}" />
								<div class="col-md-7 controls">
									<div id="ddlProvince" style="float:left;">
										<select name="province" id="province" class="address_select">
											<option th:each="prov : ${province}" th:value="${prov.name}" th:text="${prov.name}"/>
										</select>
									</div>
									<div id="ddlCity"  style="float:left">
										<select name="city" id="city" class="address_select">
											
										</select>
									</div>
									<div id="ddlDistrict" style="float:left">
										<select name="district" id="district" class="address_select">
												
										</select>
									</div>
								</div>
							</div>

							<div class="form-group form-forIam-group form-notStudent-group">
									<label class="col-md-2 control-label">您或您孩子的年级</label>
									<div class="col-md-7 controls">
										<input type="text" id="" name="" class="form-control" value=""></input>
									</div>
								</div>

								<div class="form-group form-forIam-group form-notStudent-group">
									<label class="col-md-2 control-label">您关注的</label>
									<div id="follow_sticker">
			                        	<input type="hidden" name="sticker" th:value="${userInfo.followSticker}"/>
			                        </div>
									<div class="col-md-7">
										<ul class="inter-label-topic" id="follow_sticker_list">
											<li th:each="sticker : ${stickerList}">
												<a th:if="${userInfo.followSticker}" href="javascript:;" th:class="${#strings.indexOf(userInfo.followSticker,sticker.id+',')} lt 0 ?'':'active_a'" th:alt="${sticker.id}" th:text="${sticker.display}">数学</a>
												<a th:if="${#strings.isEmpty(userInfo.followSticker)}" href="javascript:;" th:alt="${sticker.id}" th:text="${sticker.display}">数学</a>
											</li>
										</ul>
									</div>
								</div>
								
								<div class="row">
									<div class="col-md-9">
										<button id=""  type="submit" class="center-block btn btn-primary phlx bor-radiu">保存</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	<!-- footer -->
	<div th:include="layout/front_nav::nav-footer"></div>
	<script th:inline="javascript">
	/*<![CDATA[*/
		$(function(){
			var gender = /*[[${session.LoginAccount.userInfo.gender}]]*/;
		    $("input:radio[name='gender']").eq(gender).prop("checked",true);
			
			$('input[name=file]').change(function(evt){
				if (!window.FileReader) return;
				var files = evt.target.files;
				for (var i = 0, f; f = files[i]; i++) {
					if (!f.type.match('image.*')) {
						continue;
					}
					var reader = new FileReader();
					reader.onload = (function(theFile) {
						return function(e) {
							document.getElementById('myTest').src = e.target.result;
						}
					})(f);
					reader.readAsDataURL(f);
				}
			});
			
			var mobile = /*[[${userInfo.mobile}]]*/;
			if(!mobile || mobile == ''){
				$('#divMobile').show();
			}
			
			initAddressInfo();
			
			$('#province').change(function(){
				prov = $(this).val();
				resetCity(prov);
			});
			
			$('#city').change(function(){
				city = $(this).val();
				resetDistrict(city);
			});
			
			$('#district').change(function(){
				setFormAddress();
			});
			
			$("#follow_sticker_list li a").click(function(){
				$(this).toggleClass("active_a");
				var attr = $(this).attr("alt");
				var value = "";
				if(attr != ""){
					$("#follow_sticker_list li a.active_a").each(function(){
						value += $(this).attr("alt")+",";
				  	});
					var html = "<input type='hidden' name='followSticker' value='"+value+"' />" ;
					$("#follow_sticker").html(html);
				}
			});
		});
		var prov, city, district;
		function initAddressInfo(){
			//Province, City, District
			var address = (/*[[${session.LoginAccount.district}]]*/ + '').split(',');
			
			prov = address[0];
			if(address.length > 1){
				city = address[1];
			}
			if(address.length > 2){
				district = address[2];
			}
			
			$('#province').find("option[value='"+prov+"']").attr("selected", true);
			if(!prov || prov == ''){
				prov = $('#province').val();
			}
			resetCity(prov, city);
		};
	
		function resetCity(prov, city){
			// 从网络获取所有City
			var url = /*[[@{/common/cities}]]*/
			$.get(url, {prov:prov}, function(data){
				var target = $('#city');
				resetSelectOption(target, data.split(','), city);
				if(!city){
					city = $('#city').val();
				}
				resetDistrict(city, district);
			});
		};
		
		function resetDistrict(city, district){
			// 从网络获取所有District
			var url = /*[[@{/common/districts}]]*/
			$.get(url, {city:city}, function(data){
				var target = $('#district');
				resetSelectOption(target, data.split(','), district);
			});
		};
		
		function resetSelectOption(target, values, cval){
			target.empty();
			var defVal;
			for(var i=0; i<values.length; i++){
				var optVal = values[i];
				target.append($('<option value="' + optVal +  '">' + optVal + '</option>'));
				if(i == 0){
					defVal = optVal;
				}else if(!!cval && cval == optVal){
					defVal = cval;
				}
			}
			target.find("option[value='" + defVal + "']").attr("selected",true); 
			setFormAddress();
		};
		
		function setFormAddress(){
			var address = $('#province').val() + "," + $('#city').val() + "," + $('#district').val();
			$('input[name=address]').val(address);
		};
		
		function editMobile(){
			var url = /*[[@{/front/m/user/updateSecurity}]]*/;
			$.get(url + '?target=mobile', null, function(data){
				$('.panel-body').html(data);
			});
		}
	/*]]>*/
	</script>
</body>

</html>