<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="renderer" content="webkit"></meta>
    <title>后台管理 - 登录</title>
    <link th:href="@{${cdn} + '/css/bootstrap.min.css'}" rel="stylesheet"></link>
    <link th:href="@{${cdn} + '/css/font-awesome.min.css'}" rel="stylesheet"></link>
    <link th:href="@{${cdn} + '/css/plugins/iCheck/custom.css'}" rel="stylesheet"></link>
    <link th:href="@{${cdn} + '/css/animate.min.css'}" rel="stylesheet"></link>
    <link th:href="@{${cdn} + '/css/style.css'}" rel="stylesheet"></link>
    <style>
	    @media only screen and (max-width: 768px) {
			.copy-hide{
				display: none;
			}
		}
	    @media only screen and (min-width: 766px) {
			.title-show{
				display: none;
			}
		}
    </style>
</head>
<body class="fixed-sidebar gray-bg"> 
<div id="wrapper">
        <div th:include="layout/common/home-left"></div>
        <!--左侧导航结束-->
        <!--右侧部分开始-->
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                    	<a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#">
                    		<i class="fa fa-bars"></i> 
                    	</a>
                    </div>
                </nav>
            </div>
            <div class="row J_mainContent" id="content-main">
            	<!-- 添加新类目 -->
     <div class="wrapper wrapper-content">
        <div class="row">
            <div class="ibox float-e-margins ph10" >
                <div class="ibox-title">
                    <h5>
                        登录日志
                    </h5>
                </div>
                <div class="ibox-content">
                    <div>
                        <h5 style="font-size:16px;font-weight:700;">
                            日志列表
                        </h5>
                    </div>
                    <table id="editable" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>用户名</th>
                                    <th>登录IP</th>
                                    <th>登录地区</th>
                                    <th>登录时间</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="log : ${pageBean.result}">
                                    <td th:text="${log.user.userName}">*</td>
                                    <td th:text="${log.ip}">*</td>
                                    <td th:text="${log.address}">*</td>
                                    <td th:text="${#dates.format(log.createDate, 'yyyy-MM-dd HH:mm:ss')}">*</td>
                                </tr>
                            </tbody>
                        </table>
                </div>
                <a th:href="${requestUrl}"><button type="button" class="btn btn-primary">返回</button></a>
            </div>
        </div>
    </div>
            <div class="footer">
                <div class="pull-right">
                	&copy; 2016 
                </div>
            </div>
        </div>
    </div>
</div>
    <script th:src="@{${cdn} + '/js/jquery.min.js'}" type="text/javascript"></script>
    <script th:src="@{${cdn} + '/js/bootstrap.min.js'}" type="text/javascript"></script>
    <script th:src="@{${cdn} + '/js/plugins/metisMenu/jquery.metisMenu.js'}" type="text/javascript"></script>
    <script th:src="@{${cdn} + '/js/plugins/slimscroll/jquery.slimscroll.min.js'}" type="text/javascript"></script>
    <script th:src="@{${cdn} + '/js/plugins/layer/layer.min.js'}" type="text/javascript"></script>
    <script th:src="@{${cdn} + '/js/hplus.min.js'}" type="text/javascript"></script>
    <script th:src="@{${cdn} + '/js/contabs.js'}" type="text/javascript"></script>
    <script th:src="@{${cdn} + '/js/plugins/pace/pace.min.js'}" type="text/javascript"></script>
    <script th:src="@{${cdn} + '/js/common.js'}" type="text/javascript"></script>
    <script th:src="@{${cdn} + '/js/plugins/jquery-zclip-master/jquery.zclip.js'}" type="text/javascript"></script>
</body>
</html>