<div th:fragment="nav-backend">
	<div class="col-md-3">
		<div class="sidenav">
			<ul class="list-group">
				<li th:each="source : ${session.LoginAccount.rootMenu.childList}" class="list-group-heading">
					<a th:if="${not #strings.isEmpty(source.url)}" th:href="@{${source.url}}" th:inline="text">
						<i class="glyphicon glyphicon-picture"></i>
						[[${source.nodeName}]]
					</a>
					<a th:if="${#strings.isEmpty(source.url)}" th:href="${'#menu_'+source.id}" 
						class="nav-header collapsed" data-toggle="collapse" th:inline="text">
						<i class="glyphicon glyphicon-picture"></i>
						[[${source.nodeName}]]
					</a>
					<ul th:if="${not #lists.isEmpty(source.childList)}" class="list-group collapse" th:id="${'menu_' + source.id}" >
						<li th:each="sub: ${source.childList}" class="list-group-heading">
							<a th:href="@{${#strings.defaultString(sub.url, '#')}}" th:inline="text">
								<i class="glyphicon glyphicon-picture"></i>
								[[${sub.nodeName}]]
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>