<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>门道教育网－成长测评</title>
	<head th:include="layout/head :: front" />
	<script>
		$(document).ready(function() {
			//限制字符个数
			$(".test-list-p span").each(function() {
				var maxwidth = 60;
				if ($(this).text().length > maxwidth) {
					$(this).text($(this).text().substring(0, maxwidth));
					$(this).text($(this).text() + '……');
				}
			});
		});
	</script>
</head>
<body class="index bg-color">
	<div th:include="layout/common/header::nav-header"></div>
	<div class="test-sup">
		<div class="container" style="margin-top: 35px; margin-bottom: 20px;min-height: 452px;">
			<div class="row">
				<p class="text-xxlg free-fw font-color text-center">
					发现你的优势，开发你的潜能
				</p>
				<p class="color-gray test-top-list">
					<span>
						通过专业的成长测评你会了解自己的优势和潜能并找到自己的盲区，只有足够的了解自己，你才能成为心灵富足、能力富足、善于组织和乐于分享的人！
					</span>
				</p>
				<hr class="test-hr"/>
			</div>
			<div class="row test-module">
				<div class="col-md-3 col-sm-3 col-xs-12" th:each="exam : ${pageBean.result}">
					<div class="test-item border-all">
						<img class="img-responsive center-block" th:src="@{${cdn} + ${exam.icon}}"></img>
						<p class="text-xlg free-fw text-center" style="margin-top: 10px;">
							<a th:href="@{'/front/growth/exam/detail?id=' + ${exam.id}}" th:text="${exam.title}">测试项目的标题</a>
						</p>
						<p class="text-mds text-center color-gray" th:text="${'适用对象：' + exam.scope}">0-18岁</p>
						<p class="test-list-p">
							<span th:text="${exam.summary}">如果你无法简洁的表达你的想法，那只说明你还不够了解它。 --阿尔伯特·爱因斯坦如果你无法简洁的表达你的想法，那只说明你还不够了不够了解它。</span>
						</p>
						<a class="center-block mbl special" th:href="@{'/front/growth/exam/detail?id=' + ${exam.id}}"><span>开始测试</span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- footer -->
	<div th:include="layout/front_nav::nav-footer"></div>	
</body>
</html>