<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>门道教育网－成长测评</title>
	<head th:include="layout/head :: front" /> 
</head>
<body class="index bg-color">
	<div th:include="layout/common/header::nav-header"></div>
	<input type="hidden" id="categories" th:value="${categories}"/>
	<div class="bg-color">
		<div class="container phs pvl">
			<div class="row">
				<p class="text-xxlg free-fw text-center color-gray" th:text="${exam.title}">儿童天赋能力测试</p>
				<p class="text-center mar">
					<i class="fa fa-angle-down fa-2x color-angle"></i>
				</p>
			</div>
			<div class="row test-mbt50">
				<div class="col-md-5 col-sm-5 col-xs-12">
					<img class="img-responsive center-block" th:src="@{${cdn}+${exam.image}}"></img>
				</div>
				<div class="col-md-7 col-sm-7 col-xs-12">
					<p class="color-gray center-block test-top-p" style="margin-top: 3%;" th:each="con : ${report.content}" th:text="${con}">
						成长是一生的事情，现在的孩子在成长过程中缺什么呢？他们缺少的是一种爱、担当、感恩、梦想的能力！
						缺少的是一种来自心灵、精神、人格等多层面的成长综合素质！缺少的是一种面对问题、困难、选择时的思维模式和学习方法！
						门道教育网成长助手在线测评系统，帮助孩子发现成长过程中的潜在问题。
					</p>
				</div>
			</div>
			<div class="row text-center mvl">
				<div class="col-md-6 col-sm-6 ">
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<a class="test-start mrl"> <span>更多测试</span></a>
					<a class="test-start hidden-xs"> <span>分享给好友</span></a>
				</div>
			</div>
		</div>
	</div>
	<div class="container" style="margin-top: 20px; margin-bottom: 20px;">
		<div class="row">
			<p class="text-xxlg free-fw text-center">猜你喜欢的机构</p>
			<hr class="center-block" style="margin-top:0px;margin-bottom:0px;width:90%" />
		</div>
		<div id="divSchools">
		</div>
	</div>
	<div th:include="layout/front_nav::nav-footer"></div>
	<script th:inline="javascript">
	/*<![CDATA[*/
	$(function(){
		showSchools();
	});
	function showSchools(){
		var url = /*[[@{/front/growth/exam/report/school}]]*/;
		var val = $('#categories').val();
		$.get(url, {cids: val}, function(data){
			$('#divSchools').append(data);
		});
	}
	/*]]>*/
	</script>
</body>
</html>