
<div class="row test-module">
	<div class="col-md-3 col-sm-6" th:each="school : ${pageBean.result}">
		<div class="section-item" th:onclick="'window.location.href=\''+@{'/front/school/detail/'+${school.id}}+'\''">
			<a> 
				<img th:src="@{${cdn} + ${#strings.defaultString(school.logoImage,'/images/home/1.jpg')}}" alt="attr" class="img90"></img>
			</a> 
			<p class="text-xlg free-fw mbt20">
				<a th:href="@{'/front/school/detail/'+${school.id}}" th:text="${school.schoolName}">机构名称机构名称机构名称……</a>
			</p>
			<div class="row section-row">
				<ul class="section-ul">
					<li th:each="list : ${school.schoolSticker}" th:text="${list.sticker.display}">机构标签</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div th:if="${pageBean.currentpage lt pageBean.totalpage}" class="row text-center mvl">
	<a class="test-more" href="javascript:;" onclick="showSchools();">
		<span>查看更多</span>
	</a>
</div>