<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>门道教育网－成长测评</title>
	<head th:include="layout/head :: front" />
	<style>
		.option_active{
			border: 1px solid #FF7043;border-radius: 50%;background-color: #FF7043;color: #fff;
		}
	</style>
</head>

<body class="index bg-color">
	<div th:include="layout/common/header::nav-header"></div>
	<!-- 开始测评 -->
	<form th:action="@{/front/growth/exam/report}" method="post">
		<input type="hidden" th:value="${exam.id}" name="examid"/>
	<div class="container">
		<div class="row text-center mtl">
			<p class="text-xxlg free-fw color-gray mar" th:text="${exam.title}">儿童天赋能力测试</p>
			<p class="text-center mar">
				<i class="fa fa-angle-down fa-2x color-angle"></i>
			</p>
			<p class="color-gray">
				<span>测评进度&nbsp;&nbsp;</span> <span id="jindu">1</span>/<span id="spSize" th:text="${#lists.size(subjects)}">20</span>
			</p>
		</div>
	</div>
	<div th:each="sub, stat: ${subjects}" th:class="${sub.type==1}?'container test-judge phs':'container test-judge test-pbt80'" 
		th:id="'divQue_' + ${stat.index}" th:style="${stat.index == 0}?'display:block;':'display:none;'">
		<input type="hidden" name="subject" th:value="${sub.id}"/>
		<input type="hidden" th:id="'hidOpt_' + ${stat.index}" name="option" value=""/>
		<div class="row mar">
			<p class="text-center text-24" th:text="${sub.question}">你善于用语言描述听到的各种声响</p>
		</div>
		<div class="row mv40" th:if="${sub.type==0}">
			<div class="col-md-6 col-sm-6 col-xs-6" th:each="opt, otpStat:${sub.options}">
				<div th:class="${otpStat.index == 0}? 'float-r mrl text-center test-option' : 'float-l mll text-center test-option'">
					<p class="mar mtl free-fw" th:text="${opt.text}" th:id="'pQue_' + ${opt.id}" th:onclick="'chooseOption('+${stat.index}+', '+${opt.id}+');'">
						是
					</p>
				</div>
			</div>
		</div>
		<div class="row mv40" th:if="${sub.type==1}">
			<div>
				<ul class="test-select">
					<li class="center-block" th:each="opt: ${sub.options}">
						<div class="row">
							<div class="col-md-1 col-sm-1 col-xs-1 text-center">
								<span th:text="${opt.code}">A</span>
							</div>
							<div class="col-md-10 col-sm-9 col-xs-9">
								<p class="text-lg" th:text="${opt.text}">你善于用语言描述听到的各种声响你善于用语言描述听到的各种声响</p>
							</div>
							<div class="col-md-1 col-sm-1 col-xs-1" th:id="'pQue_' + ${opt.id}">
								<a th:name="${'option_'+stat.index}" th:onclick="'chooseOption('+${stat.index}+', '+${opt.id}+');'">
									<span><i class="fa fa-check-square-o text-xxlg" ></i></span>
								</a>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="row mbl">
			<div class="col-md-12 col-sm-12 col-xs-12" >
				<div class="text-center" th:if="${stat.index > 0}">
					<p class="mar mtl color-gray test-next prev">
						<a href="javascript:;" th:onclick="'showOption('+ ${stat.index - 1} +');'">上一题</a>
					</p>
				</div>
			</div>
		</div>
		<div class="row mbl text-center" th:if="${stat.index eq stat.size-1}" id="divSubmit" style="display: none;">
			<input class="test-start mtl" type="submit" value="提交" />
		</div>
	</div>
	
	</form>
	
	<script th:inline="javascript">
	/*<![CDATA[*/
	function chooseOption(id, val, opt){
		/* if(opt){
			$('#divQue_' + id).find('.test-option').removeClass('option_active');
			$('#pQue_'+val).parent().addClass('option_active');
		} */
		var $div = $('#pQue_'+val);
		if($div.attr('target') == 'div'){
			$('#pQue_'+val).parents('li').siblings().find('a').removeClass('font-color');
			$('#pQue_'+val).find('a').addClass('font-color')
		}
		
		$('#hidOpt_' + id).val(val);	
		showOption(id+1);
		toggleSubmit(id);
	};
	
	function showOption(id){
		$('#jindu').text(id + 1);
		var $div = $('#divQue_'+id);
		$div.siblings('.test-judge').hide();
		$div.show();
	};
	
	function toggleSubmit(id){
		var last = $('#spSize').text();
		if(last == ((id+1) + '') && $('#hidOpt_' + id).val() != ''){
			$('#divSubmit').show();
		}else{
			$('#divSubmit').hide();
		}
	}
	/*]]>*/
	</script>
</body>

</html>