<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
<meta name="renderer" content="webkit"></meta>
<!--360浏览器优先以webkit内核解析-->
<title>后台管理 - 代理产品添加</title>
<link th:href="@{${cdn} + '/css/bootstrap.min.css'}" rel="stylesheet"></link>
<link th:href="@{${cdn} + '/css/font-awesome.min.css'}" rel="stylesheet"></link>
<link th:href="@{${cdn} + '/css/plugins/iCheck/custom.css'}"
	rel="stylesheet"></link>
<link th:href="@{${cdn} + '/css/animate.min.css'}" rel="stylesheet"></link>
<link th:href="@{${cdn} + '/css/plugins/webuploader/webuploader.css'}"
	rel="stylesheet"></link>
<link th:href="@{${cdn} + '/css/demo/webuploader-demo.min.css'}"
	rel="stylesheet"></link>
<link th:href="@{${cdn} + '/css/style.css'}" rel="stylesheet"></link>
<link rel="stylesheet"
	th:href="@{/js/plugins/kindeditor/themes/default/default.css}" />
<script th:src="@{${cdn} + '/js/jquery.min.js'}" type="text/javascript"></script>
<script th:src="@{${cdn} + '/js/bootstrap.min.js'}"
	type="text/javascript"></script>
<script th:src="@{${cdn} + '/js/plugins/layer/layer.min.js'}"
	type="text/javascript"></script>
<script th:src="@{${cdn} + '/js/content.min.js'}" type="text/javascript"></script>
<script type="text/javascript"
	th:src="@{/js/plugins/kindeditor/kindeditor-min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/plugins/kindeditor/lang/zh_CN.js}"></script>

<link th:href="@{/bootstrapFileInput/css/fileinput.css}" rel="stylesheet" />
<script th:src="@{/bootstrapFileInput/js/fileinput.js}" type="text/javascript"></script>
<script th:src="@{/bootstrapFileInput/js/fileinput_locale_zh.js}" type="text/javascript"></script>
	
<style type="text/css">
checkbox: {
	background: rgb(255, 255, 255);
	margin: 0px;
	padding: 0px;
	border: 0px;
	border-image: none;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	opacity: 0;
}
</style>
</head>
<body class="gray-bg">

	<!-- 添加新类目 -->
	<div class="wrapper wrapper-content">
		<form th:action="@{/dproduct/addProduct}" method="post"
			class="form-horizontal" enctype="multipart/form-data">
			<div class="modal-header">
				<h4 class="modal-title">添加新产品</h4>
			</div>
			<div class="modal-body modal-pad">
				<div class="form-group">
					<label for="acc-name" class="col-sm-3 control-label">产品名称<span
						class="form-required"> * </span>:
					</label>
					<div class="col-sm-9">
						<input class="form-control product-dic" placeholder="名称"
							name="pName" value="" type="text" />
					</div>
				</div>
				<div class="form-group">
					<label for="acc-name" class="col-sm-3 control-label">产品描述<span
						class="form-required"> * </span>:
					</label>
					<div class="col-sm-9">
						<textarea class="form-control product-dic" placeholder="描述"
							name="desc"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label for="acc-name" class="col-sm-3 control-label">价格<span
						class="form-required"> * </span>:
					</label>
					<div class="col-sm-9">
						<input class="form-control product-dic" placeholder="价格"
							name="price" />
					</div>
				</div>
				<div class="form-group">
					<label for="acc-name" class="col-sm-3 control-label">产品状态<span
						class="form-required"> * </span>:
					</label>
					<div class="col-sm-9">
						<select name="status">
							<option value="0">在售</option>
							<option value="1">补货</option>
							<option value="2">售空</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="acc-name" class="col-sm-3 control-label">产品类目<span
						class="form-required"> * </span>:
					</label>
					<div class="col-sm-9">
						<ul class="product-ul" style="list-style: none">
							<li th:each="properties : ${pageBean}"
								style="float: left; margin-right: 10px"><span
								th:text="${properties.kindName}"></span><input class="i-checks"
								type="checkbox" name="kindId" th:value="${properties.id}" /></li>
						</ul>
					</div>
				</div>
				<div class="form-group">
					<label for="acc-name" class="col-sm-3 control-label">产品图片<span
						class="form-required"> * </span>:
					</label>
                   	<div class="container kv-main col-sm-9">
	                     <input id="fileUpload" name="fileUpload" type="file" multiple="true" class="file-loading" />
                    </div>
                </div>
			</div>
			<div class="modal-footer">
				<a class="btn btn-sm btn-primary" style="margin-left: 30px;"
					th:href="@{'/dproduct/list/-1'}">取消</a>
				<button type="submit" class="btn btn-primary">保存</button>
			</div>
		</form>
	</div>

	<script th:inline="javascript">
	$(function(){
			var $input = $("#fileUpload");
			$input.fileinput({
			    uploadUrl: "/fileUpload/upload", // server upload action
			    uploadAsync: false,
			    showUpload: false, // hide upload button
			    showRemove: false, // hide remove button
			    minFileCount: 1,
			    maxFileCount: 5
			}).on("filebatchselected", function(event, files) {
			    $input.fileinput("upload");
			}).on("fileuploaded", function(event, data, previewId, index) {
				alert("data" + data);
				alert("previewId" + previewId);
				alert("index" + index);
			};
		});
		
		function loadData(num) {
            $("#PageCount").val("80");//总共的数据条数
        }
    </script>
</body>
</html>