<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="renderer" content="webkit"></meta>
    <title>后台管理 - 产品列表</title>
    <link th:href="@{${cdn} + '/css/bootstrap.min.css'}" rel="stylesheet"></link>
    <link th:href="@{${cdn} + '/css/font-awesome.min.css'}" rel="stylesheet"></link>
    <link th:href="@{${cdn} + '/css/plugins/iCheck/custom.css'}" rel="stylesheet"></link>
    <link th:href="@{${cdn} + '/css/animate.min.css'}" rel="stylesheet"></link>
    <link th:href="@{${cdn} + '/css/style.css'}" rel="stylesheet"></link>
    <script th:src="@{${cdn} + '/js/jquery.min.js'}" type="text/javascript"></script>
    <script th:src="@{${cdn} + '/js/bootstrap.min.js'}" type="text/javascript"></script>
    <script th:src="@{${cdn} + '/js/plugins/metisMenu/jquery.metisMenu.js'}" type="text/javascript"></script>
    <script th:src="@{${cdn} + '/js/plugins/slimscroll/jquery.slimscroll.min.js'}" type="text/javascript"></script>
    <script th:src="@{${cdn} + '/js/plugins/layer/layer.min.js'}" type="text/javascript"></script>
    <script th:src="@{${cdn} + '/js/hplus.min.js'}" type="text/javascript"></script>
    <script th:src="@{${cdn} + '/js/contabs.js'}" type="text/javascript"></script>
    <script th:src="@{${cdn} + '/js/plugins/pace/pace.min.js'}" type="text/javascript"></script>
    <script th:src="@{${cdn} + '/js/common.js'}" type="text/javascript"></script>
    <style>
	     table thead tr th{
	     	word-break: break-word;
	     	word-break:break-all;
	     }
	     table tbody tr td{
	     	word-break: break-word;
	     	word-break:break-all;
	     }
	     
     	@media only screen and (max-width: 768px) {
			.time-hide{
				display: none;
			}
		}
	     
    </style>
    <script th:inline="javascript">
    	function _select_all(){
    		if($("#selectAll").is(':checked')){
    			$("tbody").find("input[type='checkbox']").each(function(){
    				this.checked = true;
    			});
    		}else{
    			$("tbody").find("input[type='checkbox']").each(function(){
    				this.checked = false;
    			});
    		}
    	}
    	
    	function updateDproductStatus(obj){
    		var ids = "";
    		$("tbody").find("input[type='checkbox']").each(function(){
    			if($(this).is(":checked")){
	    			var id = $(this).val();
	    			ids += (id + ",");
    			}
    		});
    		if(ids.length == 0){
    			alert("请选择要修改的产品!");
    			return;
    		}
    		ids = ids.substring(0, ids.length - 1);
    		var status = $("#productStatus").val();
    		$(obj).attr("href", $(obj).attr("value") + ids + "/" + status);
    		$(obj).click();
    	}
    	
    	function deleteDataByIds(){
	    	if(isSelectData("dProductId")){
	    		var ids = getCheckValue("dProductId");
	    		if(confirm('确定要删除所选的数据吗?')){
		    		$.post(
		   					/*[[@{'/dproduct/deleteByIds'}]]*/ ,
		   					{ 'ids':ids.join() },
		   					function (data, status) {
		   						if(data.status == 1){
		   							layer.alert(data.message,{icon: 1}, function(index){
		   								  	layer.close(index);
				   							window.location.href=window.location.href;
		   								});
		   						}else{
		   							layer.alert(data.message,{icon: 2}, function(index){
										  	layer.close(index);
										});
		   						}
		   					}
		   				);
	    		}
	    	}
    	}
    </script>
</head>
<body class="fixed-sidebar gray-bg"> 
<div id="wrapper">
        <div th:include="layout/common/home-left"></div>
        <!--左侧导航结束-->
        <!--右侧部分开始-->
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                    	<a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#">
                    		<i class="fa fa-bars"></i> 
                    	</a>
                    </div>
                </nav>
            </div>
            <div class="row J_mainContent" id="content-main">
            	<div class="wrapper wrapper-content">
                    <div class="row">
                        <div class="ibox float-e-margins ph10" >
                            <div class="ibox-title">
                                <h5>产品列表</h5>
                            </div>
                            <div>
                                <select id="productStatus">
                                    <option value="1">修改为上架</option>
                                    <option value="0">修改为下架</option>
                                </select>
                                <a th:value="@{'/dproduct/updateSaleDProduct/'}" class="btn btn-primary" onclick="updateDproductStatus(this);">提交</a>
                                <a class="btn btn-primary" th:href="@{'/dproduct/list/' + -1}">查看所有</a>
                                <a class="btn btn-primary" th:href="@{'/dproduct/list/' + 1}">查看所有上架商品</a>
                                <a class="btn btn-primary" th:href="@{'/dproduct/list/' + 0}">查看所有下架商品</a>
                                <a class="btn btn-primary" onclick="deleteDataByIds()" href="javascript:;">批量删除</a>
                                <a class="btn btn-primary" th:href="@{'/dproduct/initAddProduct'}">增加产品</a>
                            </div>
                            <div class="ibox-content">
                                <table id="editable" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th><input id="selectAll" type="checkbox" onclick="_select_all();" />全选</th>
                                            <th>产品名称</th>
                                            <th>价格</th>
                                            <th>状态</th>
                                            <th>创建人</th>
                                            <th class="time-hide">创建时间</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="dproduct : ${pageBean.result}">
                                            <td><input name="dProductId" type="checkbox" th:value="${dproduct.id}"/></td>
                                            <td th:text="${dproduct.pName}">*</td>
                                            <td th:text="${dproduct.price}">*</td>
                                            <td th:if="${dproduct.status == 1}">上架</td>
                                            <td th:if="${dproduct.status == 0}">下架</td>
                                            <td th:text="${dproduct.createUserId.userName}">*</td>
                                            <td class="time-hide" th:text="${#dates.format(dproduct.createTime, 'yyyy-MM-dd HH:mm')}">*</td>
                                            <td>
                                                <a class="btn btn-primary" th:href="@{'/dproduct/initUpdateProduct/' + ${dproduct.id}}">修改</a>
                                                <a class="btn btn-primary" th:onclick="'deleteData(\''+@{'/dproduct/deleteDProduct/'+${dproduct.id}}+'\');'" href="javascript:;">删除</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="row">
                                    <nav>
                                        <div th:include="layout/common/pagination :: pagination"></div>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="footer">
                <div class="pull-right">
                	&copy; 2016 
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>