<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
		<title>产品搜索</title>
		<link th:href="@{${cdn} + '/css/font-awesome/css/font-awesome.min.css'}" rel="stylesheet"></link>
	   	<link th:href="@{${cdn} + '/css/new-style.css'}" rel="stylesheet"></link>
		<script th:src="@{${cdn} + '/js/jquery.min.js'}" type="text/javascript"></script>
	</head>
	<body class="home edit-agent mt48 search" >
		<header class="header header-bg bor" >
			<div class="back" >
				<a class="arrow-left" th:href="@{/dproduct/list/-1}">
					<span><i class="fa fa-angle-left"></i></span>
				</a>
			</div>
			<form th:action="@{/dproduct/list/-1}" method="post">
				<div class="search-input fl"  >
					<span class="search-icon" ><i class="fa fa-search"></i></span>
					<input type="text" class="form-control" style="width:100%" name="pName" placeholder="按产品名称搜索" />
				</div>
			</form>
			<div class="clearfix"></div>
		</header>
	</body>
</html>
