<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>我收藏的话题</title>
	<head th:include="/layout/head :: front" />
</head>

<body class="index">
	<!--
        	作者：727674928@qq.com
        	时间：2015-09-17
        	描述：顶部菜单和logo
        -->
	<div th:include="layout/common/header::nav-header"></div>
	<!--
        	作者：727674928@qq.com
        	时间：2015-09-19
        	描述：话题banner
        -->
	<section class="p-home">
		<div class="container">
			<div class="personImg" style="text-align: center;">
				<a class="js-user-card" href="" data-card-url="" data-user-id="">
					<img class="img-responsive" src="#"></img>
				</a>
			</div>
		</div>
	</section>

	<!--
        	作者：727674928@qq.com
        	时间：2015-09-19
        	描述：话题内容显示部分
        -->
	<div style="background-color: #ffffff;">
		<div class="container">
			<div class="row">
				<div class="col-md-2 col-sm-4 col-xs-4 text-center head-topic">
					<a th:href="@{/front/m/topic/myTopic}"><span>我发布的</span></a>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-4 text-center head-topic">
					<a th:href="@{/front/m/topic/myJoinTopic}"><span>我参与的</span></a>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-4 text-center head-topic">
					<a th:href="@{/front/m/topic/myCollection}" class="active"><span>我收藏的</span></a>
				</div>
			</div>
		</div>
	</div>
	<div class="container" id="content-container" style="margin-top: 5px;">
		<div class="row">
			<div class="col-md-8 col-sm-12 col-xs-12">
		<div class="panel panel-default panel-col">
			<div class="panel-heading" style="border-bottom: 1px solid #eee;">
				我收藏的话题</div>
				<div class="panel-body">
					<ul class="media-list thread-list">
						<li class="media" th:each="topicCollection : ${pageBean.result}">
							<div class="row">
								<div class="col-md-10 ">
									<p>
										<span th:text="${topicCollection.topic.author.nickName}" class="author-topic">作者的名字&nbsp;&nbsp;</span>
										<span th:text="${#dates.format(topicCollection.topic.createDate, 'yyyy-MM-dd HH:mm:ss')}" class="read-topic">2015-02-03</span>
									</p>
									<p class="title-topic">
										<a th:text="${topicCollection.topic.subject}" th:href="@{'/front/topic/topicDetail/'+${topicCollection.topic.id}}">2015年小升初需要注意的</a>
									</p>
									<p class="read-topic">
										<span>阅读&nbsp;</span><span th:text="${topicCollection.topic.views}">10000&nbsp;&nbsp;</span> <span>评论&nbsp;</span><span th:text="${topicCollection.topic.commentNumber}">10000&nbsp;&nbsp;</span>
										<span>点赞&nbsp;</span><span th:text="${topicCollection.topic.ups}">10000&nbsp;&nbsp;</span>
									</p>
								</div>
								<div class="col-md-2" th:if="${topicCollection.topic.topicImage}" th:style="${'width:100px;height:100px;background-size:cover;background-image:url('+cdn+topicCollection.topic.topicImage+');'}">
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="row">
					<div class="span6">
						 <div th:include="layout/common/pagination :: pagination"></div>  
					</div> 
				</div>
			</div>
		</div>
		<!-- 右侧个人信息显示 -->
		<div th:include="/front/topic/userinfo_nav::nav-baseinfo"></div>
		</div>
	</div>

	<!--
        	作者：727674928@qq.com
        	时间：2015-09-17
        	描述：footer
        -->
	<div th:include="/layout/front_nav::nav-footer"></div>
</body>

</html>