<script th:inline="javascript">
/*<![CDATA[*/
	function getTopicMore(){
		var url = /*[[@{'/front/topic/search'}]]*/;
		var curpage = parseInt($("#current_page").val())+1;
		var topic_keywords = $("#topic_keywords").val();
		url += "?curpage="+curpage;
		if (typeof(topic_keywords) != "undefined") { 
			url += "&keywords="+topic_keywords;
		} 
		$("#search_page").remove();
		$.get(
				url,
				{ },
				function (data, status) {
					$(".media-list li:last").after(data);
					if(curpage >= $("#total_page").val()){
						$("#search_page").hide();
					}
			});
	}
/*]]>*/
</script>
<div class="row">
	<div class="col-md-8 col-sm-12 col-xs-12">
		<div class="panel panel-default panel-col box-shadow0">
			<div class="panel-body" th:if="${#lists.size(pageBean.result) > 0}">
				<ul class="media-list thread-list">
					<li class="media" th:each="topic : ${pageBean.result}">
						<div class="row">
							<div class="col-md-10 col-sm-10 col-xs-10">
								<p>
									<span th:text="${topic.author.nickName}" class="author-topic">作者的名字&nbsp;&nbsp;</span>
									<span th:text="${#dates.format(topic.createDate, 'yyyy-MM-dd HH:mm')}" class="read-topic">2015-02-03</span>
								</p>
								<p class="title-topic">
									<a th:text="${topic.subject}" th:href="@{'/front/topic/topicDetail/'+${topic.id}}">2015年小升初需要注意的</a>
								</p>
								<p class="read-topic">
									<span>阅读&nbsp;</span><span th:text="${topic.views}">10000&nbsp;&nbsp;</span> <span>评论&nbsp;</span><span th:text="${topic.commentNumber}">10000&nbsp;&nbsp;</span>
									<span>点赞&nbsp;</span><span th:text="${topic.ups}">10000&nbsp;&nbsp;</span>
								</p>
							</div>
							<div class="col-md-2 col-sm-2 col-xs-2" th:if="${topic.topicImage}" th:style="${'width:100px;height:100px;background-size:cover;background-image:url('+cdn+topic.topicImage+');'}">
								
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="panel-body" th:if="${#lists.size(pageBean.result) == 0}">
				暂无内容
			</div>
		</div>
	</div>			
</div>
<div id="search_page" class="panel-footer text-center border0" th:if="${pageBean.totalpage > pageBean.currentpage}">
	<input type="hidden" id="current_page" th:value="${pageBean.currentpage}" />
	<input type="hidden" id="total_page" th:value="${pageBean.totalpage}" />
	<div class="row">
		<a href="javascript:;" onclick="getTopicMore()"><span class="text-lg free-fw">查看更多</span></a>
	</div>
</div>