<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>门道网络 － 添加角色</title>
	<head th:include="layout/head :: backend"></head>
	<head th:include="layout/head :: validator"></head>
	<link rel="stylesheet" th:href="@{/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css}"/>
    <script type="text/javascript" th:src="@{/bootstrap-datetimepicker/js/moment.min.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js}"></script>
    <script type="text/javascript" th:src="@{/js/tree/jquery.ztree.all-3.5.min.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/js/tree/zTreeStyle/zTreeStyle.css}"/>
</head>
<body>
<header class="header">
	<div th:include="layout/common/header :: nav-header"></div>
</header>
<div class="container">
	<div class="row">
		<!--  -->
		<div class="col-lg-2 col-sm-10">
			<div th:include="layout/main-nav :: nav-backend"></div>
		</div>
		<div class="col-lg-10 col-sm-10">
			<div class="row">
				<div class="col-lg-5 col-sm-10">
					<fieldset>
						<label class="col-lg-3 col-lg-offset-3" th:if="${#strings.isEmpty(message) == false}" th:text="${message}"></label>
					</fieldset>	
						<form id="defaultForm" method="post" class="form-horizontal" action=""
							data-bv-message="This value is not valid"
		                    data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
		                    data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
		                    data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
		                    <input name="id" th:value="${fwSource.id}" type="hidden" />
		                    <input id="parent_id" name="parent.id" type="hidden" th:if="${#strings.isEmpty(fwSource.parent) == true}"/>
		                    <input id="parent_id" name="parent.id" type="hidden" th:if="${#strings.isEmpty(fwSource.parent) == false}" th:value="${fwSource.parent.id}"/>
		                    <input id="sortSeq" name="sortSeq" type="hidden" th:value="${#strings.defaultString(fwSource.sortSeq, '0')}"/>
						<fieldset>
							<div class="form-group">
		                        <label class="col-lg-3 control-label">权限名称</label>
		                        <div class="col-lg-8 col-sm-5">
		                            <input type="text" class="form-control" name="sourceName" th:value="${fwSource.sourceName}" placeholder="角色名称" required="required" 
		                            	pattern="^([\u4e00-\u9fa5]{2,10}|[a-zA-Z]{5,30})$" data-bv-regexp-message="请输入2-10位中文或者5-30位字母"/>
		                        </div>
		                    </div>
		                    <div class="form-group">
		                        <label class="col-lg-3 control-label">权限链接</label>
		                        <div class="col-lg-8 col-sm-5">
		                            <input type="text" class="form-control" name="sourceAction" th:value="${fwSource.sourceAction}" placeholder="角色名称" required="required" />
		                        </div>
		                    </div>
		                    <div class="form-group">
		                        <label class="col-lg-3 control-label">上级权限</label>
		                        <div class="col-lg-8 col-sm-5">
		                            <input type="text" class="form-control" id="parent_sourceName" name="parent.sourceName" th:if="${#strings.isEmpty(fwSource.parent) == true}"  placeholder="角色名称" required="required" />
		                            <input type="text" class="form-control" id="parent_sourceName" name="parent.sourceName" th:value="${fwSource.parent.sourceName}" th:if="${#strings.isEmpty(fwSource.parent) == false}"  placeholder="角色名称" required="required" />
		                            <!-- <input type="text" class="form-control" name="parent_sourceName" name="parent.sourceName"  th:if="${#strings.isEmpty(fwSource.parent) == false}"  readonly="readonly" placeholder="角色名称" required="required" /> -->
		                        </div>
		                    </div>
		                     <div class="form-group">
		                        <label class="col-lg-3 control-label">菜单？</label>
		                        <div class="col-lg-8 col-sm-5">
		                            <div class="checkbox">
		                                <input type="checkbox" name="isMenu" value="1" /> 激活
		                            </div>
		                        </div>
		                    </div>
		                    
		                    <div class="form-group">
		                        <label class="col-lg-3 control-label">权限状态</label>
		                        <div class="col-lg-8 col-sm-5">
		                            <div class="checkbox">
		                                <input type="checkbox" name="status" value="1" /> 激活
		                            </div>
		                        </div>
		                    </div>
		                    
		                    <div class="form-group">
		                        <label class="col-lg-3 control-label">权限描述</label>
		                        <div class="col-lg-8 col-sm-5">
		                            <textarea class="form-control" name="description" placeholder="描述" th:inline="text">[[${fwSource.description}]]</textarea>
		                        </div>
		                    </div>
		                    <div class="form-group">
		                        <div class="col-lg-3 col-lg-offset-3">
		                            <button type="submit" class="btn btn-primary">提交</button>
		                        </div>
		                    </div>
						</fieldset>
						<fieldset>
							
						</fieldset>
						</form>

				</div>
				<div class="col-lg-4 col-sm-10">
					<ul id="treeDemo" class="ztree" style="width:100%"></ul>
				</div>
			</div>
		</div>	
	</div>
</div>
<script th:inline="javascript">
/*<![CDATA[*/
	$(document).ready(function(){
		var setting = {
				check: {
					enable: true,
					chkStyle: "radio",
					radioType: "all"
				},
				data: {
					simpleData: {
						enable: true
					}
				},
				callback: {
					onCheck: zTreeOnCheck
				}

			};
			var zNodes = /*[[${treeNodes}]]*/;
		jQuery.fn.zTree.init($("#treeDemo"), setting, eval(zNodes));
		$('#defaultForm').bootstrapValidator();
	});
	function zTreeOnCheck(event, treeId, treeNode) {
		/* $.each(function(treeNode,param){
				this.checked=treeNode.checked;
		}); */
		$('#parent_id').val(treeNode.id);
		$('#parent_sourceName').val(treeNode.name);
		var seqnbr = 0;
		if(!!treeNode.sortSeq){
			seqnbr = treeNode.sortSeq;
		}
			
		alert(seqnbr);
		var len = 0;
		if(treeNode.isParent){
			len = treeNode.children.length;
		}
		if(len < 10){
			seqnbr = seqnbr + '0' + (len + 1);
		}else{
			seqnbr = seqnbr + '' + (len + 1);
		}
		
		$('#sortSeq').val(seqnbr);
	};
/*]]>*/
</script>
</body>
</html>
