<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/head :: front" />
<script th:src="@{/js/readmore.js}"></script>
<script th:src="@{'http://api.map.baidu.com/api?ak=tB0Zqws68Rc52lSIVSGrV9pS'}"></script>
<script type="text/javascript" th:src="@{/js/fancybox/jquery.fancybox.pack.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/js/fancybox/jquery.fancybox.css}" />
<script th:inline="javascript">
/*<![CDATA[*/
	$(function(){
		$.get(
			/*[[@{'/front/school/showBranch/'+${school.id}}]]*/,
			{ },
			function (data, status) {
				$("#school_branch").html(data);
		});
		$('#school_introduction').readmore(
				{
					maxHeight: 400,
					moreLink:'<div class="panel-footer text-center" style="border:0px"><div class="row"><a href="#"><span class="text-lg free-fw">显示全部</span></a></div></div>',
					lessLink:''
				});
		var district = /*[[${school.district}]]*/;
		district = district.replace(/,/g, "");
		var address = /*[[${school.address}]]*/;;
		getBaiduMap(district + address);
		$(".fancybox").fancybox({
				'titlePosition' : 'over',
				'cyclic'        : true});
	});
	function showMorePage(id){
		var url = "";
		if(id==1){
			url = /*[[@{'/front/school/showProduct/'+${school.id}}]]*/;
		}else if(id==2){
			url = /*[[@{'/front/school/showAttach/'+${school.id}}]]*/;
		}else if(id==3){
			url = /*[[@{'/front/school/showComment/'+${school.id}}]]*/;
		}
		$.get(
			url,
			{ },
			function (data, status) {
				$("#school_content").html(data);
				$("#school_nav a").removeClass("active");
				$("#school_nav a:eq("+id+")").addClass("active");
		});
	}
	//对评论的回复
	function submitCommentDetail(id){
		var content = $("#textarea_"+id).val();
		if(content == ""){
			layer.open({
			    content: '请输入回复内容',
			    style: 'background-color:#09C1FF; color:#fff; border:none;',
			    time: 2
			});
			return;
		}
		var school_id = /*[[${school.id}]]*/;
		$.post(
				/*[[@{/front/m/school/submitChildCommit}]]*/,
				{ 'parent.id':id,'content':content,'school.id':school_id },
				function (data, status) {
					if(data.msg == 1){
						layer.open({
						    content: '评论成功',
						    style: 'background-color:#09C1FF; color:#fff; border:none;',
						    time: 2
						});
						location.reload();
					}
				}
			);
	}
	
	function submitCommit(){
		if($("#login_status").val() == 0){
			$("#loginModal").modal();
		}else{
			var comment_content = $("#comment_content").val();
			if(comment_content == ""){
				layer.open({
				    content: '请输入评论内容',
				    style: 'background-color:#09C1FF; color:#fff; border:none;',
				    time: 2
				});
				return;
			}
			$("#school_comment_form").submit();
		}
	}
	function replayComment(id){
		if($("#login_status").val() == 0){
			$("#loginModal").modal();
		}else{
			$('#reply_textarea_'+id).toggle();
			$("#textarea_"+id).html("");
			$("#textarea_"+id).focus();
		}
	}
	function replayCommentChild(id,nickName){
		if($("#login_status").val() == 0){
			$("#loginModal").modal();
		}else{
			$('#reply_textarea_'+id).toggle();
			$("#textarea_"+id).html("回复 @"+nickName+":");
			$("#textarea_"+id).focus();
		}
	}
	function showChildComment(id){
		$("#child_comment_div_"+id).show();
		$("#show_child_comment_button_"+id).hide();
		$("#hide_child_comment_button_"+id).show();
	}
	function hideChildComment(id){
		$("#child_comment_div_"+id).hide();
		$("#show_child_comment_button_"+id).show();
		$("#hide_child_comment_button_"+id).hide();
	}
	function callFreePhone(){
		var phone = $("#call_tel").val();
	  	if(phone.search(/^((\+?86)|(\(\+86\)))?(13[012356789][0-9]{8}|15[012356789][0-9]{8}|18[02356789][0-9]{8}|17[02356789][0-9]{8}|147[0-9]{8}|1349[0-9]{7})|^((\d{4}|\d{3})-(\d{7,8})|(\d{4}|\d{3})[-]{0,1}(\d{7,8}))$/) != 0) {
	  		layer.open({
			    content: '联系方式错误',
			    style: 'width:150px; height:150px; font-size:18px;padding-top:44px;text-align:center; border-radius:50%;  background-color:#FF7043; color:#fff; border:none;',
			    time: 2
			});
	  		return;
	  	}
	  	var callPhone =  /*[[${school.phone}]]*/;
	  	$.post(
				/*[[@{/front/school/freeCall}]]*/,
				{ 'phone':phone,'callPhone': callPhone},
				function (data, status) {
					if(data.msg == 1){
						$(".close").click();
						layer.open({
						    content: '请稍等',
						    style: 'width:150px; height:150px; font-size:18px;padding-top:44px;text-align:center; border-radius:50%;  background-color:#FF7043; color:#fff; border:none;',
						    time: 2
						});
					}else{
						layer.open({
						    content: '通话失败',
						    style: 'width:150px; height:150px; font-size:18px;padding-top:44px;text-align:center; border-radius:50%;  background-color:#FF7043; color:#fff; border:none;',
						    time: 2
						});
					}
				}
			);
	}
	function getBaiduMap(address){
		// 百度地图API功能
		var map = new BMap.Map("schoolmap");    // 创建Map实例
		map.centerAndZoom(new BMap.Point(116.404, 39.915), 11);  // 初始化地图,设置中心点坐标和地图级别
		map.addControl(new BMap.MapTypeControl());   //添加地图类型控件
		
		map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放

	    	var local = new BMap.LocalSearch(map, {
	        	renderOptions: {map: map, panel: "results"}
	    	});
	    	var opts = {anchor: BMAP_ANCHOR_TOP_RIGHT, offset: map.getCenter()};
	    	map.addControl(new BMap.NavigationControl(opts));
	    	local.search(address);
	}
/*]]>*/
</script>
<!-- 机构详情pc端 -->

<body class="index bg-color">
	<!--
        	作者：727674928@qq.com
        	时间：2015-09-17
        	描述：顶部菜单和logo
        -->
	<div th:include="layout/common/header::nav-header"></div>
	<input type="hidden" id="login_status" th:value="${loginStatus }"/>
	<div class="school-banner hidden-xs">
		<div class="container">
			<div class="row school-banner-pc">
				<div class="col-md-5 col-sm-5 text-center mts pv8">
					<img th:src="@{${cdn} + ${#strings.defaultString(school.logoImage,'/images/home/1.jpg')}}" class="img150c center-block"></img>
					<div class="row plm">
						<p class="text-xxlg mvm free-fw font-fff" th:text="${school.schoolName}">门道文化教育研究院</p>
					</div>
					<div class="row font-fff">
						<span class="text-sm" th:text="${school.classification}">文化课辅导、语言培训</span>
					</div>
				</div>
				<div class="col-md-7 col-sm-7 bg-color pad20 mts">
					<div class="row border-style padding-row text-lg">
						<i class="fa fa-graduation-cap mrs text-lg school-i-w font-color"></i> 
						<span class="text-lg">招生对象：</span> 
						<span class="text-lg" th:text="${school.enrollObject}">小学生、初中生、高中生</span>
					</div>
					<div class="row border-style padding-row">
						<i class="fa fa-user mrs text-lg school-i-w font-color"></i> 
						<span class="text-lg">授课模式：</span> 
						<span class="text-lg" th:text="${school.teachingMode}">一对一</span>
					</div>
					<div class="row border-style padding-row">
						<i class="fa fa-globe mrs text-lg school-i-w font-color"></i> 
						<span class="text-lg">所在城市：</span> 
						<span class="text-lg" th:text="${school.district}">陕西省西安市莲湖区</span>
					</div>
					<div class="row padding-row">
						<i class="fa fa-map-marker mrs text-lg school-i-w font-color"></i> 
						<span class="text-lg">机构地址：</span> 
						<span class="text-lg" th:text="${school.address}">西安市莲湖区西安市莲湖区</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="border-style pvs">
		<div class="container phl">
			<div class="row" id="school_nav">
				<div class="col-md-1 col-sm-2 col-xs-3">
					<a th:href="@{'/front/school/detail/'+${school.id}}" href="javascript:;" class="active"><h4>简介</h4></a>
				</div>
				<div class="col-md-1 col-sm-2 col-xs-3">
					<a href="javascript:;" onclick="showMorePage(1)"><h4>课程</h4></a>
				</div>
				<div class="col-md-1 col-sm-2 col-xs-3">
					<a href="javascript:;" onclick="showMorePage(2)"><h4>环境</h4></a>
				</div>
				<div class="col-md-1 col-sm-2 col-xs-3">
					<a href="javascript:;" onclick="showMorePage(3)"><h4>评价</h4></a>
				</div>
			</div>
		</div>
	</div>

	<div class="container mtm">
		<div class="row">
			<div class="col-md-8 col-sm-12 col-xs-12" id="school_content">
				<div class="panel panel-default box-shadow0 main-topic mar">
					<div class="panel-heading border-style">
						<p class="text-xlg mb0">机构简介</p>
					</div>
					<div class="panel-body" id="school_introduction">
						<p class="mb0" th:utext="${school.introduction}">
							机构详情机构详情机构详情 机构详情机构详情机构详情 机构详情机构详情机构详情
							机构详情机构详情机构详情 机构详情机构详情机构详情 机构详情机构详情机构详情
						</p>
					</div>
				</div>

				<div class="panel panel-default box-shadow0" th:if="${#lists.size(productList.result) > 0}">
					<div class="panel-heading">
						<span>开设课程</span>
					</div>
					<div class="panel-body course-bor" style="padding-top: 0px; padding-bottom: 0px;">
						<div class="row pvm" th:each="product : ${productList.result}">
							<div class="float-l">
								<img th:src="@{${cdn}+${product.imagePath}}" class="img60 mhm" />
							</div>
							<div class="float-l">
								<p class="text-center text-lg mvl mll" th:text="${product.productName}">课程标题课程标题课程标题课程标题课程</p>
							</div>
						</div>
					</div>
					<div class="panel-footer text-center" style="border:0px;" th:if="${productList.totalpage>1}">
						<div class="row">
							<a href="javascript:;" onclick="showMorePage(1)"><span class="text-lg free-fw">查看更多</span></a>
						</div>
					</div>
				</div>

				<div class="panel panel-default box-shadow0 mar" th:if="${#lists.size(attachmentList.result) > 0}">
					<div class="panel-heading">
						<span>机构环境</span>
					</div>
					<div class="panel-body" style="padding-bottom: 0px;">
						<div class="row pvm">
							<div class="col-md-4 col-sm-4 col-xs-4" th:each="attachment : ${attachmentList.result}">
								<a th:href="@{${cdn}+${attachment.imagePath}}" data-fancybox-group="gallery" class="fancybox">
									<div th:style="${'width:230px;height:150px;background-size:cover;background-image:url('+cdn+attachment.imagePath+');'}"></div>
								</a>
							</div>
						</div>
					</div>
					<div class="panel-footer text-center" style="border:0px;" th:if="${attachmentList.totalpage>1}">
						<div class="row">
							<a href="javascript:;" onclick="showMorePage(2)"><span class="text-lg free-fw">查看更多</span></a>
						</div>
					</div>
				</div>

				<div class="panel panel-default box-shadow0 hidden-xs mar">
					<div class="panel-heading">点评机构</div>
					<div class="panel-body">
						<form class="form-group" id="school_comment_form" method="post" th:action="@{'/front/m/school/submitComment'}">
							<div class="row">
								<div class="col-md-10 col-sm-10">
									<input class="form-control" name="content" placeholder="输入框" id="comment_content"></input>
									<input type="hidden" name="school.id" th:value="${school.id}"></input>
								</div>
								<div class="col-md-2 col-sm-2">
									<div class="btn btn-primary btn-report" onclick="submitCommit()">发送</div>
								</div>
							</div>
						</form>
					</div>
				</div>

				<div class="panel panel-default panel-col box-shadow0 mar">
					<div class="panel-heading">全部评价（<span th:text="${school.commentNumber}">0</span>）</div>
					<div class="panel-body" style="padding-bottom: 0px;" id="school_comment">
						<ul class="media-list">
							<li class="media" th:each="schoolComment : ${commentList}">
								<a class="pull-left" th:href="@{'/front/user/home?id='+${schoolComment.comment.author.id}}">
									<img th:if="${schoolComment.comment.author.icon}" th:src="@{${cdn}+${schoolComment.comment.author.icon}}" class="img-circle user-headimg"></img>
									<img th:if="${#strings.isEmpty(schoolComment.comment.author.icon)}" th:src="@{'/images/home/1.jpg'}" class="img-circle user-headimg"></img>
								</a>
								<div class="media-body">
									<div class="meta">
										<strong>
											<a th:href="@{'/front/user/home?id='+${schoolComment.comment.author.id}}"><span class="color-nickname" th:text="${schoolComment.comment.author.nickName}">用户昵称</span></a>
										</strong>
										<span class="mhm" th:text="${#dates.format(schoolComment.comment.createdDate, 'yyyy-MM-dd HH:mm')}">回复时间</span>
									</div>
									<div class="content">
										<p th:text="${schoolComment.comment.content}" style="margin-bottom:0px">评论内容</p>
									</div>
									<div class="text-muted text-normal pull-right">
										<a href="javascript:;" th:if="${#lists.size(schoolComment.childComment) == 0}" th:onclick="'replayComment('+${schoolComment.comment.id}+')'" class="reply">回复</a>
										<a href="javascript:;" th:if="${#lists.size(schoolComment.childComment) > 0}" th:style="${#lists.size(schoolComment.childComment) == 0}?'':'display:none;'" th:onclick="'showChildComment('+${schoolComment.comment.id}+')'" th:id="'show_child_comment_button_'+${schoolComment.comment.id}" class="reply">回复(<span th:text="${#lists.size(schoolComment.childComment)}">0</span>)</a>
										<a href="javascript:;" th:if="${#lists.size(schoolComment.childComment) > 0}" th:onclick="'hideChildComment('+${schoolComment.comment.id}+')'" th:id="'hide_child_comment_button_'+${schoolComment.comment.id}" class="reply">收起</a>
									</div>
									<div class="reply-block" th:id="'child_comment_div_'+${schoolComment.comment.id}" th:if="${#lists.size(schoolComment.childComment) > 0}">	
										<div class="well">
											<ul class="media-list">
												<li class="media" th:each="childComment : ${schoolComment.childComment}">
													<a class="pull-left" th:href="@{'/front/user/home?id='+${childComment.author.id}}">
														<img th:if="${childComment.author.icon}" th:src="@{${cdn}+${childComment.author.icon}}" class="img-circle user-headimg"></img>
														<img th:if="${#strings.isEmpty(childComment.author.icon)}" th:src="@{'/images/home/1.jpg'}" class="img-circle user-headimg"></img>
													</a>
													<div class="media-body">
														<div class="meta">
															<strong>
																<a th:href="@{'/front/user/home?id='+${childComment.author.id}}"><span class="color-nickname" th:text="${childComment.author.nickName}">用户昵称</span></a>
															</strong>
															<span class="mhm" th:text="${#dates.format(childComment.createdDate, 'yyyy-MM-dd HH:mm')}">多久前的回复</span>
														</div>
														<div class="content">
															<p th:text="${childComment.content}" style="margin-bottom:0px">回复的具体内容</p>
														</div>
														<div class="text-muted text-normal pull-right">
															<a href="javascript:;" class="reply" th:onclick="'replayCommentChild(\''+${schoolComment.comment.id}+'\',\''+${childComment.author.nickName}+'\')'">回复</a>
														</div>
													</div>
												</li>
											</ul>
											<div class="media">
												<div class="media-body">
													<div class="text-muted text-normal pull-right" style="padding: 5px 10px;background: #fff;border: 1px solid #6bd7df;border-radius: 3px;">
														<a href="javascript:;" th:onclick="'replayComment('+${schoolComment.comment.id}+')'">我也要说</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="reply-block" style="display:none;" th:id="'reply_textarea_'+${schoolComment.comment.id}">
										<textarea class="form-control" rows="4" th:id="'textarea_'+${schoolComment.comment.id}"></textarea>
										<div class="text-muted text-normal pull-right" style="margin-top:10px;">
											<button th:onclick="'submitCommentDetail('+${schoolComment.comment.id}+')'" class="btn btn-primary btn-report">提交</button>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="panel-footer text-center" style="border:0px" th:if="${pageBean.totalpage>1}">
						<div class="row">
							<a href="javascript:;" onclick="showMorePage(3)"><span class="text-lg free-fw">查看更多</span></a>
						</div>
					</div>
				</div>

			</div>

			<div class="col-md-4 col-sm-12 col-xs-12">

				<div class="panel panel-default border0 box-shadow0">
					<div class="panel-heading" style="border:0px;">办学特色</div>
					<div class="panel-body phm border-all">
						<ul class="section-ul">
							<li th:each="list : ${school.schoolSticker}" th:text="${list.sticker.display}">机构标签</li>
						</ul>
					</div>
				</div>
				
				<div class="panel panel-default border0 box-shadow0">
					<div class="panel-heading" style="border:0px;">机构地址</div>
					<div class="map" id="schoolmap">
						
					</div>
				</div>
				
				<!-- 显示分校 -->
				<div class="panel panel-default border0 box-shadow0" id="school_branch">
					
				</div>

				<div class="row text-center free-call" style="margin-top: 10px;">
					<a href="" data-toggle="modal" data-target="#callModal" data-whatever="@mdo"> 免费通话 </a>
				</div>

				<div class="row text-center new-topic" style="margin-top: 10px;">
					<a href="" data-toggle="modal" data-target="#applyModal" data-whatever="@mdo"> 马上报名 </a>
				</div>
			</div>

		</div>
	</div>	

	<!-- 报名弹窗 -->
	<div class="modal fade" id="applyModal" tabindex="-1" role="dialog" aria-labelledby="applyModalLabel" style="top: 25%;">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title font-color free-fw" id="applyModalLabel">参与报名</h4>
				</div>
				<div class="modal-body">
					<form class="form-group" style="width:60%;margin-left:20%">
						<div class="form-group">
							<label for="apply-name" class="control-label">您的姓名:</label> 
							<input type="text" class="form-control" id="apply-name" />
						</div>
						<div class="form-group">
							<label for="apply-tel" class="control-label">您的联系方式:</label> 
							<input type="tel" class="form-control" id="apply-tel"></input>
						</div>
						<div class="form-group">
							<button type="button" class="btn btn-primary center-block" style="width: 80px;">确定</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- 免费通话 -->
	<div class="modal fade" id="callModal" tabindex="-1" role="dialog" aria-labelledby="callModalLabel" style="top: 25%;">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title font-color free-fw" id="callModalLabel">马上发起免费通话咨询</h4>
				</div>
				<div class="modal-body">
					<form class="form-group" style="width:60%;margin-left:20%">
						<div class="form-group">
							<label for="call-tel" class="control-label">您的联系方式:</label> 
							<input type="tel" class="form-control" id="call_tel"></input>
						</div>
						<div class="form-group">
							<button type="button" onclick="callFreePhone()" class="btn btn-primary center-block" style="width: 80px;">确定</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
 	<div th:include="layout/common/ajax_login"></div>
	<div th:include="layout/front_nav::nav-footer"></div>
	
</body>
</html>