<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/head :: front" />
<style>
.active_a{
	color:#ff7043;
}
</style>
<script th:inline="javascript">
/*<![CDATA[*/
	$(function(){
		$(".class_grade_ul li").mouseenter(function(){
			$(".classify-tag >div").hide();
			$(".classify-tag >div").eq($(this).index()).show();
			$(this).siblings().removeClass("active");//siblings() 选择同级的所有元素
			$(this).addClass("active");
		});
		$(".class_grade_ul li a").click(function(){
			var alt = $(this).attr("alt");
			if(alt != ""){
				var url=/*[[@{'/front/school/categoryChoose'}]]*/;
				window.location.href = url+"/"+alt;
			}else{
				$("#category_id").val(alt);
				$("#school_search_form").submit();
			}
		});
		document.getElementById("biaoqian").style.minHeight =   window.screen.height + 'px';
	})
	function checkOrder(type){
		$("#order_type").val(type);
		$("#school_search_form").submit();
	}
	
	
	function apperSearch(){
		$('#search-float').addClass("search-t-apper");
		window.scrollTo(0,0);
	};
	
	function closeFloat(){
		location.reload();
	}
	function searchBySticker(category_id){
		$.post(
				/*[[@{'/front/school/search'}]]*/,
				{ categoryId: category_id},
				function (data, status) {
					$("#school_keywords").val("");
					$("#biaoqian").html(data);
				}
			);
	}
	function searchByKeywords(){
		var school_keywords = $("#school_keywords").val();
		$.post(
				/*[[@{'/front/school/search'}]]*/,
				{ schoolName: school_keywords},
				function (data, status) {
					$("#biaoqian").html(data);
				}
			);
	}
	
/*]]>*/
</script>

<!-- 品牌机构 -->

<body class="index bg-color">
	<!--
        	作者：727674928@qq.com
        	时间：2015-09-17
        	描述：顶部菜单和logo
        -->
	<div th:include="layout/common/header::nav-header"></div>
	
	<div class="container free_container">
	 
		<div class="row border-style">
			<div class="col-xs-6">
				<h3>品牌机构</h3>
			</div>
			<div class="col-xs-6">
				<div class="panel-bar" onclick="apperSearch()" style="padding-left: 20px;top: 0px;">
					<form class="navbar-form navbar-left hidden-md hidden-lg" role="search" id="school_search_form" action="" style="float: right;margin:10px;padding:0px;">
						<div class="form-group">
							<input class="form-control" name="schoolName" th:value="${schoolName}" placeholder="搜一搜" autocomplete="off"></input>
							<input type="hidden" name="categoryId" id="category_id" th:value="${categoryId}"/>
							<input type="hidden" name="orderType" id="order_type" th:value="${orderType}"/>
							<button class="button fa fa-search" type="button"></button>
						</div>
					</form>
				</div>	
			</div>
		</div>
		
		<!-- 标签下滑 -->
	   	<div class="row">
	   		<div class="row">
		   		<nav class="md-index-nav">
					<ul class="clearfix class_grade_ul class_ul">
						<li data-id="" th:class="${categoryId == ''}?'active':''">
							<a href="javascript:;" alt="">全部</a>
						</li>
						<li data-id="" th:each="category : ${categoryList}" th:class="${categoryId == #strings.toString(category.category.id)}?'active':''">
							<a href="javascript:;" th:alt="${category.category.id}" th:text="${category.category.display}">热门推荐</a>
						</li>
					</ul>
				</nav>
			</div>	
	   	</div>
	
		<div class="row" style="margin-top: 10px;margin-left: -10px;">
	    	<div class="col-xs-4">
	    		<p class="text-lg"><a href="javascript:;" onclick="checkOrder(1)" th:class="${#strings.isEmpty(orderType) == true or orderType == '1'}?'active':''">热门推荐</a></p>
	    	</div>
	    	<div class="col-xs-4">
	    		<p class="text-lg"><a href="javascript:;" onclick="checkOrder(2)" th:class="${orderType == '2'}?'active':''">评价</a></p>
	    	</div>
	    	<div class="col-xs-4">
	    		<p class="text-lg"><a href="javascript:;" >距离</a></p>
	    	</div>
	    </div>
	
		<!-- 机构标签 -->
	    <div class="mb32">
		    <div class="row">
		    	<div class="col-md-3 col-sm-6" th:each="school : ${pageBean.result}">
					<div class="section-item" th:onclick="'window.location.href=\''+@{'/front/school/detail/'+${school.id}}+'\''">
						<a> 
							<img th:src="@{${cdn} + ${#strings.defaultString(school.logoImage,'/images/home/1.jpg')}}" alt="attr" class="img90"></img>
						</a> 
						<p class="text-xlg mbt20">
							<a th:href="@{'/front/school/detail/'+${school.id}}" th:text="${school.schoolName}">机构名称机构名称机构名称……</a>
						</p>
						<div class="row section-row">
							<ul class="section-ul">
								<li th:each="list : ${school.schoolSticker}" th:text="${list.sticker.display}">机构标签</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
	    </div>
		<div class="row">
			<div class="span6">
				 <div th:include="layout/common/pagination :: pagination"></div>  
			</div> 
		</div>
	
	</div>
	<div th:include="layout/front_nav::nav-footer"></div>
	
	<!-- 搜索浮层 -->
    <div id="search-float" class="search-t">
    	<div class="search-top">
    		<div class="pull-left mt8">
    			<a><i onclick="closeFloat()" class="fa fa-chevron-circle-left text-font30"></i></a>
    		</div>
    		<div class="border-style" style="float: left;height: 40px;width: 80%;">
    			<input class="search-input" id="school_keywords" type="text" style="border: 0px;box-shadow: 0px 0px 0px 0px;" placeholder="请输入关键字"></input>
    		</div>
    		<div class="pull-right mrm">
    			<a><i class="fa fa-search font-color mtm text-24" onclick="searchByKeywords()"></i></a>
    		</div>
    	</div>
    	<div id="biaoqian" class="search-bottom" >
    		<div class="container">
    			<div class="row mvl text-center">
    				<p class="mar font-color text-xlg">热门<span>机构</span>标签</p>
    			</div>
    			<div class="row">
    				<ul class="inter-label phm text-center">
						<li th:each="sticker : ${stickerList}">
							<a href="javascript:;" th:onclick="'searchBySticker('+${sticker.category.id}+')'" th:text="${sticker.display}">数学</a>
						</li>
					</ul>
    			</div>
    		</div>
    	</div>
    </div>

</body>
</html>