<script type="text/javascript">
	function gotoPage(url,curpage,querystr){
		$.get(
			url+"?curpage="+curpage+querystr,
			{ },
			function (data, status) {
				$("#school_attach").html(data);
		});
	}
</script>
<div class="panel panel-default box-shadow0" id="school_attach">
	<div class="panel-body">
		<div class="col-md-4 col-sm-4 col-xs-12 phs">
			<ul class="school-ul" id="ul_0">
				<li th:each="attach,attachStat : ${pageBean.result}" th:if="${attachStat.index%3 == 0}">
					<a th:href="@{${cdn}+${attach.imagePath}}" data-fancybox-group="gallery" class="fancybox">
						<img th:src="@{${cdn}+${attach.imagePath}}" class="img-responsive center-block"></img>
					</a>
				</li>
			</ul>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12 phs">
			<ul class="school-ul" id="ul_1">
				<li th:each="attach,attachStat : ${pageBean.result}" th:if="${attachStat.index%3 == 1}">
					<a th:href="@{${cdn}+${attach.imagePath}}" data-fancybox-group="gallery" class="fancybox">
						<img th:src="@{${cdn}+${attach.imagePath}}" class="img-responsive center-block"></img>
					</a>
				</li>
			</ul>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12 phs">
			<ul class="school-ul" id="ul_2">
				<li th:each="attach,attachStat : ${pageBean.result}"  th:if="${attachStat.index%3 == 2}">
					<a th:href="@{${cdn}+${attach.imagePath}}" data-fancybox-group="gallery" class="fancybox">
						<img th:src="@{${cdn}+${attach.imagePath}}" class="img-responsive center-block"></img>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="span6">
			 <div th:include="layout/common/ajax_pagination :: ajax_pagination"></div>  
		</div> 
	</div>
</div>