<script type="text/javascript">
	function gotoPage(url,curpage,querystr){
		$.get(
			url+"?curpage="+curpage+querystr,
			{ },
			function (data, status) {
				$("#school_product").html(data);
		});
	}
</script>
<div class="panel panel-default panel-col box-shadow0" id="school_product">
	<div class="panel-heading">
		<span>开设课程</span>
	</div>
	<div class="panel-body" style="padding-top: 0px; padding-bottom: 0px;" id="product_show_list">
		<div class="row border-style pvm" th:each="product : ${pageBean.result}">
			<div class="float-l">
				<img th:src="@{${cdn}+${product.imagePath}}" class="img60 mhm" />
			</div>
			<div>
				<p class="text-lg mvl mlm" th:text="${product.productName}">课程标题</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span6">
			 <div th:include="layout/common/ajax_pagination :: ajax_pagination"></div>  
		</div> 
	</div>
</div>