<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>门道教育网－字典管理</title>
	<head th:include="layout/head :: backend"></head>
	<head th:include="layout/head :: validator"></head>
</head>
<body class="index">
<div th:include="layout/common/header::nav-header"></div>
<div class="container" id="content-container">
	<div class="row">
		<div th:include="layout/backend_nav::nav-backend"></div>
		<div class="col-md-9">
			<div class="panel panel-default panel-col">
				<div class="panel-body">
					<form id="defaultForm" method="post" class="form-horizontal" th:action="@{/backend/dictionary/add}"
                      	data-bv-message="This value is not valid"
                      	data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                      	data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                      	data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
						<input type="hidden" name="id" th:value="${sysDictionary.id}" />
	                	<fieldset>
							<legend>字典信息</legend>
		                    <div class="form-group">
		                        <label class="col-lg-2 control-label">字典code</label>
		                        <div class="col-lg-8 col-sm-5">
		                            <input type="text" class="form-control" name="dicCode" th:value="${sysDictionary.dicCode}" placeholder="字典code" required="required"/>
		                        </div>
		                    </div>
		                    <div class="form-group">
		                        <label class="col-lg-2 control-label">字典名称</label>
		                        <div class="col-lg-8 col-sm-5">
		                            <input type="text" class="form-control" name="dicKey" th:value="${sysDictionary.dicKey}" placeholder="字典名称" required="required"/>
		                        </div>
		                    </div>
		                    <div class="form-group">
		                        <label class="col-lg-2 control-label">字典值</label>
		                        <div class="col-lg-8 col-sm-5">
		                            <input type="text" class="form-control" name="dicValue" th:value="${sysDictionary.dicValue}" placeholder="字典值" required="required"/>
		                        </div>
		                    </div>
		                    <div class="form-group">
		                        <label class="col-lg-2 control-label">字典描述</label>
		                        <div class="col-lg-8 col-sm-5">
		                            <input type="text" class="form-control" name="remark" th:value="${sysDictionary.remark}" placeholder="字典描述"/>
		                        </div>
		                    </div>
							<div class="form-group">
		              			<label class="col-lg-2 control-label">字典排序</label>
		                        <div class="col-lg-8 col-sm-5">
		                            <input type="text" class="form-control" name="sort" th:value="${sysDictionary.sort}" placeholder="字典排序"/>
		                        </div>
							</div>
	                    </fieldset>
	                    
	                    <div class="form-group">
	                        <div class="col-lg-5 col-lg-offset-2">
	                            <button type="submit" class="btn btn-primary">提交</button>
	                        </div>
	                    </div>
	                </form>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
