<div th:switch="${target}">
	<ul class="breadcrumb">
		<li><a th:href="@{/front/m/user/security}">安全设置</a></li>
		<li class="active" th:case="'password'">修改登录密码</li>
		<li class="active" th:case="'security'">修改支付密码</li>
		<li class="active" th:case="'mobile'">绑定手机号码</li>
		<li class="active" th:case="'email'">绑定电子邮箱</li>
	</ul>
</div>
<div id="divMessage" class="text-warning">
	<label th:if="${#strings.isEmpty(errorMessage) == false}" th:text="${errorMessage}">*</label>
</div>
<div th:switch="${target}">
	<input type="hidden" th:value="${target}" id="target" />
	<form id="user-profile-form" name="setpwd" th:case="'password'" class="form-horizontal" method="post">
		<div class="form-group" >
			<label class="col-md-2 control-label">当前密码</label>
			<div class="col-md-7 controls">
				<input type="password" name="password" pattern="^[a-zA-Z0-9]{6,12}$" class="form-control" required="required" data-widget-cid="widget-1" data-explain="" value=""></input>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label">新密码</label>
			<div class="col-md-7 controls">
				<input type="password" id="newPwd" name="newPassword" pattern="^[a-zA-Z0-9]{6,12}$" class="form-control" required="required" data-widget-cid="widget-1" data-explain="" value=""></input>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-md-2 control-label">确认密码</label>
			<div class="col-md-7 controls">
				<input type="password" id="confirmPwd" name="confirmPassword" pattern="^[a-zA-Z0-9]{6,12}$" class="form-control" required="required" data-widget-cid="widget-1" data-explain="" value=""></input>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-2 control-label"></div>
			<div class="controls col-md-8 controls">
				<button data-submiting-text="正在保存" type="submit" class="btn btn-primary phlx bor-radiu">确定</button>
			</div>
		</div>
	</form>
	<form id="user-profile-form" th:case="'security'" class="form-horizontal" method="post">
		<div class="form-group" th:if="${#strings.isEmpty(userInfo.fwAccount.securityCode)}">
			<label class="col-md-2 control-label" >当前登录密码</label>
			<div class="col-md-7 controls">
				<input type="password" name="password" pattern="^[a-zA-Z0-9]{6,12}$" class="form-control" required="required" data-widget-cid="widget-1" data-explain="" value=""></input>
			</div>
		</div>
		<div class="form-group" th:if="${#strings.isEmpty(userInfo.fwAccount.securityCode) == false}">
			<label class="col-md-2 control-label" >当前支付密码</label>
			<div class="col-md-7 controls">
				<input type="password" name="security" pattern="^[a-zA-Z0-9]{6,12}$" class="form-control" required="required" data-widget-cid="widget-1" data-explain="" value=""></input>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-md-2 control-label">新支付密码</label>
			<div class="col-md-7 controls">
				<input type="password" id="newPwd" name="newSecurity" pattern="^[a-zA-Z0-9]{6,12}$" class="form-control" required="required" data-widget-cid="widget-1" data-explain="" value=""></input>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-md-2 control-label">确认支付密码</label>
			<div class="col-md-7 controls">
				<input type="password" id="confirmPwd" name="confirmSecurity" pattern="^[a-zA-Z0-9]{6,12}$" class="form-control" required="required" data-widget-cid="widget-1" data-explain="" value=""></input>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-2 control-label"></div>
			<div class="controls col-md-8 controls">
				<button data-submiting-text="正在保存" type="submit" class="btn btn-primary phlx bor-radiu">确定</button>
			</div>
		</div>
	</form>
	<form id="user-profile-form" th:case="'mobile'" class="form-horizontal" method="post">
		<div class="form-group" th:if="${#strings.isEmpty(userInfo.mobile) == false}">
			<label class="col-md-2 control-label">已绑定手机号</label>
			<div class="col-md-7 controls" th:text="${userInfo.mobile}"></div>
		</div>
		
		<div class="form-group" >
			<label class="col-md-2 control-label">您的登录密码</label>
			<div class="col-md-7 controls">
				<input type="password" name="password" class="form-control" required="required" pattern="^[a-zA-Z0-9]{6,12}$"></input>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label">手机号码</label>
			<div class="col-md-7 controls">
				<input type="text" id="mobile" name="mobile" th:value="${mobile}" class="form-control" required="required" pattern="^((13[0-9])|(15[^4,\D])|(18[^4,\D]))\d{8}$"></input>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 col-xs-12 control-label" for="verify">短信验证码</label>
			<div class="col-md-3 col-xs-6">
				<input type="text" class="form-control ident" required="required" name="verify" placeholder="短信验证码"></input>
			</div>
			<div class="col-md-2 col-xs-4">
				<a href="javascript:;" onclick="sendVerify('bindmobile');" class="btn ident btn-primary btn-lg form-control bor-radiu">
					<span>发送</span>
				</a>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-2 control-label"></div>
			<div class="controls col-md-8 controls">
				<button data-submiting-text="正在保存" type="submit" class="btn btn-primary phlx bor-radiu">确定</button>
			</div>
		</div>
	</form>
	<form id="user-profile-form" th:case="'email'" class="form-horizontal" method="post">
		
		<div class="form-group" th:if="${#strings.isEmpty(userInfo.email) == false}">
			<label class="col-md-2 control-label">已绑邮箱</label>
			<div class="col-md-7 controls" th:text="${userInfo.email}">
			</div>
		</div>
		
		<div class="form-group" >
			<label class="col-md-2 control-label">您的登录密码</label>
			<div class="col-md-7 controls">
				<input type="password" name="password" class="form-control" required="required" pattern="^[a-zA-Z0-9]{6,12}$"></input>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-md-2 control-label">邮箱地址</label>
			<div class="col-md-7 controls">
				<input type="text" id="email" name="email" th:value="${email}" class="form-control" required="required" pattern="^(\w-*\.*)+@(\w-?)+(\.\w{2,})+$"></input>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 col-xs-12 control-label" for="verify">邮箱验证码</label>
			<div class="col-md-3 col-xs-6">
				<input type="text" class="form-control ident" required="required" name="verify" placeholder="邮箱验证码"></input>
			</div>
			<div class="col-md-2 col-xs-4">
				<a href="javascript:;" onclick="sendVerify('bindemail');" class="btn ident btn-primary btn-lg form-control bor-radiu">
					<span>发送</span>
				</a>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-2 control-label"></div>
			<div class="controls col-md-8 controls">
				<button data-submiting-text="正在保存" type="submit" class="btn btn-primary phlx bor-radiu">确定</button>
			</div>
		</div>
	</form>
</div>

<script th:inline="javascript">
/*<![CDATA[*/
	$('form').submit(function(){
		$('#divMessage').html('');
		var target = $('#target').val();
		if((target == 'password' || target == 'security') 
				&& $('#newPwd').val() != $('#confirmPwd').val()){
			$('#divMessage').html('两次输入的密码不一致');
			return false;
		}
		var url = /*[[@{/front/m/user/updateSecurity}]]*/;
		url = url + '?target=' + target;
		$.post(url, $(this).serialize(),function(data){
			$('.panel-col').html(data);
		});
		return false;
	});
	function sendVerify(target){
		
		var url = /*[[@{/common/verify/}]]*/;
		url = url + target;
		var mobile = $('#mobile').val();
		var email = $('#email').val();
		var data = {};
		if(mobile != ''){ data.mobile = mobile; }
		if(email != ''){ data.email = email; }
		
		$.get(url, data, function(data){
			if(data.mark){
				$(this).attr('disabled', 'disabled');
			}else{
				$('#divMessage').html(data.message);
			}
		});
	};
/*]]>*/
</script>