<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>门道教育网－配置管理</title>
	<head th:include="layout/head :: backend"></head>
	<head th:include="layout/head :: validator"></head>
</head>
<body class="index">
<div th:include="layout/common/header::nav-header"></div>
<div class="container" id="content-container">
	<div class="row">
		<div th:include="layout/backend_nav::nav-backend"></div>
		<div class="col-md-9">
			<div class="panel panel-default panel-col">
				<div class="panel-heading">配置管理</div>
				<div class="panel-body">
					<a th:href="@{/backend/config/category}">机构分类管理</a>
				</div>
			</div>
		</div>
	</div>
</div>
<script th:inline="javascript">
/*<![CDATA[*/
	$(function(){
		;
	});
/*]]>*/
</script>
</body>
</html>
