<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>后台管理 - 角色列表</title>
    <link th:href="@{${cdn} + '/css/bootstrap.min.css'}" rel="stylesheet"></link>
    <link th:href="@{${cdn} + '/css/font-awesome.min.css'}" rel="stylesheet"></link>
    <link th:href="@{${cdn} + '/css/plugins/iCheck/custom.css'}" rel="stylesheet"></link>
    <link th:href="@{${cdn} + '/css/animate.min.css'}" rel="stylesheet"></link>
    <link th:href="@{${cdn} + '/css/style.css'}" rel="stylesheet"></link>
    <script>
    	
    </script>
</head>
<body class="gray-bg"> 
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="ibox float-e-margins ph10" >
                <div class="ibox-content">
			    	<form id="" th:action="@{/back/role/add}" method="post" class="form-horizontal">
				      	<div class="modal-header">
					        <h4 class="modal-title">编辑角色信息</h4>
				      	</div>
				      	<input type="hidden" th:if="${role.id}" th:value="${role.id}" name="id"/>
				      	<div class="modal-body modal-pad">
				        	<div class="form-group">
								<label for="acc-name" class="col-sm-3 control-label">角色名<span class="form-required"> * </span>:</label>
								<div class="col-sm-9">
									<input class="form-control" placeholder="" name="roleName" th:value="${role.roleName}" type="text" required="required" />
								</div>
							</div>
				      	</div>
				      	<div class="modal-footer">
				      		<button type="button" class="btn btn-default">取消</button>
					        <button type="submit" class="btn btn-primary">保存</button>
				      	</div>
				    </form>  	
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{${cdn} + '/js/jquery.min.js'}" type="text/javascript"></script>
    <script th:src="@{${cdn} + '/js/bootstrap.min.js'}" type="text/javascript"></script>
    <script th:src="@{${cdn} + '/js/plugins/layer/layer.min.js'}" type="text/javascript"></script>
    <script th:src="@{${cdn} + '/js/content.min.js'}" type="text/javascript"></script>
    <script th:src="@{${cdn} + '/js/welcome.min.js'}" type="text/javascript"></script>
    <script th:src="@{${cdn} + '/js/jqPaginator.min.js'}" type="text/javascript"></script>
</body>
</html>