<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/head :: front" />

<!-- 能力创富课程详情 -->

<body class="index bg-color">
	<!--
        	作者：727674928@qq.com
        	时间：2015-09-17
        	描述：顶部菜单和logo
        -->
	<div th:include="layout/common/header::nav-header"></div>

	<!-- banner -->
	<div class="banner-ability">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-xs-12 mbt60">
					<img class="img-responsive center-block" th:src="@{'/images/home/ability.png'}" ></img>
				</div>
				<div class="col-sm-6 col-xs-12 mbt60 banner-p">
					<p>成功等于99%的汗水+1%的智慧</p>
					<p>没有人告诉你。那1%的智慧将决定未来的空间</p>
					<p>智慧等于99%的知识+1%的思维</p> 
					<p>没有人告诉你，那1%的思维将决定一生的方向。</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="free-bg">
		<div class="container pbt60">
			<strong><p class="free-title text-center">让孩子成为思想的强者、行动的巨人、沟通的高手！</p></strong>
			<p class="plh">
				思考力、行动力、表达力是构成一个人能力的基本考量标准，同时也是一个人从平凡 走向卓越的必修之课。本课程通过对孩子思维模式的引导和重建，加深孩子对行动 的理解和突破，提高孩子自我的沟通表达能力，使孩子获取创造性的核心竞争力。 整个课程由《超级思维》、《行动力突破》、《魅力口才与演讲》构成。
			</p>
		</div>
	</div>	

	<div class="free-pb60 free-show">
		<div class="container free-pbt60">
			<div class="row">
				<div class="col-md-5 col-xs-12 free-ptl">
					<img class="img-responsive center-block" th:src="@{'/images/home/chaojisiwei.png'}"></img>
				</div>
				<div class="col-md-7 col-xs-12 free-pbt30">
					<strong><p class="free-title font-color">一分钟的思考抵得过一小时的唠叨</p></strong>
					<p class="plh">
						思维决定思想、思想决定思考的方向。人与人的最大差别是脖子以上的部分，卓越的人源于卓越的思想支配行为。思维人生就是跨越一个个障碍，一个人的自我提高和突破，无疑都是思维与自我、环境的不断博弈。这场思维竞技中，胜利属于思维敏捷的人。
					</p>
				</div>
			</div>
		</div>
			
		<div><hr class="center-block free-hr" /></div>
			
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-md-offset-1 col-xs-12 free-ptl">
					<strong><p class="free-title">课程内容</p></strong>
					<p class="plh">1.突破线性思维的限制思维导图在学习中的应用</p>
					<p class="plh">2.满分攻略状元学习法如何使内个孩子成为状元</p>
					<p class="plh">3.体验式思维竞技活动如何养成高效卓越的习惯</p>
				</div>
					
				<div class="col-md-6  col-xs-12 free-ptl free-ptl20">
					<div><hr class="center-block free-hr-mobile" /></div>
					<strong><p class="free-title">课程收获</p></strong>
					<p class="plh">1.改善、优化和提高孩子的思维模式和思考方式；</p>
					<p class="plh">2.提高孩子的学习速度和效率，更快地学习新知识与复习整合旧知识；</p>
					<p class="plh">3.激发孩子的联想与创意，并掌握一套系统思考的应用工具；</p>
					<p class="plh">4.学会情绪管理，掌握自己激励与自我调整。</p>
				</div>
			</div>
		</div>
	</div>

	<div class="free-bg pbt60 free-pt20 free-show">
		<div class="container free-mb60">
			<div class="row">
				<div class="col-md-5 col-md-push-7 col-xs-12 free-ptl">
					<img class="img-responsive center-block" th:src="@{'/images/home/tupo.png'}"></img>
				</div>
				<div class="col-md-7 col-md-pull-5 col-xs-12 free-pbt30">
					<strong><p class="free-title font-color">梦想一旦被付诸行动，就会变得神圣。</p></strong>
					<p class="plh">
						行动力是指愿意不断的学习、思考，养成习惯和动机，进而获得导致成功结果的行为能力。
						《行动力突破》是根据青少年自身情况，而开研发的一门旨在从心态突破、行动突破、目
						标管理、时间管理方面出发，塑造青少年积极良好的价值观和行动力的课程。
					</p>
				</div>
			</div>
		</div>
			
		<div><hr class="center-block free-hr" /></div>
		
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-md-offset-1 col-xs-12 free-ptl">
					<strong><p class="free-title">课程内容</p></strong>
					<p class="plh">1.自我承诺青少年必备的六大心态</p>
					<p class="plh">2.目标管理置目标的步骤和原则</p>
					<p class="plh">3.时间管理九大时间管理法则运用</p>
					<p class="plh">4.行动日志如何有效激发行动力</p>
				</div>
					
				<div class="col-md-6  col-xs-12 free-ptl free-ptl20">
					<div><hr class="center-block free-hr-mobile" /></div>
					<strong><p class="free-title">课程收获</p></strong>
					<p class="plh">1.打破固有惯性，迅速建立主动、积极、开放的心态和思维方式；</p>
					<p class="plh">2.透过专业引导和互动式、体验式项目，深度剖析自我潜意识，寻找到自己的障碍并解决它；</p>
					<p class="plh">3.学员掌握如何确定目标，分解目标，分阶段实现目标；</p>
					<p class="plh">4.学员掌握如何合理的利用、分配时间进行时间管理达成目标。</p>
				</div>
			</div>
		</div>
	</div>

	<div class="free-pb60 free-show">
		<div class="container free-pbt60">
			<div class="row">
				<div class="col-md-5 col-xs-12 free-ptl">
					<img class="img-responsive center-block" th:src="@{'/images/home/koucai.png'}"></img>
				</div>
				<div class="col-md-7 col-xs-12 free-pbt30">
					<strong><p class="free-title font-color">你能对多少人当众讲话，你的舞台就有多大！</p></strong>
					<p class="plh">
						敢言是成功的前提，善言是成功的基础。有一个好的口才会让你事半功倍。
						《魅力口才与演讲》课程采用“启发、参与、互动、体验式”的训练方式，以“实战、实用、  实效”为
						教学方针，让学生敢说、能说、会说、巧说。课程以吐字归音，形体训练、自信胆量训练，
						肢体语言训练等形式，突破自我获得非凡的演说能力和良好的沟通技巧，让孩子从超越自己。
					</p>
				</div>
			</div>
		</div>
			
		<div><hr class="center-block free-hr" /></div>
		
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-md-offset-1 col-xs-12 free-ptl">
					<strong><p class="free-title">课程内容</p></strong>
					<p class="plh">1.自信演讲的三大心态六种方法树立自信</p>
					<p class="plh">2.演讲的三个要点及六个一原则方法掌握</p>
					<p class="plh">3.即兴演讲艺术及实战模拟演练实践模拟</p>
					<p class="plh">4.演讲八大素质和毕业汇报演讲汇报演出</p>
				</div>
					
				<div class="col-md-6  col-xs-12 free-ptl free-ptl20">
					<div><hr class="center-block free-hr-mobile" /></div>
					<strong><p class="free-title">课程收获</p></strong>
					<p class="plh">1.让孩子树立自信、发挥特长、敢于表达自己的想法；</p>
					<p class="plh">2.让孩子敢说、会说、能说、巧说，练就一副好口才；</p>
					<p class="plh">3.让孩子学会有效地与人沟通，建立良好的社交关系，成为备受欢迎的人；</p>
					<p class="plh">4.让孩子在未来职场竞岗、官场竞选、商场竞争中有奠定良好基础；</p>
				</div>
			</div>
		</div>
	</div>

	<div class="free-bg pbt60 hidden-xs pbt60 hidden-xs">
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
					<div class="col-md-4 col-xs-4 free-show-btn">
						<div class="text-center center-block mtm free-qq">
							<i class="fa fa-qq font-fff"></i>
						</div>
						<p class="text-center text-lg mtl">在线咨询</p>
					</div>
					<div class="col-md-4 col-xs-4 free-show-btn">
						<div class="text-center center-block mtm free-pencil">
							<i class="fa fa-pencil font-fff"></i>
						</div>
						<p class="text-center text-lg mtl" data-toggle="modal" data-target="#applyModal" data-whatever="@mdo">报名申请</p>
					</div>
					<div class="col-md-4 col-xs-4 free-show-btn">
						<div class="text-center center-block mtm free-phone">
							<i class="fa fa-phone font-fff"></i>
						</div>
						<p class="text-center text-lg mtl">电话咨询</p>
					</div>
				</div>	
			</div>
		</div>
	</div>

	<!-- 报名弹窗 -->
	<div class="modal fade" id="applyModal" tabindex="-1" role="dialog"
		aria-labelledby="applyModalLabel" style="top: 25%;">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<form class="form-group pvm mb40">
						<h4 class="modal-title font-color free-fw pvl"
							id="applyModalLabel">免费学申请报名</h4>
						<div class="form-group">
							<input type="text"
								class="form-control form-control-w center-block" id="apply-name"
								placeholder="您的姓名" />
						</div>
						<div class="form-group">
							<input type="tel"
								class="form-control form-control-w center-block" id="apply-tel"
								placeholder="您的联系方式"></input>
						</div>
						<div class="form-group">
							<button type="button"
								class="btn btn-primary center-block form-control-w btn-r">确定</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- 手机侧边分享 -->
	<div class="tip-tool">
		<div class="mobile-share center-block bdsharebuttonbox pad18">
			<a href="#" class="bds_more" data-cmd="more" style="background-image: url();margin: 0px;padding: 0px;font-size: 14px;">
				<i class="fa fa-share-square-o fa-2x font-fff"></i>
			</a>
		</div>
		<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
		<div class="mobile-cang center-block pad18">
			<a><i class="fa fa-phone fa-2x font-fff"></i></a>
		</div>
		<div class="mobile-zan center-block pad18">
			<a><i class="fa fa-pencil fa-2x font-fff"></i></a>
		</div>
	</div>

	<!-- footer -->
	<div th:include="layout/front_nav::nav-footer"></div>
</body>
</html>