<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/head :: front" />

<!-- 成长顾问课程详情 -->

<body class="index bg-color">
	<!--
        	作者：727674928@qq.com
        	时间：2015-09-17
        	描述：顶部菜单和logo
        -->
	<div th:include="layout/common/header::nav-header"></div>

	<!-- banner -->
		<div class="banner-grow">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-xs-12 banner-mbt60">
						<img class="img-responsive center-block" th:src="@{'/images/home/grow.png'}" ></img>
					</div>
					<div class="col-sm-6 col-xs-12 mbt60 banner-p" style="padding-top: 0%;">
						<p>孩子，是由一百种组成的。</p>
						<p>一百种语言 、一百双手 、一百个想法</p>
						<p>一百种思考、游戏、说话的方式；一百种倾听、惊奇、爱的方式 </p> 
						<p>一百种世界，等着孩子们去发掘 </p>
						<p>一百种世界，等着孩子们去创造</p>
						<p>一百种世界，等着孩子们去梦想 </p>
					</div>
				</div>
			</div>
		</div>
	<div class="pbt60">	
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-xs-12 free-ptl">
					<img class="img-responsive center-block" th:src="@{'/images/home/czguwen.png'}"></img>
				</div>
				<div class="col-md-7 col-xs-12 free-pbt30">
					<strong><p class="free-title">让每一个梦想成为可能</p></strong>
					<p class="plh">
						本服务是针对目前学生在升学、择校、课程学习方面所面对的困惑与迷茫，开展的成长顾问服务。该服务从政策动态、学校特色、学校优劣、招生政策等方面出发，结合孩子本身情况，出具详细、专业、量身定制的成长规划建议。
						成长顾问服务范围包括：幼升小择校咨询、小升初择校咨询、初升高咨询、高考志愿填报咨询、辅导班择校咨询。
					</p>
				</div>
			</div>
		</div>
		<div><hr class="center-block free-hr" /></div>
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-md-offset-1 col-xs-12 free-ptl">
					<strong><p class="free-title">服务内容</p></strong>
					<p class="plh">1.政策讲解、动态分析、分数预估</p>
					<p class="plh">2.择校咨询、升学咨询（小升初、初升高、高考志愿填报）、课程规划</p>
				</div>
				
				<div class="col-md-5 col-xs-12 free-ptl free-ptl20">
					<div><hr class="center-block free-hr-mobile" /></div>
					<strong><p class="free-title">用户收获</p></strong>
					<p class="plh">1.帮助孩子和家长了解到最新行业动态；</p>
					<p class="plh">2.帮助孩子和家长迅速做出科学的升学择校（含高考志愿填报）建议；</p>
					<p class="plh">3.通过专业咨询，为孩子打造量身定制的提升计划；</p>
					<p class="plh">4.解决孩子在成长过程的当中心理困惑和心理障碍。</p>
				</div>
			</div>
		</div>
	</div>	
		
	<div class="free-bg pbt60 hidden-xs pbt60 hidden-xs">
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
					<div class="col-md-4 col-xs-4 free-show-btn">
						<div class="text-center center-block mtm free-qq">
							<i class="fa fa-qq font-fff"></i>
						</div>
						<p class="text-center text-lg mtl">在线咨询</p>
					</div>
					<div class="col-md-4 col-xs-4 free-show-btn">
						<div class="text-center center-block mtm free-pencil">
							<i class="fa fa-pencil font-fff"></i>
						</div>
						<p class="text-center text-lg mtl" data-toggle="modal" data-target="#applyModal" data-whatever="@mdo">报名申请</p>
					</div>
					<div class="col-md-4 col-xs-4 free-show-btn">
						<div class="text-center center-block mtm free-phone">
							<i class="fa fa-phone font-fff"></i>
						</div>
						<p class="text-center text-lg mtl">电话咨询</p>
					</div>
				</div>	
			</div>
		</div>
	</div>
	
	<!-- 报名弹窗 -->
	<div class="modal fade" id="applyModal" tabindex="-1" role="dialog"
		aria-labelledby="applyModalLabel" style="top: 25%;">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<form class="form-group pvm mb40">
						<h4 class="modal-title font-color free-fw pvl"
							id="applyModalLabel">免费学申请报名</h4>
						<div class="form-group">
							<input type="text"
								class="form-control form-control-w center-block" id="apply-name"
								placeholder="您的姓名" />
						</div>
						<div class="form-group">
							<input type="tel"
								class="form-control form-control-w center-block" id="apply-tel"
								placeholder="您的联系方式"></input>
						</div>
						<div class="form-group">
							<button type="button"
								class="btn btn-primary center-block form-control-w btn-r">确定</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- 手机侧边分享 -->
	<div class="tip-tool">
		<div class="mobile-share center-block bdsharebuttonbox pad18">
			<a href="#" class="bds_more" data-cmd="more" style="background-image: url();margin: 0px;padding: 0px;font-size: 14px;">
				<i class="fa fa-share-square-o fa-2x font-fff"></i>
			</a>
		</div>
		<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
		<div class="mobile-cang center-block pad18">
			<a><i class="fa fa-phone fa-2x font-fff"></i></a>
		</div>
		<div class="mobile-zan center-block pad18">
			<a><i class="fa fa-pencil fa-2x font-fff"></i></a>
		</div>
	</div>

	<!-- footer -->
	<div th:include="layout/front_nav::nav-footer"></div>
</body>
</html>