<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/head :: front" />

<!-- 心灵创富课程详情 -->

<body class="index bg-color">
	<!--
        	作者：727674928@qq.com
        	时间：2015-09-17
        	描述：顶部菜单和logo
        -->
	<div th:include="layout/common/header::nav-header"></div>

	<!-- banner -->
		<div class="banner-heart">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-xs-12 banner-mbt60">
						<img class="img-responsive center-block" th:src="@{'/images/home/heart.png'}" ></img>
					</div>
					<div class="col-sm-6 col-xs-12 banner-pbt60 banner-p">
						<p>这是一次孩子最“靠谱”的自我宣言！</p>
						<p>这是一次孩子最难忘的家庭、团队、社会角色转变！</p>
						<p>这是一次孩子最特殊的高贵品质养成计划！</p> 
						<p>这一次，让孩子真正开始长大！</p>
					</div>
				</div>
			</div>
		</div>
		
	<div class="pbt60">		
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-xs-12 free-ptl">
					<img class="img-responsive center-block" th:src="@{'/images/home/xinling.png'}"></img>
				</div>
				<div class="col-md-7 col-xs-12 free-pbt30">
					<strong><p class="free-title">送给孩子一颗富足的心灵！</p></strong>
					<p class="plh">
						生活中大多数人觉得物质的财富才是最重要的，很少有人愿意主动花钱让孩子学习如何创造心灵财富，本课程将成为孩子生命中一堂不可或缺的课程，因为这是一个关于“自己”的课程，一次让孩子生命蜕变的良机。
					</p>
				</div>
			</div>
		</div>
		<div><hr class="center-block free-hr" /></div>
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-md-offset-1 col-xs-12 free-ptl">
					<strong><p class="free-title">课程内容</p></strong>
					<p class="plh">1.有“爱”的家构建自我心中的家</p>
					<p class="plh">2.自我的突破——感悟自我心灵蜕变</p>
					<p class="plh">3.我是最棒的——责任担当意识培养</p>
				</div>
				
				<div class="col-md-6  col-xs-12 free-ptl free-ptl20">
					<div><hr class="center-block free-hr-mobile" /></div>
					<strong><p class="free-title">课程收获</p></strong>
					<p class="plh">1.理解爱与被爱，学会感动与分享，加强责任意识，找到属于自己的目标和梦想！</p>
					<p class="plh">2.让孩子懂得孝顺感恩于诚信的内在含义与价值并付诸于行动。</p>
					<p class="plh">3.学会情绪管理，掌握自己激励与自我调整。</p>
					<p class="plh">4.定制使命宣言，拟定行动计划。</p>
				</div>
			</div>
		</div>
	</div>	

	<div class="free-bg pbt60 hidden-xs pbt60 hidden-xs">
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
					<div class="col-md-4 col-xs-4 free-show-btn">
						<div class="text-center center-block mtm free-qq">
							<i class="fa fa-qq font-fff"></i>
						</div>
						<p class="text-center text-lg mtl">在线咨询</p>
					</div>
					<div class="col-md-4 col-xs-4 free-show-btn">
						<div class="text-center center-block mtm free-pencil">
							<i class="fa fa-pencil font-fff"></i>
						</div>
						<p class="text-center text-lg mtl" data-toggle="modal" data-target="#applyModal" data-whatever="@mdo">报名申请</p>
					</div>
					<div class="col-md-4 col-xs-4 free-show-btn">
						<div class="text-center center-block mtm free-phone">
							<i class="fa fa-phone font-fff"></i>
						</div>
						<p class="text-center text-lg mtl">电话咨询</p>
					</div>
				</div>	
			</div>
		</div>
	</div>

	<!-- 报名弹窗 -->
	<div class="modal fade" id="applyModal" tabindex="-1" role="dialog"
		aria-labelledby="applyModalLabel" style="top: 25%;">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<form class="form-group pvm mb40">
						<h4 class="modal-title font-color free-fw pvl"
							id="applyModalLabel">免费学申请报名</h4>
						<div class="form-group">
							<input type="text"
								class="form-control form-control-w center-block" id="apply-name"
								placeholder="您的姓名" />
						</div>
						<div class="form-group">
							<input type="tel"
								class="form-control form-control-w center-block" id="apply-tel"
								placeholder="您的联系方式"></input>
						</div>
						<div class="form-group">
							<button type="button"
								class="btn btn-primary center-block form-control-w btn-r">确定</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- 手机侧边分享 -->
	<div class="tip-tool">
		<div class="mobile-share center-block bdsharebuttonbox pad18">
			<a href="#" class="bds_more" data-cmd="more" style="background-image: url();margin: 0px;padding: 0px;font-size: 14px;">
				<i class="fa fa-share-square-o fa-2x font-fff"></i>
			</a>
		</div>
		<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
		<div class="mobile-cang center-block pad18">
			<a><i class="fa fa-phone fa-2x font-fff"></i></a>
		</div>
		<div class="mobile-zan center-block pad18">
			<a><i class="fa fa-pencil fa-2x font-fff"></i></a>
		</div>
	</div>

	<!-- footer -->
	<div th:include="layout/front_nav::nav-footer"></div>
</body>
</html>