<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>门道教育网－免费学</title>
	<head th:include="layout/head :: front" />
</head>

<!-- 免费学套餐列表 -->

<body class="index bg-color">
	<!--
        	作者：727674928@qq.com
        	时间：2015-09-17
        	描述：顶部菜单和logo
        -->
	<div th:include="layout/common/header::nav-header"></div>

	<!-- banner轮播图 -->
	<div th:include="layout/front_nav::nav-slidebanner"></div>

	<div style="height: 60px; line-height: 60px;">
		<div class="container">
			<div class="row">
				<div class="col-md-2 col-xs-3 phs">
					<a th:href="@{'/front/free/4'}" th:class="${type == 4}?'active':''"><strong><p class="free-font">志在千里</p></strong></a>
				</div>
				<div class="col-md-2 col-xs-3 phs">
					<a th:href="@{'/front/free/3'}" th:class="${type == 3}?'active':''"><strong><p class="free-font">真知敏行</p></strong></a>
				</div>
				<div class="col-md-2 col-xs-3 phs">
					<a th:href="@{'/front/free/2'}" th:class="${type == 2}?'active':''"><strong><p class="free-font">修心培性</p></strong></a>
				</div>
				<div class="col-md-2 col-xs-3 phs">
					<a th:href="@{'/front/free/1'}" th:class="${type == 1}?'active':''"><strong><p class="free-font">明理知情</p></strong></a>
				</div>
			</div>
		</div>
	</div>

	<!-- 免费学 -->
	<div class="free-show pbt60 free-bg" th:if="${type > 0}">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-xs-12 free-ptl">
					<img class="img-responsive center-block" th:src="@{'/images/home/fudao.png'}"></img>
				</div>
				<div class="col-md-7 col-xs-12 pbt30">
					<strong><p class="free-title">适用于西安600家培训机构</p></strong>
					<p class="plh">免费赠送的学费可在与门道教育网平台签约的西安600多家培训机构任意选择培训课程进行抵现消费，可选择的课程包括从学前到高中等各阶段的文化课辅导和文体艺术、素质类课程5000多种。</p>
					<a class="free-more center-block">了解更多</a>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 教练父母 -->
	<div class="pbt60 free-show" th:if="${type > 0}">
		<div class="container">
			<div class="row">
				<div class="col-sm-5 col-sm-push-7 col-xs-12 free-ptl">
					<img class="img-responsive center-block" th:src="@{'/images/home/fumu.png'}"></img>
				</div>
				<div class="col-sm-7 col-sm-pull-5 col-xs-12 pbt30">
					<strong><p class="free-title">让父母成为孩子成功的推动者、支持者、引领者！</p></strong>
					<p class="plh">教练父母，是专为家长而设计，旨在帮助传统的家长成为善于与孩子沟通、
						善于挖掘孩子潜能、善于激励孩子、善于培养孩子成为心智健全、脑身心一致、
						内外和谐的优秀孩子，是为把家长培养成真正能够帮助孩子成长的教练型家长而开设的专业系统课程。</p>
					<a class="free-more center-block" th:href="@{/front/free/parents}">了解更多</a>
				</div>
			</div>
		</div>
	</div>

	<!-- 心灵创富 -->
	<div class="free-show free-bg pbt60" th:if="${type > 1}">
		<div class="container">
			<div class="row">
				<div class="col-sm-5 col-xs-12 free-ptl">
					<img class="img-responsive center-block" th:src="@{'/images/home/xinling.png'}"></img>
				</div>
				<div class="col-sm-7 col-xs-12 pbt30">
					<strong><p class="free-title">送给孩子一颗富足的心灵！</p></strong>
					<p class="plh">生活中大多数人觉得物质的财富才是最重要的，很少有人愿意主动花钱
						让孩子学习如何创造心灵财富，本课程将成为孩子生命中一堂不可或缺 的课程，因为这是一个关于“自己”的课程，一次让孩子生命蜕变的良机。</p>
					<a class="free-more center-block" th:href="@{/front/free/heart}">了解更多</a>
				</div>
			</div>
		</div>
	</div>	

	<!-- 能力创富 -->
	<div class="free-show pbt60" th:if="${type > 2}">
		<div class="container">
			<div class="row">
				<div class="col-sm-5 col-sm-push-7 col-xs-12 free-ptl">
					<div>
						<img class="img-responsive center-block" th:src="@{'/images/home/nengli.png'}"></img>
					</div>
				</div>
				<div class="col-sm-7 col-sm-pull-5 col-xs-12 pbt30">
					<strong><p class="free-title">让孩子成为思想的强者、行动的巨人、沟通的高手！</p></strong>
					<p class="plh">思考力、行动力、表达力是构成一个人能力的基本考量标准，同时也是一个人从平凡
						走向卓越的必修之课。本课程通过对孩子思维模式的引导和重建，加深孩子对行动
						的理解和突破，提高孩子自我的沟通表达能力，使孩子获取创造性的核心竞争力。
						整个课程由《超级思维》、《行动力突破》、《魅力口才与演讲》构成。</p>
					<a class="free-more center-block hidden-xs" th:href="@{/front/free/ability}">了解更多</a>
				</div>
			</div>
			<div class="row free-mtl">
				<div class="col-md-4 col-xs-12 mts">
					<div class="pvl text-center" style="background: #9bcd65;">
						<p class="font-fff text-xlg free-fw">《超级思维》</p>
						<p class="font-fff">一分钟的思考抵得过一小时的唠叨</p>
					</div>
				</div>
				<div class="col-md-4 col-xs-12 mts">
					<div class="pvl text-center" style="background: #6bd7df;">
						<p class="font-fff text-xlg free-fw">《行动力突破》</p>
						<p class="font-fff">梦想一旦被付诸行动，就会变得神圣</p>
					</div>
				</div>
				<div class="col-md-4 col-xs-12 mts">
					<div class="pvl text-center" style="background: #fe901a;">
						<p class="font-fff text-xlg free-fw">《魅力口才与演讲》</p>
						<p class="font-fff">你能对多少人当众讲话，你的舞台就有多大！</p>
					</div>
				</div>
			</div>
			<div class="row a-more mvl">
				<a class="free-more center-block" th:href="@{/front/free/ability}">了解更多</a>
			</div>
		</div>
	</div>

	<!-- 领袖创富 -->
	<div class="free-show free-bg pbt60" th:if="${type > 3}">
		<div class="container">
			<div class="row">
				<div class="col-sm-5 col-xs-12 free-ptl">
					<img class="img-responsive center-block" th:src="@{'/images/home/lingxiu.png'}"></img>
				</div>
				<div class="col-sm-7 col-xs-12 pbt30">
					<strong><p class="free-title">“公益万里行”梦想始于足下，公益在我心中</p></strong>
					<p class="plh">
						通过对《心灵创富训练营》、《能力创富训练营》的系统学习，检验和巩固学生对课程的学习成果，加深他们对课程的理解和认识。活动将首次采用省际穿行的长线体验形式展开。途中对孩子的心灵、思维、行动、意志、组织、沟通等能力的考验和培养，使孩子经历一次难忘的生命价值体验之旅。
					</p>
					<a class="free-more center-block" th:href="@{/front/free/leader}">了解更多</a>
				</div>
			</div>
		</div>
	</div>	

	<!-- 成长顾问 -->
	<div th:class="${type == 3 or type == 1}?'free-show free-bg pbt60':'free-show pbt60'" th:if="${type > 0}">
		<div class="container">
			<div class="row">
				<div class="col-sm-5 col-sm-push-7 col-xs-12 free-ptl">
					<div>
						<img class="img-responsive center-block" th:src="@{'/images/home/czguwen.png'}"></img>
					</div>
				</div>
				<div class="col-sm-7 col-sm-pull-5 col-xs-12 pbt30">
					<strong><p class="free-title">让每一个梦想成为可能</p></strong>
					<p class="plh">
						本服务是针对目前学生在升学、择校、课程学习方面所面对的困惑与迷茫，开展的成长顾问服务。该服务从政策动态、学校特色、学校优劣、招生政策等方面出发，结合孩子本身情况，出具详细、专业、量身定制的成长规划建议。
						成长顾问服务范围包括：幼升小择校咨询、小升初择校咨询、初升高咨询、高考志愿填报咨询、辅导班择校咨询。</p>
					<a class="free-more center-block" th:href="@{/front/free/grow}">了解更多</a>
				</div>
			</div>
		</div>
	</div>

	<div th:class="${type == 3 or type == 1}?'':'free-bg'">
		<div class="container pbt60 hidden-xs">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
					<div class="col-md-4 col-xs-4 free-show-btn">
						<div class="text-center center-block mtm free-qq">
							<i class="fa fa-qq font-fff"></i>
						</div>
						<p class="text-center text-lg mtl">在线咨询</p>
					</div>
					<div class="col-md-4 col-xs-4 free-show-btn">
						<div class="text-center center-block mtm free-pencil" style="cursor: pointer;" data-toggle="modal" data-target="#applyModal" data-whatever="@mdo">
							<i class="fa fa-pencil font-fff"></i>
						</div>
						<p class="text-center text-lg mtl" style="cursor: pointer;" data-toggle="modal" data-target="#applyModal" data-whatever="@mdo">报名申请</p>
					</div>
					<div class="col-md-4 col-xs-4 free-show-btn">
						<div class="text-center center-block mtm free-phone">
							<i class="fa fa-phone font-fff"></i>
						</div>
						<p class="text-center text-lg mtl">电话咨询</p>
					</div>
				</div>	
			</div>
		</div>
	</div>	

	<!-- 报名弹窗 -->
	<div class="modal fade" id="applyModal" tabindex="-1" role="dialog" aria-labelledby="applyModalLabel" style="top: 25%;">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<form class="form-group pvm mb40" id="free_study_form">
						<h4 class="modal-title font-color free-fw pvl"
							id="applyModalLabel">免费学申请报名</h4>
						<div class="form-group">
							<input type="text" class="form-control form-control-w center-block" name="name" placeholder="您的姓名" />
						</div>
						<div class="form-group">
							<input type="tel" class="form-control form-control-w center-block" name="telephone" placeholder="您的联系方式"></input>
						</div>
						<div class="form-group">
							<button type="button" onclick="addFreeStudy()" class="btn btn-primary center-block form-control-w btn-r">确定</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- 手机侧边分享 -->
	<div class="tip-tool">
		<div class="mobile-share center-block bdsharebuttonbox pad18">
			<a href="#" class="bds_more" data-cmd="more" style="background-image: url();margin: 0px;padding: 0px;font-size: 14px;">
				<i class="fa fa-share-square-o fa-2x font-fff"></i>
			</a>
		</div>
		<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
		<div class="mobile-cang center-block pad18">
			<a><i class="fa fa-phone fa-2x font-fff"></i></a>
		</div>
		<div class="mobile-zan center-block pad18">
			<a><i class="fa fa-pencil fa-2x font-fff"></i></a>
		</div>
	</div>

	<!-- footer -->
	<div th:include="layout/front_nav::nav-footer"></div>
	<script th:inline="javascript">
	/*<![CDATA[*/
		function addFreeStudy(){
			var name = $("#free_study_form input[name='name']").val();
			var telephone = $("#free_study_form input[name='telephone']").val();
			if(name == ""){
				alert("请输入您的姓名");
				return;
			}
			var myreg = /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1})|(17[0-9]{1}))+\d{8})$/; 
			if(!myreg.test(telephone)) 
			{ 
			    alert("请输入有效的联系方式");
			    return false; 
			}
			$.post(
					/*[[@{'/front/free/addFreeStudy'}]]*/,
					$("#free_study_form").serialize(),
					function (returnData, status) {
						if(returnData.msg == 1){
							alert("报名成功");
							$(".close").click();
						}else{
							alert("报名失败");
						}
					}
			);
		}
	/*]]>*/
	</script>
</body>
</html>