<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="renderer" content="webkit"></meta>
    <title>后台管理 - 店铺链接</title>
    <link th:href="@{${cdn} + '/css/bootstrap.min.css'}" rel="stylesheet"></link>
    <link th:href="@{${cdn} + '/css/font-awesome.min.css'}" rel="stylesheet"></link>
    <link th:href="@{${cdn} + '/css/plugins/iCheck/custom.css'}" rel="stylesheet"></link>
    <link th:href="@{${cdn} + '/css/animate.min.css'}" rel="stylesheet"></link>
    <link th:href="@{${cdn} + '/css/style.css'}" rel="stylesheet"></link>
    <style>
    	@media only screen and (max-width: 768px) {
			.copy-hide{
				display: none;
			}
		}
	    @media only screen and (min-width: 766px) {
			.title-show{
				display: none;
			}
		}
    </style>
</head>
<body class="gray-bg"> 
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="ibox float-e-margins ph10" >
                <div class="ibox-title">
                    <h5>
                    	邀请链接
                    </h5>
                </div>
                <div class="ibox-content">
                	<div class="row" >
                    	<div class="col-md-6 col-sm-6">
                    		<label class="col-md-3 col-sm-4 col-xs-12 firm-link-label" >店铺名称:</label>
                    		<input class="col-md-9 col-sm-8 col-xs-12 mt5" name="shopName" th:value="${shopMessage.shopName}" id="shop_name" type="text" />
                    	</div>
                    	<div class="col-md-6 col-sm-6">
                    		<span class="col-md-12 col-sm-12 col-xs-12" style="color:red;">(修改前台店铺名称，可以附带微信号码)</span>
                    	</div>
                    </div>
                    <div class="row" >
                    	<input type="hidden" th:value="${shopMessage.id}" name="id" id="id"/>
                    	<div class="col-md-6 col-sm-6">
                    		<label class="col-md-3 col-sm-4 col-xs-12 firm-link-label" >店铺链接:</label>
                    		<input id="inviteUrl" class="col-md-7 col-sm-6 col-xs-12 mt5" th:value="${shopMessage.shopUrl}" readonly="true" type="text" onchange="copyContent();" />
                    		<div class="col-md-2 col-sm-2 col-xs-6">
                    			<button class="btn btn-primary copy-hide" id="copy-button">复制</button>
                    		</div>
                    		<div class="col-md-12 col-sm-12 col-xs-12">
                    			<span class="title-show" style="color:red;">请选择输入框链接复制</span>
                    		</div>
                    	</div>	
                    	<div class="col-md-6 col-sm-6">
                    		<label class="col-md-3 col-sm-4 col-xs-12 firm-link-label" >访问密码:</label>
                    		<input class="col-md-9 col-sm-8 col-xs-12 mt5" type="text" readonly="true" th:value="${shopMessage.shopPwd}" />
                    	</div>
                    </div>
                    <div class="row" >
                    	<div class="col-md-6 col-sm-6">
                    		<label class="col-md-3 col-sm-4 col-xs-12 firm-link-label" >输入新密码:</label>
                    		<input class="col-md-9 col-sm-8 col-xs-12 mt5" type="password" id="password"/>
                    	</div>	
                    	<div class="col-md-6 col-sm-6">
                    		<label class="col-md-3 col-sm-4 col-xs-12 firm-link-label" >再次输入:</label>
                    		<input class="col-md-9 col-sm-8 col-xs-12 mt5" type="password" id="repassword"/>
                    	</div>
                    </div>
                    <div class="row">
                    	<div class="col-md-12 col-sm-12 col-xs-12">
							<button onclick="changePassword()" class="btn btn-primary mt5" >修改</button>
                    	</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script th:src="@{${cdn} + '/js/jquery.min.js'}" type="text/javascript"></script>
    <script th:src="@{${cdn} + '/js/bootstrap.min.js'}" type="text/javascript"></script>
    <script th:src="@{${cdn} + '/js/plugins/layer/layer.min.js'}" type="text/javascript"></script>
    <script th:src="@{${cdn} + '/js/content.min.js'}" type="text/javascript"></script>
    <script th:src="@{${cdn} + '/js/welcome.min.js'}" type="text/javascript"></script>
    <script th:src="@{${cdn} + '/js/jqPaginator.min.js'}" type="text/javascript"></script>
    <script th:src="@{${cdn} + '/js/common.js'}" type="text/javascript"></script>
    <script th:src="@{${cdn} + '/js/plugins/jquery-zclip-master/jquery.zclip.js'}" type="text/javascript"></script>
    <script th:inline="javascript">
		var copuUrl=$('#inviteUrl').val();
		$("#copy-button").zclip({  
		    path: /*[[@{${cdn} + 'js/plugins/jquery-zclip-master/ZeroClipboard.swf'}]]*/,  
		    copy: copuUrl,
		    afterCopy: function(){
	            alert("复制成功");
	        }
		});
		function changePassword(){
			var password = $("#password").val();
			var repassword = $("#repassword").val();
			var shopName = $("#shop_name").val();
			if(shopName == ""){
				layer.alert("请输入店铺名称",{icon: 2}, function(index){
				  	layer.close(index);
				});
				return false;
			}else{
				if(password != repassword){
					layer.alert("两次输入密码不一致，请重新输入。",{icon: 2}, function(index){
					  	layer.close(index);
					});
				}else{
					var id = $("#id").val();
					$.post(
		   					/*[[@{'/back/shop/updatePwd'}]]*/,
		   					{ 'shopName':shopName,'password':password,"id":id },
		   					function (data, status) {
		   						if(data.status == 1){
		   							layer.alert(data.msg,{icon: 1}, function(index){
		   								  	layer.close(index);
				   							window.location.href=/*[[@{'/back/shop/my'}]]*/;
		   								});
		   						}else{
		   							layer.alert(data.msg,{icon: 2}, function(index){
										  	layer.close(index);
										});
		   						}
		   					}
		   				);
				}
			}
			
		}
    </script>
</body>
</html>