<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
   	<meta charset="utf-8" />
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <title>我的店铺</title>
    <link th:href="@{${cdn} + '/css/font-awesome/css/font-awesome.min.css'}" rel="stylesheet"></link>
   	<link th:href="@{${cdn} + '/css/new-style.css'}" rel="stylesheet"></link>
	<script th:src="@{${cdn} + '/js/common.js'}" type="text/javascript"></script>
	<script th:src="@{${cdn} + '/js/jquery.min.js'}" type="text/javascript"></script>
	<script th:src="@{${cdn} + '/js/jquery.cssforms.js'}" type="text/javascript"></script>
	<script th:src="@{${cdn} + '/js/iscroll-probe.js'}" type="text/javascript"></script>
	<script th:src="@{${cdn} + '/js/layer/layer.js'}" type="text/javascript"></script>
    
</head>
<body style="background: #1F253D;">
		<header class="header header-bg" >
			<p>
				<a class="arrow-left" th:href="@{/index}">
					<span><i class="fa fa-angle-left"></i></span>
				</a>
				<span>我的店铺</span>
			</p>
		</header>
		<div class="product-edit mb0" >
			<div class="pro-edit mt10" >
					<div class="eidt-input" >
						<input type="hidden" th:value="${shopMessage.id}" name="id" id="id"/>
						<p class="eidt-label" >
							<span>店铺名称</span>
						</p>
						<div>
							<input class="form-control shop-input" placeholder="名称" name="shopName" th:value="${shopMessage.shopName}"/>
							<button class="btn btn-success show-btn" onclick="changeMessage()" >修改</button>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="eidt-input" >
						<p class="eidt-label" >
							<span>店铺公告</span>
						</p>
						<div>
							<input class="form-control shop-input" placeholder="公告" name="notice" th:value="${shopMessage.notice}"/>
							<button class="btn btn-success show-btn" onclick="changeMessage()">修改</button>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="eidt-input" >
						<p class="eidt-label" >
							<span>店铺链接</span>
						</p>
						<div>
							<input class="form-control shop-input" placeholder="链接" id="shop_url" th:value="${shopMessage.shopUrl}"	 />
							<button class="btn btn-warning show-btn" onclick="copyText()">复制</button>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="pad10">
						<div class="shop-code" >
							<img th:src="${shopMessage.qrcodeUrl}" class="img-responsive" />
						</div>
						<div class="fl">
							<p class="pad10 fontl6" >店铺二维码</p>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="shop-psd" >
						<p>
							<span>访问密码：</span>
							<span th:inline="text">[[${shopMessage.shopPwd}]]</span>
						</p>
					</div>
					<div class="eidt-input" >
						<p class="eidt-label" >
							<span>修改密码</span>
						</p>
						<div>
							<input class="form-control shop-input" name="password" placeholder="新密码" value="" />
							<button class="btn btn-warning show-btn" onclick="changeMessage()">修改</button>
							<div class="clearfix"></div>
						</div>
					</div>
			</div>
		</div>
		<script th:inline="javascript">
			function changeMessage(){
				var shopName = $("input[name='shopName']").val();
				var password = $("input[name='password']").val();
				var notice = $("input[name='notice']").val();
				var id = $("#id").val();
				var flag = true;
				if(shopName != ''){
					if(shopName.length > 8){
						layer.open({
						    content: '店铺名称不能超过8个汉字',
						    style: 'background-color:#09C1FF; color:#fff; border:none;',
						    time: 3
						});
						flag = false;
					}
				}
				if(notice != ''){
					if(notice.length > 50){
						layer.open({
						    content: '店铺简介不能超过50个汉字',
						    style: 'background-color:#09C1FF; color:#fff; border:none;',
						    time: 3
						});
						flag = false;
					}
				}
				if(flag){
					$.post(
		   					/*[[@{'/back/shop/updatePwd'}]]*/,
		   					{ 'shopName':shopName,'password':password,"notice":notice,"id":id },
		   					function (data, status) {
		   						if(data.status == 1){
		   							layer.open({
									    content: data.msg,
									    style: 'background-color:#09C1FF; color:#fff; border:none;',
									    time: 3
									});
		   							window.setTimeout(show,2000); 
									function show(){ 
			   							window.location.href=window.location.href;
									} 
		   						}else{
		   							layer.open({
									    content: data.msg,
									    style: 'background-color:#09C1FF; color:#fff; border:none;',
									    time: 2
									});
		   						}
		   					}
		   				);
				}
				
			}
			function copyText(){
				copyToClipboard('sss');
			}
			//点击文本框复制其内容到剪贴板上方法
			function copyToClipboard(elem) {
			    var target = document.getElementById("shop_url");
			    target.textContent = 'asdasda';
			    console.log(target.textContent);
			    select(target);
			    document.execCommand("copy");
			}
			
			function select(element) {
			    var selectedText;
			
			    if (element.nodeName === 'INPUT' || element.nodeName === 'TEXTAREA') {
			        element.focus();
			        element.setSelectionRange(0, element.value.length);
			
			        selectedText = element.value;
			    }
			    else {
			        if (element.hasAttribute('contenteditable')) {
			            element.focus();
			        }
			
			        var selection = window.getSelection();
			        var range = document.createRange();
			
			        range.selectNodeContents(element);
			        selection.removeAllRanges();
			        selection.addRange(range);
			
			        selectedText = selection.toString();
			    }
			
			    return selectedText;
			}
    </script>
	</body>
</html>