<div id="schoolImages">
	<div class="row">
		<div class="col-sm-6 col-md-4" th:each="attach : ${pageBean.result}">
			<div class="thumbnail">
				<div style="text-align:right" class="caption" th:onclick="'deleteAttach('+${attach.id}+')'">X</div>
				<img th:src="@{${cdn}+${attach.imagePath}}" />
			</div>
		</div>
	  	<div class="col-sm-6 col-md-4" id="tmpImage">
		    <div class="thumbnail">
		    	<div class="caption"><input type="button" id="uploadButton" value="+"/></div>
		    </div>
	  	</div>
	</div>
	<div class="row">
		<div class="span6">
			<div th:include="layout/common/ajax_pagination :: ajax_pagination"></div>
		</div>
	</div>
</div>

