<div class="row" id="schoolImages">
  	<div class="col-sm-6 col-md-4" th:each="product : ${pageBean.result}">
	    <div class="thumbnail">
	    	<img th:src="@{${cdn}+${product.imagePath}}" alt="" />
	    	<div class="caption">
	    		<h3 th:text="${product.productName}">名称</h3>
	        	<p th:text="${product.summary}">Summary</p>
	        	<p>
	        		<span><button th:onclick="'editProduct('+${product.id}+')'">修改</button></span>
	        		<span><button th:onclick="'deleteProduct('+${product.id}+')'">删除</button></span>
        		</p>
	    	</div>
	    </div>
  	</div>
</div>
<div class="row">
	<div class="span6">
		<div th:include="layout/common/ajax_pagination :: ajax_pagination"></div>
	</div>
</div>
<div class="row">
	<div class="panel-body col-md-10">
		<fieldset>
			<form th:action="@{/backend/school/product/add}" id="product_form" onsubmit="return addProduct(this)" method="post">
				<input type="hidden" name="school.id" th:value="${schoolId}"/>
				<input type="hidden" name="id"/>
				<div class="form-group">
				    <label class="col-lg-2 control-label">课程名称</label>
				    <div class="col-lg-10 col-sm-5">
				        <input type="text" class="form-control" name="productName" placeholder="课程名称" required="required"/>
				    </div>
				</div>
				<div class="form-group">
				    <label class="col-lg-2 control-label">课程介绍</label>
				    <div class="col-lg-10 col-sm-5">
				       <textarea rows="3" name="summary"></textarea>
				    </div>
				</div>
				<div class="form-group">
				    <label class="col-lg-2 control-label">课程图片</label>
					<div class="col-lg-10 col-sm-5">
	           			<input type="button" id="uploadButton" value="选择图片" style="display: none;"/>
	              	</div>
	               	<div class="col-lg-10 col-sm-5" id="image_url">
	               		<input type="hidden" id="image_path" value="" name="imagePath" />
	           		</div>
				</div>
				<div class="form-group" style="margin-buttom:15px;">
	                <div class="col-lg-5 col-lg-offset-2">
	                    <button type="submit" class="btn btn-primary">提交</button>
	                </div>
	            </div>
			</form>
		</fieldset>
	</div>
</div>
