<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/head :: backend"></head>
<head th:include="layout/head :: validator"></head>
<body>
<header class="header">
	<div th:include="layout/common/header :: nav-header"></div>
</header>
<div class="container">
	<div class="row">

		<!--  -->
		<div class="col-lg-2 col-sm-10">
			<div th:include="layout/main-nav :: nav-backend"></div>
		</div>
		<div class="col-lg-10 col-sm-10">
			<section>
				<form id="defaultForm" method="post" class="form-horizontal" th:action="@{/backend/school/index}"
                      data-bv-message="This value is not valid"
                      data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                      data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                      data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
                    <fieldset>
                    <legend>我的信息</legend>
                    <input type="hidden" name="id" th:value="${school.id}" />
                    <div class="form-group">
                        <label class="col-lg-2 control-label">机构名称</label>
                        <div class="col-lg-3 col-sm-5">
                            <input type="text" th:value="${school.schoolName}" class="form-control" name="schoolName" maxlength="40" placeholder="机构名称" required="required" 
                            	data-bv-stringlength="true" data-bv-stringlength-min="2" data-bv-stringlength-max="30" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">机构电话</label>
                        <div class="col-lg-3 col-sm-5">
                            <input type="text" class="form-control" name="phone" th:value="${school.phone}" maxlength="40" placeholder="机构电话" 
                            	data-bv-stringlength="true" data-bv-stringlength-max="30" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">机构标签</label>
                        <div class="col-lg-3 col-sm-5">
                        	<input type="checkbox" th:each="sticker : ${stickerList}" th:checked="${#strings.indexOf(school.stikers,sticker.display)}? 'true':'false'" th:value="${sticker.display}" th:text="${sticker.display}" name="data" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">机构简介</label>
                        <div class="col-lg-3 col-sm-5">
                            <textarea class="form-control" name="introduction" th:text="${school.introduction}" rows="3" maxlength="40" 
                            	placeholder="简介" data-bv-stringlength="true" data-bv-stringlength-max="500"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">机构地址</label>
                        <div class="col-lg-3 col-sm-5">
                     		<textarea class="form-control" name="address" th:text="${school.address}" rows="2" maxlength="100" 
                            	placeholder="地址" data-bv-stringlength="true" data-bv-stringlength-max="100"></textarea>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-lg-5 col-lg-offset-2">
                            <button type="submit" class="btn btn-primary">提交</button>
                        </div>
                    </div>
                    </fieldset>
                </form>
                
			</section>
		</div>

	</div>
</div>
</body>
<script type="text/javascript">
$(document).ready(function() {
    $('#defaultForm').bootstrapValidator();
});
</script>
</html>
