<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/head :: front" />

<body class="index">
	<!--
        	作者：727674928@qq.com
        	时间：2015-09-17
        	描述：顶部菜单和logo
        -->
	<div th:include="layout/common/header::nav-header"></div>

	<!-- mobile-header-activity -->
	<header class="mobile-header-topic">
		<div class="container">
			<div class="row">
				<div class="col-xs-3">
					<img th:src="@{'/images/home/u213.png'}" class="img-responsive"></img>
				</div>
				<div class="col-xs-9">
					<ul class="header-toppic-ul text-right">
						<li><a href="">登录</a></li>
						<li><a href="">注册</a></li>
					</ul>
				</div>
			</div>
		</div>
	</header>

	<!-- 活动详情中间banner -->
	<div class="activity-banner">
		<div class="container">
			<div class="row hidden-xs" style="margin: 10px 0px;">
				<ul class="activity-label">
					<li><span>学霸</span></li>
					<li><span>学霸</span></li>
					<li><span>学霸</span></li>
				</ul>
			</div>
			<div class="row"
				style="margin-left: 0px; margin-right: 0px; background: #fff; padding-top: 5px; padding-bottom: 5px;">
				<div class="col-md-5">
					<img th:src="@{'/images/home/u901.jpg'}" class="img-responsive center-block"></img>
				</div>
				<div class="col-md-5">
					<div class="row" style="padding-left: 10px;">
						<h3>门道教育研究院</h3>
					</div>
					<div class="row border-style padding-row">
						<i class="fa fa-clock-o"></i> <span>活动时间：2015-10-24&nbsp;&nbsp;</span>
						<span>9:00~21:00</span>
					</div>
					<div class="row border-style padding-row">
						<i class="fa fa-map-marker"></i> <span>活动时间：西安市雁塔区太白南路168号</span>
					</div>
					<div class="row border-style padding-row">
						<i class="fa fa-user"></i> <span>活动发起：西安门道教育网</span>
					</div>
					<div class="row padding-row">
						<i class="fa fa-group"></i> <span>报名人数：12人</span>
					</div>
				</div>
				<div class="col-md-2 hidden-xs">
					<div class="row" style="margin-top: 45%;">
						<img src="/" class="img-responsive center-block" style="width: 30px;height: 30px;"></img>
					</div>
					<div class="row" style="margin-top: 5%;">
						<img src="/" class="img-responsive center-block" style="width: 30px;height: 30px;"></img>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 具体的活动内容 -->
	<div class="container" style="margin-top: 5px;">
		<div class="row">
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="panel panel-default main-topic">
					<div class="panel-heading border-style">
						<h2>活动详情</h2>
					</div>
					<div class="panel-body">
						<p>
							话题内容话题内容话题内容话题内容话题内容 话题内容话题内容话题内容话题内容话题内容
							话题内容话题内容话题内容话题内容话题内容
						</p>
						<p>
							话题内容话题内容话题内容话题内容话题内容 话题内容话题内容话题内容话题内容话题内容
							话题内容话题内容话题内容话题内容话题内容
						</p>
						<p>
							话题内容话题内容话题内容话题内容话题内容 话题内容话题内容话题内容话题内容话题内容
							话题内容话题内容话题内容话题内容话题内容
						</p>
					</div>
					<div class="panel-footer text-right">
						<div class="row text-right">
							<div class="bdsharebuttonbox"
								style="float: right; margin-right: 20px;">
								<a href="" class="bds_more" data-cmd="more" style="margin-right: 15px;"></a> 
								<a title="分享到QQ空间" href="" class="bds_qzone" data-cmd="qzone" style="margin-right: 15px;"></a>
								<a title="分享到新浪微博" href="" class="bds_tsina" data-cmd="tsina" style="margin-right: 15px;"></a> 
								<a title="分享到微信" href="" class="bds_weixin" data-cmd="weixin" style="margin-right: 15px;"></a>
							</div>
							<script>
								window._bd_share_config = {
									"common" : {
										"bdSnsKey" : {},
										"bdText" : "",
										"bdMini" : "2",
										"bdMiniList" : false,
										"bdPic" : "",
										"bdStyle" : "1",
										"bdSize" : "16"
									},
									"share" : {}
								};
								with (document)
									0[(getElementsByTagName('head')[0] || body)
											.appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='
											+ ~(-new Date() / 36e5)];
							</script>
						</div>
					</div>
				</div>

				<div class="panel panel-default panel-col hidden-xs">
					<div class="panel-heading">发表回复</div>
					<div class="panel-body">
						<form class="form-group">
							<div class="row">
								<div class="col-md-10 col-sm-10">
									<input class="form-control " placeholder="输入框"></input>
								</div>
								<div class="col-md-2 col-sm-2">
									<button class="btn btn-primary btn-report">发送</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="panel panel-default panel-col">
					<div class="panel-heading">全部评论（56）</div>
					<div class="panel-body" style="padding-bottom: 0px;">
						<ul class="media-list">
							<li class="media"><a class="pull-left">
							<img src=""	class="img-circle"></img></a>
								<div class="media-body">
									<div class="meta">
										<strong> 
											<a href="">
												<span class="color-nickname">用户昵称</span>
											</a>
										</strong> 
										<span class="mhm">多久前的回复</span>
									</div>
									<div class="content">评论的具体内容</div>
									<div class="text-muted text-normal pull-right">
										<a href="" class="reply">回复</a> 
										<a href="" class="reply" style="display: none;">收起</a>
									</div>
								</div>
							</li>
							<li class="media">
								<a class="pull-left">
									<img src="" class="img-circle"></img>
								</a>
								<div class="media-body">
									<div class="meta">
										<strong> 
											<a href="">
												<span class="color-nickname">用户昵称</span>
											</a>
										</strong> 
										<span class="mhm">多久前的回复</span>
									</div>
									<div class="content">回复的具体内容</div>
									<div class="text-muted text-normal pull-right">
										<a href="" class="reply">回复</a> 
										<a href="" class="reply" style="display: none;">收起</a>
									</div>
									<div class="reply-block">
										<div class="well">
											<ul class="media-list">
												<li class="media">
													<a class="pull-left">
														<img src=""	class="img-circle"></img>
													</a>
													<div class="media-body">
														<div class="meta">
															<strong> 
																<a href="">
																	<span class="color-nickname">用户昵称</span>
																</a>
															</strong> 
															<span class="mhm">多久前的回复</span>
														</div>
														<div class="content">回复的具体内容</div>
														<div class="text-muted text-normal pull-right">
															<a href="" class="reply">回复</a>
														</div>
													</div>
												</li>
												<li class="media">
													<a class="pull-left">
														<img src=""	class="img-circle"></img>
													</a>
													<div class="media-body">
														<div class="meta">
															<strong> 
																<a href="">
																	<span class="color-nickname">用户昵称</span>
																</a>
															</strong> 
															<span class="mhm">多久前的回复</span>
														</div>
														<div class="content">回复的具体内容</div>
														<div class="text-muted text-normal pull-right">
															<a href="" class="reply">回复</a>
														</div>
													</div>
												</li>
											</ul>
											<div class="media">
												<div class="media-body">
													<div class="text-muted text-normal pull-right user-reply">
														<a href="" class="reply">我也要说</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>

						<form class="form-group"> 
					    		<nav style="margin-bottom: 0px;">
								    <ul class="pagination" style="margin: 10px auto;margin-bottom: 0px;">
									    <li class="pageturn">
									    	<a>
										    	<span>
										    		<span aria-hidden="true">&laquo;</span>
										        </span>
									        </a>
									    </li>
									    <li class="pageturn">
									      <a><span>1 <span class="sr-only"></span></span></a>
									    </li>
									    <li class="pageturn">
									      <a><span>2 <span class="sr-only"></span></span></a>
									    </li>
									    <li class="pageturn">
									    	<a>
										    	<span>
										    		<span aria-hidden="true">&raquo;</span>
										        </span>
									        </a>
									    </li>
								    </ul>
								</nav>
				    		</form>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="panel panel-default panel-col"
					style="margin-bottom: 10px; margin-top: 10px;">
					<div class="panel-heading border-style">15人已报名</div>
					<div class="panel-body">
						<ul class="media-list thread-list">
							<li class="media border-style">
								<div class="row" style="margin: 0;">
									<div class="pull-left">
										<img th:src="@{'/images/home/1.jpg'}" class="img-circle center-block user-headimg"></img>
										<span style="float: left; line-height: 30px;">测试账号名</span>
									</div>
									<div class="pull-right">
										<span style="line-height: 30px;">2015-09-23</span>
									</div>
								</div>
							</li>
							<li class="media border-style">
								<div class="row" style="margin: 0;">
									<div class="pull-left">
										<img th:src="@{'/images/home/1.jpg'}" class="img-circle center-block user-headimg"></img>
										<span style="float: left; line-height: 30px;">测试账号名</span>
									</div>
									<div class="pull-right">
										<span style="line-height: 30px;">2015-09-23</span>
									</div>
								</div>
							</li>
							<li class="media border-style">
								<div class="row" style="margin: 0;">
									<div class="pull-left">
										<img th:src="@{'/images/home/1.jpg'}" class="img-circle center-block user-headimg"></img>
										<span style="float: left; line-height: 30px;">测试账号名</span>
									</div>
									<div class="pull-right">
										<span style="line-height: 30px;">2015-09-23</span>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="panel-footer text-center">
						<strong><span>查看更多</span></strong>
					</div>
				</div>

				<div class="row text-center new-topic">
					<a href="javascript::/" data-toggle="modal" data-target="#applyModal">马上报名 </a>
				</div>
			</div>
		</div>

		<!--
            	作者：727674928@qq.com
            	时间：2015-09-24
            	描述：手机站侧边分享
            -->
		<div class="tip-tool">
			<div class="mobile-share center-block bdsharebuttonbox"
				style="padding: 7px;">
				<a href="javascript::/" class="bds_more" data-cmd="more"
					style="background-image: url(); margin: 0px; padding: 0px; font-size: 14px;">
					<i class="fa fa-share-alt-square fa-2x" style="color: #fff;"></i>
				</a>
			</div>
			<script>
				window._bd_share_config = {
					"common" : {
						"bdSnsKey" : {},
						"bdText" : "",
						"bdMini" : "2",
						"bdMiniList" : false,
						"bdPic" : "",
						"bdStyle" : "1",
						"bdSize" : "16"
					},
					"share" : {}
				};
				with (document)
					0[(getElementsByTagName('head')[0] || body)
							.appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='
							+ ~(-new Date() / 36e5)];
			</script>
			<div class="mobile-cang center-block" style="padding: 7px;">
				<i class="fa fa-thumbs-o-up fa-2x" style="color: #fff;"></i>
			</div>
			<div class="mobile-zan center-block" style="padding: 7px;">
				<i class="fa fa-star fa-2x" style="color: #fff;"></i>
			</div>
		</div>
	</div>
	
	<!--
        	作者：727674928@qq.com
        	时间：2015-09-25
        	描述：报名弹窗
        -->
	<div class="modal fade" id="applyModal" tabindex="-1" role="dialog" aria-labelledby="applyModalLabel" style="top: 25%;">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="applyModalLabel">活动报名</h4>
				</div>
				<div class="modal-body">
					<form class="form-group">
						<div class="form-group">
							<label for="apply-name" class="control-label">您的姓名:</label>
							<input type="text" class="form-control" id="apply-name" />
						</div>
						<div class="form-group">
							<label for="apply-tel" class="control-label">您的联系方式:</label>
							<input type="tel" class="form-control" id="apply-tel"></input>
						</div>
						<div class="form-group">
							<button type="button" class="btn btn-primary center-block" style="width: 80px;">确定</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div th:include="layout/front_nav::nav-footer"></div>

</body>
</html>