<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/head :: front" />

<!-- 同城活动 -->

<body class="index">
	<!--
        	作者：727674928@qq.com
        	时间：2015-09-17
        	描述：顶部菜单和logo
        -->
	<div th:include="layout/common/header::nav-header"></div>
	
	<!-- 轮播图 -->
	<div th:include="layout/front_nav::nav-slidebanner"></div>
	
	<!-- 活动展示 -->
    <div class="container" style="margin: 0px auto;display: block;">
    	<div class="row" style="margin: 0px;">
    		<div class="panel panel-default" style="margin-bottom: 0px;">
    			<div class="panel-heading" style="height: auto;">
    				<div class="row">
    					<div class="col-md-10 col-sm-7 col-xs-5">
	    					<p style="margin: 0px;line-height: 38px;">同城活动</p>
	    				</div>	
	    				<div class="col-md-2 col-sm-5 col-xs-7">
    						<form class="navbar-form navbar-left" role="" action="" style="margin: 0px;padding: 0;">
								<div class="form-group">
									<input class="form-control" name="" placeholder="搜活动" autocomplete="off" style="font-weight: normal;float: right;"></input>
									<button class="button fa fa-search" type="submit"></button>
								</div>
							</form>
    					</div>	
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
    <div class="container" style="margin: 0px auto 0px auto;">
    	<div class="row" style="margin: 0px;">
    		<div class="panel panel-default" style="margin-bottom: 0px;">
    			<div class="panel-body">
    				<div class="row">
    					<div class="col-md-10">
    						<ul class="inter-label">
								<li><a>全部</a></li>
								<li><a>话题标签分类</a></li>
								<li><a>话题标签分类</a></li>
								<li><a>话题标签分类</a></li>
								<li><a>话题标签分类</a></li>
								<li><a>话题标签分类</a></li>
								<li><a>更多</a></li>
							</ul>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
    
		<div class="container smt" style="margin-bottom: 5px;">
			<div class="row" style="margin: 0px;">
    			<div class="panel panel-default panel-col" style="margin-bottom: 0px;">
    				<div class="panel-body">
    					<div class="row border-style" style="margin:0px;background: #ffffff;">
				    		<div class="col-md-1 col-sm-2 col-xs-2 text-center">
				    			<a href="javascript:;"><h4>最新</h4></a>
				    		</div>
				    		<div class="col-md-1 col-sm-2 col-xs-2 text-center">
				    			<a href="javascript:;"><h4>最热</h4></a>
				    		</div>
				    		<div class="col-md-1 col-sm-2 col-xs-2 text-center">
				    			<a href="javascript:;"><h4>最近</h4></a>
				    		</div>
				    	</div>
	    				<div class="row">
	    					<div class="col-md-4 col-sm-6 col-xs-12" style="border: 1px solid #EEEEEE;">
	    						<div class="row">
	    							<img alt="attr" th:src="@{'/images/home/u901.jpg'}" class="img-responsive center-block" ></img>
	    						</div>
	    						<div class="course-info">
	    							<div class="title">
	    								<strong><a class="" href="">门道教育研究研</a></strong>
	    							</div>
	    							<div class="metas">
										<span>时间：2015-12-15&nbsp;&nbsp;19:00~21:00</span>
									</div>
									<div class="metas" style="text-align: center;">
										<span>已有15人完成报名</span>
									</div>
	    						</div>
	    					</div>
	    					<div class="col-md-4 col-sm-6 col-xs-12" style="border: 1px solid #EEEEEE;">
	    						<div class="row">
	    							<img alt="attr" th:src="@{'/images/home/u901.jpg'}" class="img-responsive center-block" ></img>
	    						</div>
	    						<div class="course-info">
	    							<div class="title">
	    								<strong><a class="" href="">门道教育研究研</a></strong>
	    							</div>
	    							<div class="metas">
										<span>时间：2015-12-15&nbsp;&nbsp;19:00~21:00</span>
									</div>
									<div class="metas" style="text-align: center;">
										<span>已有15人完成报名</span>
									</div>
	    						</div>
	    					</div>
	    					<div class="col-md-4 col-sm-6 col-xs-12" style="border: 1px solid #EEEEEE;">
	    						<div class="row">
	    							<img alt="attr" th:src="@{'/images/home/u901.jpg'}" class="img-responsive center-block"></img>
	    						</div>
	    						<div class="course-info">
	    							<div class="title">
	    								<strong><a class="" href="">门道教育研究研</a></strong>
	    							</div>
	    							<div class="metas">
										<span>时间：2015-12-15&nbsp;&nbsp;19:00~21:00</span>
									</div>
									<div class="metas" style="text-align: center;">
										<span>已有15人完成报名</span>
									</div>
	    						</div>
	    					</div>
	    				</div>
    				
	    				<div class="row">
	    					<div class="col-md-4 col-sm-6 col-xs-12" style="border: 1px solid #EEEEEE;">
	    						<div class="row">
	    							<img alt="attr" th:src="@{'/images/home/u901.jpg'}" class="img-responsive center-block"></img>
	    						</div>
	    						<div class="course-info">
	    							<div class="title">
	    								<strong><a class="" href="">门道教育研究研</a></strong>
	    							</div>
	    							<div class="metas">
										<span>时间：2015-12-15&nbsp;&nbsp;19:00~21:00</span>
									</div>
									<div class="metas" style="text-align: center;">
										<span>已有15人完成报名</span>
									</div>
	    						</div>
	    					</div>
	    					<div class="col-md-4 col-sm-6 col-xs-12" style="border: 1px solid #EEEEEE;">
	    						<div class="row">
	    							<img alt="attr" th:src="@{'/images/home/u901.jpg'}" class="img-responsive center-block"></img>
	    						</div>
	    						<div class="course-info">
	    							<div class="title">
	    								<strong><a class="" href="">门道教育研究研</a></strong>
	    							</div>
	    							<div class="metas">
										<span>时间：2015-12-15&nbsp;&nbsp;19:00~21:00</span>
									</div>
									<div class="metas" style="text-align: center;">
										<span>已有15人完成报名</span>
									</div>
	    						</div>
	    					</div>
	    					<div class="col-md-4 col-sm-6 col-xs-12" style="border: 1px solid #EEEEEE;">
	    						<div class="row">
	    							<img alt="attr" th:src="@{'/images/home/u901.jpg'}" class="img-responsive center-block"></img>
	   							</div>
	    						<div class="course-info">
	    							<div class="title">
	    								<strong><a class="" href="">门道教育研究研</a></strong>
	    							</div>
	    							<div class="metas">
										<span>时间：2015-12-15&nbsp;&nbsp;19:00~21:00</span>
									</div>
									<div class="metas" style="text-align: center;">
										<span>已有15人完成报名</span>
									</div>
	    						</div>
	    					</div>
	    				</div>
	    			</div>
	    			<div class="row">
						<nav>
							<ul class="pagination">
								<li class="pageturn">
									<a>
										<span>
											<span aria-hidden="true">&laquo;</span>
										</span>
									</a>
								</li>
								<li class="pageturn">
									<a><span>1 <span class="sr-only"></span></span></a>
								</li>
								<li class="pageturn">
									<a><span>2 <span class="sr-only"></span></span></a>
								</li>
								<li class="pageturn">
									<a>
										<span>
											<span aria-hidden="true">&raquo;</span>
										</span>
									</a>
								</li>
							</ul>
						</nav>
					</div>
    		</div>
    	</div>
	</div>
		
	<!-- footer -->
	<div th:include="layout/front_nav::nav-footer"></div>	
</body>
</html>