<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/head :: front" />
	<script>
	
		$(function(){
			$("#js_find_by_mobile").addClass("active");
		});
		
		function changeToMobile(){
			
			var email = document.getElementById("find-by-emial");
			var mobile = document.getElementById("find-by-mobile");
			
			if(mobile.style.display == "none"){
				$("#js_find_by_email").removeClass("active");
				$("#js_find_by_mobile").addClass("active");
				email.style.display = "none";
				mobile.style.display = "block";
			}
		};
		function changeToEmail(){
			var email = document.getElementById("find-by-emial");
			var mobile = document.getElementById("find-by-mobile");
			
			if(email.style.display == "none"){
				$("#js_find_by_email").addClass("active");
				$("#js_find_by_mobile").removeClass("active");
				email.style.display = "block";
				mobile.style.display = "none";
			}
			
		};
	</script>


	<!-- 发布话题 -->
<body class="index">
	<!--
        	作者：727674928@qq.com
        	时间：2015-09-17
        	描述：顶部菜单和logo
        -->
	<div th:include="layout/common/header::nav-header"></div>
	
	<!-- 找回密码部分 -->	
	<div class="container reset-container">
		<div class="row row-6">
			<div class="col-md-6 col-md-offset-3 ptl">
				<div class="panel panel-default panel-page">
					<div class="panel-heading" style="padding: 0px;border-bottom: 0px;">
						<h2>找回密码</h2>
					</div>
					<ul class="nav nav-tabs mbl">
						<li id="js_find_by_mobile" class="js-find-by-mobile" onclick="changeToMobile()">
							<a style="cursor: pointer;">手机验证</a>
						</li>
						<li id="js_find_by_email" class="js-find-by-email" onclick="changeToEmail()">
							<a style="cursor: pointer;">邮箱验证</a>
						</li>
					</ul>
					<form id="find-by-mobile" class="form-vertical" style="display: block;">
						<div class="form-group text-left">
							<label class="control-label">绑定的手机号码 </label>
							<div class="controls">
								<input type="tel" class="form-control" ></input>
							</div>
						</div>
						<div class="form-group text-left">
							<label class="control-label required" for="sms_code">短信验证码</label>
							<div class="controls row">
								<div class="col-md-9 col-sm-9">
									<input type="text" class="form-control" ></input>
								</div>
		
								<div class="col-md-3 col-sm-3">
									<a href="/" class="btn btn-default btn-sm js-sms-send" style="border-radius: 3px;padding-left: 30px;padding-right: 30px;">
										<span>发送</span>
									</a>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="controls">
								<input type="hidden" />
								<button type="submit" class="btn btn-primary padding-btn">重设密码</button>
							</div>
						</div>
					</form>
						
					<form id="find-by-emial" class="form-vertical" style="display: none;">
						<div class="form-group text-left">
							<label class="control-label">绑定的邮箱</label>
							<div class="controls">
								<input type="tel" class="form-control" ></input>
							</div>
						</div>
						<div class="form-group text-left">
							<label class="control-label required" for="sms_code">邮箱验证码</label>
							<div class="controls row">
								<div class="col-md-9 col-sm-9">
									<input type="text" class="form-control" ></input>
								</div>
		
								<div class="col-md-3 col-sm-3">
									<a href="/" class="btn btn-default btn-sm js-sms-send" style="border-radius: 3px;padding-left: 30px;padding-right: 30px;" >
										<span>发送</span>
									</a>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="controls">
								<input type="hidden" />
								<button type="submit" class="btn btn-primary padding-btn">重设密码</button>
							</div>
						</div>
					</form>
				</div>	
			</div>
		</div>
	</div>
	
	
	<div th:include="layout/front_nav::nav-footer"></div>

</body>
</html>