<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/head :: front" />

<!-- 教练式父母课程详情 -->

<body class="index">
	<!--
        	作者：727674928@qq.com
        	时间：2015-09-17
        	描述：顶部菜单和logo
        -->
	<div th:include="layout/common/header::nav-header"></div>

	<!-- banner -->
		<div class="banner-green">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-xs-12 mbt60">
						<img class="img-responsive center-block" th:src="@{'/images/home/125.png'}" ></img>
					</div>
					<div class="col-sm-6 col-xs-12 mbt60 banner-p">
						<p>您是一位善解人意的家长吗？ </p>
						<p>你是不是已经习惯了安排孩子的一切？左右他们的思考和行为？</p>
						<p>您能否创造一个和谐温暖的氛围，让孩子与自己愉快轻松的沟通？</p> 
						<p>您是否已建立与孩子之间的深度心智联系？从而了解他思想行为形成的动机？</p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="container mbt60">
			<div class="row">
				<div class="col-md-5 col-xs-12 free-ptl">
					<img class="img-responsive center-block" th:src="@{'/images/home/350.jpg'}"></img>
				</div>
				<div class="col-md-7 col-xs-12 free-pbt30">
					<strong><p class="free-title">让父母成为孩子成功的推动者、支持者、引领者！</p></strong>
					<p class="plh">
						教练父母，是专为家长而设计，旨在帮助传统的家长成为善于与孩子沟通、 善于挖掘孩子潜能、善于激励孩子、善于培养孩子成为心智健全、脑身心一致、 内外和谐的优秀孩子，是为把家长培养成真正能够帮助孩子成长的教练型家长而开设的专业系统课程。
					</p>
				</div>
			</div>
		</div>
		<div><hr class="center-block free-hr" /></div>
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-md-offset-1 col-xs-12 free-ptl">
					<strong><p class="free-title">课程内容</p></strong>
					<p>1.塑造生命之根唤醒孩子能量源</p>
					<p>2.改变孩子信念教练父母新模式</p>
					<p>3.清理负能量开发孩子潜意识</p>
				</div>
				
				<div class="col-md-5 col-xs-12 free-ptl free-ptl20">
					<div><hr class="center-block free-hr-mobile" /></div>
					<strong><p class="free-title">课程收获</p></strong>
					<p>1.打开心门，建立关系，拉近与孩子的心理距离；</p>
					<p>2.能判断孩子的能量级别，掌握清理孩子负能量的方法；</p>
					<p>3.学会捕捉孩子的限制性信念，学会父母教练工具的运用；</p>
					<p>4.有效开启孩子的智慧和潜能，看到孩子的更多可能性。</p>
				</div>
			</div>
		</div>

	<div class="container mbt60 hidden-xs">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<div class="col-md-4 col-xs-4">
					<div class="text-center center-block mtm free-qq">
						<i class="fa fa-qq font-fff"></i>
					</div>
					<p class="text-center text-lg mtl">在线咨询</p>
				</div>
				<div class="col-md-4 col-xs-4">
					<div class="text-center center-block mtm free-pencil">
						<i class="fa fa-pencil font-fff"></i>
					</div>
					<p class="text-center text-lg mtl" data-toggle="modal" data-target="#applyModal" data-whatever="@mdo">报名申请</p>
				</div>
				<div class="col-md-4 col-xs-4">
					<div class="text-center center-block mtm free-phone">
						<i class="fa fa-phone font-fff"></i>
					</div>
					<p class="text-center text-lg mtl">电话咨询</p>
				</div>
			</div>	
		</div>
	</div>

	<!-- 报名弹窗 -->
	<div class="modal fade" id="applyModal" tabindex="-1" role="dialog"
		aria-labelledby="applyModalLabel" style="top: 25%;">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<form class="form-group pvm mb40">
						<h4 class="modal-title font-color free-fw pvl"
							id="applyModalLabel">免费学申请报名</h4>
						<div class="form-group">
							<input type="text"
								class="form-control form-control-w center-block" id="apply-name"
								placeholder="您的姓名" />
						</div>
						<div class="form-group">
							<input type="tel"
								class="form-control form-control-w center-block" id="apply-tel"
								placeholder="您的联系方式"></input>
						</div>
						<div class="form-group">
							<button type="button"
								class="btn btn-primary center-block form-control-w btn-r">确定</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- 手机侧边分享 -->
	<div class="tip-tool">
		<div class="mobile-share center-block bdsharebuttonbox pad18">
			<a href="#" class="bds_more" data-cmd="more" style="background-image: url();margin: 0px;padding: 0px;font-size: 14px;">
				<i class="fa fa-share-square-o fa-2x font-fff"></i>
			</a>
		</div>
		<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
		<div class="mobile-cang center-block pad18">
			<a><i class="fa fa-phone fa-2x font-fff"></i></a>
		</div>
		<div class="mobile-zan center-block pad18">
			<a><i class="fa fa-pencil fa-2x font-fff"></i></a>
		</div>
	</div>

	<!-- footer -->
	<div th:include="layout/front_nav::nav-footer"></div>
</body>
</html>