<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<head th:include="layout/head :: front" />
	<script>
		$(document).ready(function() {
			//限制字符个数
			$(".test-list-p span").each(function() {
				var maxwidth = 60;
				if ($(this).text().length > maxwidth) {
					$(this).text($(this).text().substring(0, maxwidth));
					$(this).text($(this).text() + '……');
				}
			});
		});
	</script>
</head>


<!-- 升学指导 -->
<body class="index bg-color">
	<!--
        	作者：727674928@qq.com
        	时间：2015-09-17
        	描述：顶部菜单和logo
        -->
	<div th:include="layout/common/header::nav-header"></div>
	
	<!-- 升学指导 -->
	<div class="test-sup">
		<div class="container" style="margin-top: 35px; margin-bottom: 20px;min-height:452px">
	
			<div class="row text-center">
				<p class="text-xxlg free-fw font-color">升学指导模块概述</p>
				<p class="color-gray test-top-p">
					升学指导模块概述升学指导模块概述升学指导模块概述升学指导模块概述升学指导模块概述升学指导模块概述升学指导模块概述
				</p>
				<hr style="margin-top:30px;"/>
			</div>
	
			<div class="row test-module pbl">
	
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="border-all test-item">
						<img class="img-responsive center-block" th:src="@{'/images/home/350.jpg'}"></img>
						<p class="text-xlg free-fw text-center" style="margin-top: 10px;">
							<a>测试项目的标题</a>
						</p>
						<p class="text-mds text-center color-gray">使用对象：0-18岁</p>
						<p class="test-list-p">
							<span>如果你无法简洁的表达你的想法，那只说明你还不够了解它。 --阿尔伯特·爱因斯坦如果你无法简洁的表达你的想法，那只说明你还不够了不够了解它。</span>
						</p>
						<a class="center-block mbl special" ><span>进入专题</span></a>
					</div>
				</div>
	
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="border-all test-item">
						<img class="img-responsive center-block" th:src="@{'/images/home/350.jpg'}"></img>
						<p class="text-xlg free-fw text-center" style="margin-top: 10px;">
							<a>测试项目的标题</a>
						</p>
						<p class="text-mds text-center color-gray">使用对象：0-18岁</p>
						<p class="test-list-p">
							<span>如果你无法简洁的表达你的想法，那只说明你还不够了解它。 --阿尔伯特·爱因斯坦如果你无法简洁的表达你的想法，那只说明你还不够了不够了解它。</span>
						</p>
						<a class="center-block mbl special" ><span>进入专题</span></a>
					</div>
				</div>
	
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="border-all test-item">
						<img class="img-responsive center-block" th:src="@{'/images/home/350.jpg'}"></img>
						<p class="text-xlg free-fw text-center" style="margin-top: 10px;">
							<a>测试项目的标题</a>
						</p>
						<p class="text-mds text-center color-gray">使用对象：0-18岁</p>
						<p class="test-list-p">
							<span>如果你无法简洁的表达你的想法，那只说明你还不够了解它。 --阿尔伯特·爱因斯坦如果你无法简洁的表达你的想法，那只说明你还不够了不够了解它。</span>
						</p>
						<a class="center-block mbl special" ><span>进入专题</span></a>
					</div>
				</div>
	
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="border-all test-item">
						<img class="img-responsive center-block" th:src="@{'/images/home/350.jpg'}"></img>
						<p class="text-xlg free-fw text-center" style="margin-top: 10px;">
							<a>测试项目的标题</a>
						</p>
						<p class="text-mds text-center color-gray">使用对象：0-18岁</p>
						<p class="test-list-p">
							<span>如果你无法简洁的表达你的想法，那只说明你还不够了解它。 --阿尔伯特·爱因斯坦如果你无法简洁的表达你的想法，那只说明你还不够了不够了解它。</span>
						</p>
						<a class="center-block mbl special" ><span>进入专题</span></a>
					</div>
				</div>
	
			</div>
	
		</div>
	</div>
	<!--
        	作者：727674928@qq.com
        	时间：2015-09-17
        	描述：footer
        -->
	<div th:include="layout/front_nav::nav-footer"></div>
</body>

</html>