<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/head :: front" />

<!-- 成长测评-开始测试 -->
<body class="index bg-color">
	<!--
        	作者：727674928@qq.com
        	时间：2015-09-17
        	描述：顶部菜单和logo
        -->
	<div th:include="layout/common/header::nav-header"></div>
	
	<!-- 开始测评 -->
	<div class="container" style="margin-top: 20px;margin-bottom: 20px;">
		<div class="row text-center">
			<p class="text-xxlg free-fw color-gray">儿童天赋能力测试</p>
			<hr />
			<p class="text-lg color-gray">
				<span>测评进度&nbsp;&nbsp;</span> <span>10</span> <span>/20</span>
			</p>
		</div>
	</div>

	<div class="container test-judge">
		<div class="row mbl" style="margin-left: 0px; margin-right: 0px;">
			<p class="text-center text-24">你善于用语言描述听到的各种声响</p>
		</div>
		<div class="row mbl">
			<div class="col-md-6 col-sm-6 col-xs-6">
				<div class="float-r mrl text-center test-option">
					<p class="mar mtl free-fw">是</p>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-6">
				<div class="float-l mll text-center test-option">
					<p class="mar mtl free-fw">否</p>
				</div>
			</div>
		</div>

		<div class="row mbl">
			<div class="col-md-6 col-sm-6 col-xs-6">
				<div class="float-r mrl text-center">
					<p class="mar mtl color-gray test-next">上一题</p>
				</div>
			</div>

			<div class="col-md-6 col-sm-6 col-xs-6">
				<div class="float-l mll text-center">
					<p class="mar mtl color-gray test-next">下一题</p>
				</div>
			</div>
		</div>
	</div>

	<!--
        	作者：727674928@qq.com
        	时间：2015-09-17
        	描述：footer
        -->
	<div th:include="layout/front_nav::nav-footer"></div>
</body>

</html>