<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/head :: front" />

<body class="index">
	<!--
        	作者：727674928@qq.com
        	时间：2015-09-17
        	描述：顶部菜单和logo
        -->
	<div th:include="layout/common/header::nav-header"></div>
	<!--
        	作者：727674928@qq.com
        	时间：2015-09-19
        	描述：话题banner
        -->
	<section class="p-home">
		<div class="container">
			<div class="personImg" style="text-align: center;">
				<a class="js-user-card" href="javascript:;" data-card-url="" data-user-id="">
					<img class="img-responsive" th:src="@{'/images/home/'}"></img>
				</a>
			</div>
		</div>
	</section>

	<!-- 我要付款  -->
	 <div style="background-color: #ffffff;">
	     <div class="container">
	       	<div class="row" style="height: 40px;"></div>
	     </div>
	 </div>    
	    
     <div class="container phs" id="content-container">
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-12 row-fr">
				<div class="panel panel-default">
					<div class="panel-heading border-style ">
						我的账户
					</div>
					<div class="panel-body">
						<ul class="media-list thread-list">
			                <li class="media media-li border-style">
								<div class="row" style="margin: 0;">
									<i class="fa fa-rmb"></i>
									<span class="sml">账户信息</span>
								</div>
			    			</li>
			    			<li class="media media-li" >
								<div class="row" style="margin: 0;">
									<i class="fa fa-database"></i>
									<span class="sml">交易记录</span>
								</div>
			    			</li>
			    			<li class="media media-li">
								<div class="row" style="margin: 0;">
									<i class="fa fa-caret-square-o-right"></i>
									<span class="sml">我要付款</span>
								</div>
			    			</li>
			    			<li class="media media-li">
								<div class="row" style="margin: 0;"> 
										<i class="fa fa-caret-square-o-down"></i>
									<span class="sml">我要收款</span>
								</div>
			    			</li>
			    		</ul>
			    	</div>	
				</div>
			</div>
			<div class="col-md-8 col-sm-8 col-xs-12 row-fr">
				<div class="panel panel-default panel-col">
					<div class="panel-heading border-style">
						我要付款
					</div>
					<div class="panel-body">
						<div class="col-md-6 col-md-offset-3" style="margin-top: 10%;">
							<form class="form-group">
								<div class="form-group text-center">
									<label for="apply-name" class="control-label">请输入对方的账户名:</label>
									<input type="text" class="form-control" id="apply-name" />
								</div>
								<div class="form-group text-center">
									<label for="apply-tel" class="control-label">请输入转账金额:</label>
									<input type="number" class="form-control" id="apply-tel"></input>
								</div>
								<div class="form-group">
									<button type="button" class="btn btn-primary center-block" style="width: 80px;">确定</button>
								</div>
								<div class="form-group text-center">
									<a class="a-color"><span>下载门道app开启扫码支付</span></a>
								</div>
							</form>
						</div>
			    	</div>
				</div>
			</div>
		</div>
    </div>
	
	
	<!--
        	作者：727674928@qq.com
        	时间：2015-09-17
        	描述：footer
        -->
	<div th:include="layout/front_nav::nav-footer"></div>
</body>

</html>