<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/head :: front" />

<body class="index bg-color">
	<!--
        	作者：727674928@qq.com
        	时间：2015-09-17
        	描述：顶部菜单和logo
        -->
	<div th:include="layout/common/header::nav-header"></div>
	<!--
        	作者：727674928@qq.com
        	时间：2015-09-19
        	描述：话题banner
        -->
	<section class="p-home">
		<div class="container">
			<div class="personImg" style="text-align: center;">
				<a href="" data-card-url="" data-user-id="">
					<img class="img-responsive" src=""></img>
				</a>
			</div>
		</div>
	</section>

	<!--
        	作者：727674928@qq.com
        	时间：2015-09-19
        	描述：话题内容显示部分
        -->
	<div class="container" id="content-container">
		<div class="row">
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="panel panel-default panel-col border0 box-shadow0">
					<div class="panel-heading border-style" >
						他发布的话题
					</div>
					<div class="panel-body">
						<ul class="media-list thread-list">
							<li class="media">
								<div class="row">
									<div style="float: left; margin-left: 15px;">
										<p>
											<span class="author-topic">作者的名字&nbsp;&nbsp;</span>
											<span class="read-topic">2015-02-03</span>
										</p>
										<p class="title-topic">
											<a href="#">2015年小升初需要注意的</a>
										</p>
										<p class="read-topic">
											<span>阅读&nbsp;</span><span>10000&nbsp;&nbsp;</span> <span>评论&nbsp;</span><span>10000&nbsp;&nbsp;</span>
											<span>点赞&nbsp;</span><span>10000&nbsp;&nbsp;</span>
										</p>
									</div>
									<div>
										<img th:src="@{'/images/home/1.jpg'}" class="img-responsive homepage-img"></img>
									</div>
								</div>
							</li>
							<li class="media">
								<div class="row">
									<div style="float: left; margin-left: 15px;">
										<p>
											<span class="author-topic">作者的名字&nbsp;&nbsp;</span>
											<span class="read-topic">2015-02-03</span>
										</p>
										<p class="title-topic">
											<a href="">2015年小升初需要注意的</a>
										</p>
										<p class="read-topic">
											<span>阅读&nbsp;</span><span>10000&nbsp;&nbsp;</span> <span>评论&nbsp;</span><span>10000&nbsp;&nbsp;</span>
											<span>点赞&nbsp;</span><span>10000&nbsp;&nbsp;</span>
										</p>
									</div>
									<div>
										<img th:src="@{'/images/home/1.jpg'}" class="img-responsive homepage-img"></img>
									</div>
								</div>
							</li>
						</ul>
					</div>

					<div class="row">
						<nav>
							<ul class="pagination">
								<li class="pageturn">
									<a><span><span aria-hidden="true">&laquo;</span></span></a>
								</li>
								<li class="pageturn">
									<a><span>1 <span class="sr-only"></span></span></a>
								</li>
								<li class="pageturn">
									<a><span>2 <span class="sr-only"></span></span></a>
								</li>
								<li class="pageturn">
									<a> <span> <span aria-hidden="true">&raquo;</span></span></a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
			
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="panel panel-default border-top" style="margin-bottom: 10px;">
					<div class="panel-heading border-style">
						他的基本资料
					</div>
					<div class="panel-body">
						<ul class="media-list thread-list">
							<li class="media" style="border-bottom: 1px dashed #F1F1F1;">
								<div class="row" style="margin: 0;">
									<span>昵称：</span> 
									<span>测试账号名</span>
								</div>
							</li>
							<li class="media" style="border-bottom: 1px dashed #F1F1F1;">
								<div class="row" style="margin: 0;">
									<span>性别 ：</span> 
									<span>男</span>
								</div>
							</li>
							<li class="media" style="border-bottom: 1px dashed #F1F1F1;">
								<div class="row" style="margin: 0;">
									<span>等级 ：</span> 
									<span>普通用户</span>
								</div>
							</li>
							<li class="media" style="border-bottom: 1px dashed #F1F1F1;">
								<div class="row" style="margin: 0;">
									<span>来自 ：</span> 
									<span>陕西西安</span>
								</div>
							</li>
						</ul>
					</div>
					<div class="row text-center" style="padding-bottom: 10px;">
						<a href="">编辑个人资料 <i class="fa fa-angle-right"></i></a>
					</div>

				</div>
				<div class="row text-center new-topic" style="margin-bottom: 20px;">
					<a href=""> 发布新话题 </a>
				</div>
			</div>
		</div>
	</div>

	<!--
        	作者：727674928@qq.com
        	时间：2015-09-17
        	描述：footer
        -->
	<div th:include="layout/front_nav::nav-footer"></div>
</body>

</html>