<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/head :: front" />

	<!-- 发布话题 -->
<body class="index">
	<!--
        	作者：727674928@qq.com
        	时间：2015-09-17
        	描述：顶部菜单和logo
        -->
	<div th:include="layout/common/header::nav-header"></div>
	
	<div class="container" style="margin-top: 5px;">
		<div class="row">
			<div class="panel panel-default" style="margin-bottom: 0px;">
				<div class="panel-heading border-style" >
					发布话题
				</div>
			</div>
			<div class="panel panel-default" style="margin-top: 5px;">
				<div class="panel-body border-style">
					<div class="row center-block row-width">
						<div class="col-md-1">
							<h4>标题</h4>
						</div>
						<div class="col-md-11">
							<div class="form-group">
								<input class="form-control" style="border-radius: 0px;" ></input>
							</div>
						</div>
					</div>
					<div class="row center-block row-width">
						<div class="col-md-1">
							<h4>内容</h4>
						</div>
						<div class="col-md-11">
							<div class="form-group">
								<textarea class="form-control" style="border-radius: 0px;" rows="10" ></textarea>
							</div>
						</div>
					</div>
					<div class="row center-block row-width">
						<div class="col-md-1">
							<h4>标签</h4>
						</div>
						<div class="col-md-11">
							<div class="form-group">
								<ul class="inter-label">
									<li><a>分类标签</a></li>
									<li><a>分类标签</a></li>
									<li><a>话题分类标签</a></li>
									<li><a>话题分类标签</a></li>
									<li><a>话题分类标签</a></li>
									<li><a>话题分类标签</a></li>
									<li><a>话题分类标签</a></li>
									<li><a>话题分类标签</a></li>
									<li><a>更多</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="row center-block row-width" style="padding-top:10px;padding-bottom: 10px;">
						<div class="col-md-4 col-md-offset-4"><button  type="submit" class="btn btn-primary center-block" style="width: 200px;" >发表话题</button></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	<div th:include="layout/front_nav::nav-footer"></div>

</body>
</html>