<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/head :: front" />

<!-- 机构详情mobile端 -->

<body class="index bg-color">
	<!--
        	作者：727674928@qq.com
        	时间：2015-09-17
        	描述：顶部菜单和logo
        -->
	<div th:include="layout/common/header::nav-header"></div>

	<div class="school-banner">
		<div class="container">
			<div class="row school-banner-mobile">
				<div class="col-xs-4">
					<img th:src="@{'/images/home/1.jpg'}" class="img150c center-block"></img>
				</div>
				<div class="col-xs-8">
					<p class="text-xxlg mvm free-fw text-center school-banner-p">门道文化教育研究院</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container phl mts">
		<div class="row">
			<div class="col-xs-3 border-all text-center">
				<a><h4>简介</h4></a>
			</div>
			<div class="col-xs-3 border-all text-center">
				<a><h4>课程</h4></a>
			</div>
			<div class="col-xs-3 border-all text-center">
				<a><h4>环境</h4></a>
			</div>
			<div class="col-xs-3 border-all text-center">
				<a><h4>评价</h4></a>
			</div>
		</div>
		<div class="pad5">
			<div class="row plm">
				<p class="text-xxlg mvm free-fw">门道文化教育研究院</p>
			</div>
			<div class="row border-style padding-row">
				<i class="fa fa-university mrs"></i> 
				<span class="text-lg">机构类型：</span>
				<span class="text-lg">文化课辅导、语言培训</span>
			</div>
			<div class="row border-style padding-row text-lg">
				<i class="fa fa-graduation-cap mrs"></i> 
				<span class="text-lg">招生对象：</span>
				<span class="text-lg">小学生、初中生、高中生</span>
			</div>
			<div class="row border-style padding-row">
				<i class="fa fa-user mrs"></i> <span class="text-lg">授课模式：</span> <span
					class="text-lg">一对一</span>
			</div>
			<div class="row border-style padding-row">
				<i class="fa fa-globe mrs"></i> 
				<span class="text-lg">所在城市：</span> 
				<span class="text-lg">陕西省西安市莲湖区</span>
			</div>
			<div class="row border-style padding-row">
				<i class="fa fa-map-marker mrs"></i> 
				<span class="text-lg">机构地址：</span>
				<span class="text-lg">西安市莲湖区西安市莲湖区</span>
			</div>
		</div>
	</div>

	<div id="content-container" class="container" style="margin-top: 10px; margin-bottom: 10px;">
		<div class="row">

			<div class="col-xs-12 phm">

				<div class="panel panel-default border0 box-shadow0 mb0">
					<div class="panel-heading border-style">办学特色</div>
					<div class="panel-body phm border-style">
						<ul class="section-ul">
							<li>机构标签</li>
							<li>机构标签</li>
							<li>机构标签</li>
							<li>机构标签</li>
							<li>机构标签</li>
							<li>机构标签</li>
							<li>机构标签</li>
							<li>机构标签</li>
						</ul>
					</div>
				</div>

				<div class="panel panel-default box-shadow0 main-topic  mb0">
					<div class="panel-heading border-style">
						<p class="text-xlg mb0">机构简介</p>
					</div>
					<div class="panel-body border-style">
						<p class="mb0">机构详情机构详情机构详情 机构详情机构详情机构详情 机构详情机构详情机构详情
							机构详情机构详情机构详情 机构详情机构详情机构详情 机构详情机构详情机构详情</p>
					</div>
					<div class="panel-footer text-center border0">
						<div class="row">
							<a><span class="text-lg free-fw">查看更多</span></a>
						</div>
					</div>
				</div>

				<div class="panel panel-default box-shadow0 mb0">
					<div class="panel-heading">
						<span>机构环境</span>
					</div>
					<div class="panel-body" style="padding-top: 0px; padding-bottom: 0px;">
						<div class="row border-style pvm">
							<div class="col-xs-12">
								<img th:src="@{'/images/home/350.jpg'}" class="img-responsive center-block" ></img>
							</div>
						</div>

					</div>
					<div class="panel-footer text-center border0">
						<div class="row">
							<a><span class="text-lg free-fw">查看更多</span></a>
						</div>
					</div>
				</div>

				<div class="panel panel-default box-shadow0 mb0">
					<div class="panel-heading">
						<span>开设课程</span>
					</div>
					<div class="panel-body" style="padding-top: 0px; padding-bottom: 0px;">
						<div class="row border-style pvm">
							<div class="float-l">
								<img th:src="@{'/images/home/1.jpg'}" class="img60 mhm" ></img>
							</div>
							<div>
								<p class="text-center text-lg mvl mlm">课程标题课程标题课程标题课程标题课程</p>
							</div>
						</div>
						<div class="row border-style pvm">
							<div class="float-l">
								<img th:src="@{'/images/home/1.jpg'}" class="img60 mhm" ></img>
							</div>
							<div>
								<p class="text-center text-lg mvl mlm">课程标题课程标题课程标题课程标题课程</p>
							</div>
						</div>
					</div>
					<div class="panel-footer text-center border0">
						<div class="row">
							<a><span class="text-lg free-fw">查看更多</span></a>
						</div>
					</div>
				</div>

				<div class="panel panel-default mb0 box-shadow0">
					<div class="panel-heading border-style">分校地址</div>
					<div class="panel-body phm" style="padding-top: 0px; padding-bottom: 0px;">
						<ul class="media-list thread-list">
							<li class="media border-style" style="padding-top: 10px; padding-bottom: 10px; margin-top: 0px;">
								<div class="row mar">
									<div class="col-xs-2">
										<i class="fa fa-map-marker fa-2x mtm center-block"></i>
									</div>
									<div class="col-xs-10">
										<span class="text-lg">分校校区名称</span><br /> <span>分校校区地址</span>
									</div>
								</div>
							</li>
							<li class="media border-style" style="padding-top: 10px; padding-bottom: 10px; margin-top: 0px;">
								<div class="row" style="margin: 0;">
									<div class="col-xs-2">
										<i class="fa fa-map-marker fa-2x mtm center-block"></i>
									</div>
									<div class="col-xs-10">
										<span class="text-lg">分校校区名称</span><br /> <span>分校校区地址</span>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="panel-footer text-center">
						<button class="btn btn-default" style="border-radius: 3px">查看更多</button>
					</div>
				</div>

				<div class="panel panel-default box-shadow0 mb0">
					<div class="panel-heading">点评机构</div>
					<div class="panel-body">
						<form class="form-group">
							<div class="row">
								<div class="phl">
									<input class="form-control " placeholder="输入框"></input>
								</div>
								<div class="ptl phl" style="float: right;">
									<button class="btn btn-primary btn-report phl">发送</button>
								</div>
							</div>
						</form>
					</div>
				</div>

				<div class="panel panel-default box-shadow0 mb0">
					<div class="panel-heading">全部评论（56）</div>
					<div class="panel-body" style="padding-bottom: 0px;">
						<ul class="media-list">
							<li class="media">
								<a class="pull-left">
									<img src="" class="img-circle"></img>
								</a>
								<div class="media-body">
									<div class="meta">
										<strong> <a href=""><span class="color-nickname">用户昵称</span></a></strong> 
										<span class="mhm">多久前的回复</span>
									</div>
									<div class="content">评论的具体内容</div>
									<div class="text-muted text-normal pull-right">
										<a href="" class="reply">回复</a> 
										<a href="" class="reply" style="display: none;">收起</a>
									</div>
								</div>
							</li>
							<li class="media">
								<a class="pull-left">
									<img src="" class="img-circle"></img>
								</a>
								<div class="media-body">
									<div class="meta">
										<strong> <a href=""><span class="color-nickname">用户昵称</span></a></strong> 
										<span class="mhm">多久前的回复</span>
									</div>
									<div class="content">回复的具体内容</div>
									<div class="text-muted text-normal pull-right">
										<a href="" class="reply">回复</a> 
										<a href="" class="reply" style="display: none;">收起</a>
									</div>
									<div class="reply-block">
										<div class="well">
											<ul class="media-list">
												<li class="media">
													<a class="pull-left">
														<img src="" class="img-circle"></img>
													</a>
													<div class="media-body">
														<div class="meta">
															<strong> <a href=""><span class="color-nickname">用户昵称</span></a></strong> 
															<span class="mhm">多久前的回复</span>
														</div>
														<div class="content">回复的具体内容</div>
														<div class="text-muted text-normal pull-right">
															<a href="" class="reply">回复</a>
														</div>
													</div>
												</li>
												<li class="media">
													<a class="pull-left">
														<img src="" class="img-circle"></img>
													</a>
													<div class="media-body">
														<div class="meta">
															<strong> <a href=""><span class="color-nickname">用户昵称</span></a></strong>
															<span class="mhm">多久前的回复</span>
														</div>
														<div class="content">回复的具体内容</div>
														<div class="text-muted text-normal pull-right">
															<a href="" class="reply">回复</a>
														</div>
													</div>
												</li>
											</ul>
											<div class="media">
												<div class="media-body">
													<div class="text-muted text-normal pull-right user-reply">
														<a href="" class="reply">我也要说</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="panel-footer text-center border0">
						<div class="col-xs-12">
							<a><span class="text-lg free-fw">查看全部评价</span></a>
						</div>
					</div>
				</div>

			</div>


		</div>

		<!-- 手机侧边分享 -->
		<div class="tip-tool">
			<div class="mobile-freecall center-block bdsharebuttonbox"
				style="padding: 17px;">
				<a href="" class="bds_more" data-cmd="more" style="background-image: url();margin: 0px; padding: 0px; font-size: 14px;">
					<i class="fa fa-phone fa-2x" style="color: #fff;"></i>
				</a>
			</div>
			<script>
				window._bd_share_config = {
					"common" : {
						"bdSnsKey" : {},
						"bdText" : "",
						"bdMini" : "2",
						"bdMiniList" : false,
						"bdPic" : "",
						"bdStyle" : "1",
						"bdSize" : "16"
					},
					"share" : {}
				};
				with (document)
					0[(getElementsByTagName('head')[0] || body)
							.appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='
							+ ~(-new Date() / 36e5)];
			</script>
			<div class="mobile-join center-block" style="padding: 17px;">
				<i class="fa fa-pencil fa-2x" style="color: #fff;"></i>
			</div>
			<div class="mobile-money center-block" style="padding: 17px;">
				<i class="fa fa-rmb fa-2x" style="color: #fff;"></i>
			</div>
		</div>

	</div>
	
	<!-- 报名弹窗 -->
	<div class="modal fade" id="applyModal" tabindex="-1" role="dialog" aria-labelledby="applyModalLabel" style="top: 25%;">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title font-color free-fw" id="applyModalLabel">活动报名</h4>
				</div>
				<div class="modal-body">
					<form class="form-group">
						<div class="form-group">
							<label for="apply-name" class="control-label">您的姓名:</label> 
							<input type="text" class="form-control" id="apply-name" />
						</div>
						<div class="form-group">
							<label for="apply-tel" class="control-label">您的联系方式:</label> 
							<input type="tel" class="form-control" id="apply-tel"></input>
						</div>
						<div class="form-group">
							<button type="button" class="btn btn-primary center-block" style="width: 80px;">确定</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- 免费通话 -->
	<div class="modal fade" id="callModal" tabindex="-1" role="dialog" aria-labelledby="callModalLabel" style="top: 25%;">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title font-color free-fw" id="callModalLabel">马上发起免费通话咨询</h4>
				</div>
				<div class="modal-body">
					<form class="form-group">
						<div class="form-group">
							<label for="call-tel" class="control-label">您的联系方式:</label> 
							<input type="tel" class="form-control" id="call-tel"></input>
						</div>
						<div class="form-group">
							<button type="button" class="btn btn-primary center-block" style="width: 80px;">确定</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<div th:include="layout/front_nav::nav-footer"></div>
</body>
</html>