<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/head :: front" />

<!-- 升学指导-小升初 -->

<body class="index">
	<!--
        	作者：727674928@qq.com
        	时间：2015-09-17
        	描述：顶部菜单和logo
        -->
	<div th:include="layout/common/header::nav-header"></div>

	<!-- 小升初内容 -->

	<div class="guide" style="background-color: #977ec2;">
		<div class="container phs">
			<div class="row">
				<div class="col-md-7 col-sm-7 col-xs-12">
					<img class="img-responsive center-block" th:src="@{'/images/home/xscd.png'}"></img>
				</div>
				<div class="col-md-5 col-xs-5 hidden-xs font-fff"
					style="margin-top: 2%;">
					<p>
						<span>小升初：小升初升学时，家长应该提前准备什么？</span>
					</p>
					<p>
						<span>如何确定目标学校？</span>
					</p>
					<p>
						<span>小升初指导，为家提供招生简章解读,</span>
					</p>
					<p>
						<span>政策分析参考，面试技巧传授，规划备考方案等服务；</span>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="bg-color pvl">
		<div class="container">
			<div class="row pvl">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<p class="mar text-xlg free-fw">一、名字解释篇</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<div class="row mbm">
						<div class="col-md-3 col-sm-3 col-xs-6 mbm">
							<a><span>1、</span><span>西安小升初</span></a>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 mbm">
							<a><span>2、</span><span>择校</span></a>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 mbm">
							<a><span>3、</span><span>小学素质报告单</span></a>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 mbm">
							<a><span>4、</span><span>校考</span></a>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 mbm">
							<a><span>5、</span><span>预录</span></a>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 mbm">
							<a><span>6、</span><span>流出证明办理方式</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div>
		<div class="container pvl">
			<div class="row pvl">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<p class="mar text-xlg free-fw">二、政策篇</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<div class="row mbm">
						<div class="col-xs-12 mbm">
							<a><span>1、</span><span>2015年西安公办学校划分大集合</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="bg-color">
		<div class="container pvl">
			<div class="row pvl">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<p class="mar text-xlg free-fw">三、招生方式篇</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<div class="row mbm">
						<div class="col-md-3 col-sm-3 col-xs-6 mbm">
							<a><span>1、</span><span>530测评</span></a>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 mbm">
							<a><span>2、</span><span>校考</span></a>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 mbm">
							<a><span>3、</span><span>点考</span></a>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 mbm">
							<a><span>4、</span><span>530测评</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div>
		<div class="container pvl">
			<div class="row pvl">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<p class="mar text-xlg free-fw">四、学校篇</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<div class="row mbm">
						<div class="col-md-6 col-sm-6 col-xs-12 mbm">
							<a><span>1、</span><span>西安五大名校及二类学校学费及奖金情况</span></a>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 mbm">
							<a><span>2、</span><span>西安各区重点中学与普通中学名单一览</span></a>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 mbm">
							<a><span>3、</span><span>西安小升初二类学校</span></a>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 mbm">
							<a><span>4、</span><span>小升初五大名校之师大附中</span></a>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 mbm">
							<a><span>5、</span><span>小升初五大名校之高新一中</span></a>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 mbm">
							<a><span>6、</span><span>小升初五大名校之交大附中</span></a>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 mbm">
							<a><span>7、</span><span>小升初五大名校之铁一中</span></a>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 mbm">
							<a><span>8、</span><span>小升初五大名校之西工大附中</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="bg-color">
		<div class="container pvl">
			<div class="row pvl">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<p class="mar text-xlg free-fw">五、备战篇</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<div class="row mbm">
						<div class="col-md-6 col-sm-6 col-xs-12 mbm">
							<a><span>1、</span><span>2016西安小升初备战计划</span></a>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 mbm">
							<a><span>2、</span><span>2015西安小升初530开始全讲解</span></a>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 mbm">
							<a><span>3、</span><span>2013-2015年西安小升初五大名校及二类学校录取分数线一览表</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div>
		<div class="container pvl">
			<div class="row pvl">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<p class="mar text-xlg free-fw">六、问答篇</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<div class="row mbm">
						<div class="col-md-3 col-sm-6 col-xs-6 mbm">
							<a><span>1、</span><span>小升初备考状态答疑</span></a>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6 mbm">
							<a><span>2、</span><span>小升初题目分值答疑</span></a>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6 mbm">
							<a><span>3、</span><span>校考点考答疑</span></a>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6 mbm">
							<a><span>4、</span><span>真卷备考问答解析</span></a>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12 mbm">
							<a><span>5、</span><span>小升初复习的常见问题及解答</span></a>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6 mbm">
							<a><span>6、</span><span>择校指南</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="bg-color">
		<div class="container pvl">
			<div class="row pvl">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<p class="mar text-xlg free-fw">七、经验篇</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<div class="row mbm">
						<div class="col-md-6 col-sm-6 col-xs-12 mbm">
							<a><span>1、</span><span>小升初我和孩子一起在成长</span></a>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 mbm">
							<a><span>2、</span><span>2015我们的小升初《跌跌撞撞》</span></a>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 mbm">
							<a><span>3、</span><span>2015小升初裸考之路</span></a>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 mbm">
							<a><span>4、</span><span>牛娃家长分享：小升初学习奥数的重要性</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- footer -->
	<div th:include="layout/front_nav::nav-footer"></div>
</body>
</html>