<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/head :: front" />

<!-- 升学指导-幼升小 -->

<body class="index">
	<!--
        	作者：727674928@qq.com
        	时间：2015-09-17
        	描述：顶部菜单和logo
        -->
	<div th:include="layout/common/header::nav-header"></div>

	<!-- 幼升小内容 -->

	<div class="guide" style="background-color: #ff7043;">
		<div class="container phs">
			<div class="row">
				<div class="col-md-7 col-sm-7 col-xs-12">
					<img class="img-responsive center-block" th:src="@{/images/home/ysxd.png}"></img>
				</div>
				<div class="col-md-5 col-xs-5 hidden-xs font-fff" style="margin-top: 2%;">
					<p>
						<span>幼升小是孩子学习生涯的第一步，</span>
					</p>
					<p>
						<span>选择一所优质的小学是所有父母的心愿。</span>
					</p>
					<p>
						<span>幼升小指导，帮助家长理清思路、把握方向，</span>
					</p>
					<p>
						<span>为孩子选择最适合的学校；</span>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="bg-color pvl">
		<div class="container">
			<div class="row pvl">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<p class="mar text-xlg free-fw">一、名字解释篇</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<div class="row mbm">
						<div class="col-md-3 col-sm-3 col-xs-6 mbm">
							<a><span>1、</span><span>幼升小</span></a>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 mbm">
							<a><span>2、</span><span>入学报名流程</span></a>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 mbm">
							<a><span>3、</span><span>公办学校 </span></a>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 mbm">
							<a><span>4、</span><span>民办学校</span></a>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 mbm">
							<a><span>5、</span><span>五证</span></a>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 mbm">
							<a><span>6、</span><span>四证</span></a>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 mbm">
							<a><span>7、</span><span>学籍</span></a>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 mbm">
							<a><span>8、</span><span>择校</span></a>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 mbm">
							<a><span>9、</span><span>面试</span></a>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 mbm">
							<a><span>10、</span><span>学区房、学位房</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div>
		<div class="container pvl">
			<div class="row pvl">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<p class="mar text-xlg free-fw">二、政策篇</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<div class="row mbm">
						<div class="col-md-3 col-sm-3 col-xs-6 mbm">
							<a><span>1、</span><span>学区划分要求</span></a>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 mbm">
							<a><span>2、</span><span>学区划分（灞桥区）</span></a>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 mbm">
							<a><span>3、</span><span>学区划分（碑林区）</span></a>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 mbm">
							<a><span>4、</span><span>学区划分（莲湖区）</span></a>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 mbm">
							<a><span>5、</span><span>学区划分（新城区）</span></a>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 mbm">
							<a><span>6、</span><span>学区划分（未央区）</span></a>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 mbm">
							<a><span>7、</span><span>学区划分（雁塔区）</span></a>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 mbm">
							<a><span>8、</span><span>划片就近免试入学</span></a>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 mbm">
							<a><span>9、</span><span>小学划片就近入学</span></a>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 mbm">
							<a><span>10、</span><span>进城务工人员子女</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="bg-color">
		<div class="container pvl">
			<div class="row pvl">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<p class="mar text-xlg free-fw">三、问答篇</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<div class="row mbm">
						<div class="col-xs-12 mbm">
							<a><span>1、</span><span>你问我答全是你最想知道的</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div>
		<div class="container pvl">
			<div class="row pvl">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<p class="mar text-xlg free-fw">四：学校篇</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<div class="row mbm">
						<div class="col-md-3 col-sm-3 col-xs-6 mbm">
							<a><span>1、</span><span>省示范类学校</span></a>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 mbm">
							<a><span>2、</span><span>普通学校</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="bg-color">
		<div class="container pvl">
			<div class="row pvl">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<p class="mar text-xlg free-fw">五、攻略篇</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<div class="row mbm">
						<div class="col-md-3 col-sm-3 col-xs-6 mbm">
							<a><span>1、</span><span>考试攻略</span></a>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 mbm">
							<a><span>2、</span><span>生活攻略</span></a>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 mbm">
							<a><span>3、</span><span>备考攻略</span></a>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 mbm">
							<a><span>4、</span><span>择校攻略</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div>
		<div class="container pvl">
			<div class="row pvl">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<p class="mar text-xlg free-fw">六、经验篇</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<div class="row mbm">
						<div class="col-xs-12 mbm">
							<a><span>1、</span><span>过来人的经验分享</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="bg-color">
		<div class="container pvl">
			<div class="row pvl">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<p class="mar text-xlg free-fw">七、机构篇</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<div class="row mbm">
						<div class="col-xs-12">
							<a><span>1、</span><span>好机构看这边</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- footer -->
	<div th:include="layout/front_nav::nav-footer"></div>
</body>
</html>