<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/head :: front" />

<!-- 升学指导-高考 -->

<body class="index">
	<!--
        	作者：727674928@qq.com
        	时间：2015-09-17
        	描述：顶部菜单和logo
        -->
	<div th:include="layout/common/header::nav-header"></div>

	<!-- 高考内容 -->

	<div class="guide" style="background-color: #ffa726;">
		<div class="container phs">
			<div class="row">
				<div class="col-md-7 col-sm-7 col-xs-12">
					<img class="img-responsive center-block" th:src="@{'/images/home/gkd.png'}"></img>
				</div>
				<div class="col-md-5 col-xs-5 hidden-xs font-fff" style="margin-top: 2%;">
					<p>
						<span>高考：上线考生为何落榜？高分考生为何低就？</span>
					</p>
					<p>
						<span>高考志愿填报，帮助家长和学生了解志愿填报的误区与对策，</span>
					</p>
					<p>
						<span>有效利用分数线等方法，并量身定制的帮助孩子</span>
					</p>
					<p>
						<span>完成自我定位、学校选择、专业选择等填报规划。</span>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="bg-color">
		<div class="container pvl">
			<div class="row pvl">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<p class="mar text-xlg free-fw">一、政策篇</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<div class="row mbm">
						<div class="col-xs-12 mbm">
							<a><span>1.</span><span>2016年起陕西省高考全科将使用全国卷</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="pvl">
		<div class="container">
			<div class="row pvl">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<p class="mar text-xlg free-fw">二、招生方式篇</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<div class="row mbm">
						<div class="col-md-3 col-sm-3 col-xs-6 mbm">
							<a><span>1、</span><span>留学</span></a>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 mbm">
							<a><span>2、</span><span>保送生</span></a>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 mbm">
							<a><span>3、</span><span>自主招生</span></a>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 mbm">
							<a><span>4、</span><span>军考</span></a>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 mbm">
							<a><span>5、</span><span>艺考</span></a>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 mbm">
							<a><span>6、</span><span>普通高考</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="bg-color">
		<div class="container pvl">
			<div class="row pvl">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<p class="mar text-xlg free-fw">三、高校篇</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<div class="row mbm">
						<div class="col-md-6 col-sm-6 col-xs-12 mbm">
							<a><span>1、</span><span>大学人气排行榜Top10</span></a>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 mbm">
							<a><span>1.</span><span>中国“915”、“211”大学名单汇总</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div>
		<div class="container pvl">
			<div class="row pvl">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<p class="mar text-xlg free-fw">四、备战篇</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<div class="row mbm">
						<div class="col-md-6 col-sm-6 col-xs-12 mbm">
							<a><span>1、</span><span>【物理】高考物理复习方法</span></a>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 mbm">
							<a><span>2、</span><span>【生物】高考生物复习基本方法技巧</span></a>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 mbm">
							<a><span>3、</span><span>【地理】高三地理复习方法</span></a>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 mbm">
							<a><span>4、</span><span>【政治】政治复习最重要的三件事</span></a>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 mbm">
							<a><span>5、</span><span>【历史】高考历史复习方法和捷径</span></a>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 mbm">
							<a><span>6、</span><span>【英语】高考英语学习计划</span></a>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 mbm">
							<a><span>7、</span><span>【数学】高考数学一轮复习：这五大误区一定要避免</span></a>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 mbm">
							<a><span>8、</span><span>【语文】高三语文复习的误区和对策</span></a>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 mbm">
							<a><span>9、</span><span>高考复习各阶段学习攻略</span></a>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 mbm">
							<a><span>10、</span><span>高考全年大记事</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="bg-color">
		<div class="container pvl">
			<div class="row pvl">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<p class="mar text-xlg free-fw">五、问答篇</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<div class="row mbm">
						<div class="col-md-3 col-sm-6 col-xs-6 mbm">
							<a><span>1、</span><span>自主招生常见问题解答</span></a>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6 mbm">
							<a><span>2、</span><span>高中生招飞常见问题解答</span></a>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 mbm">
							<a><span>3、</span><span>高考填报志愿常见问题解答</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div>
		<div class="container pvl">
			<div class="row pvl">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<p class="mar text-xlg free-fw">六、经验篇</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<div class="row mbm">
						<div class="col-md-6 col-sm-6 col-xs-12 mbm">
							<a><span>1、</span><span>一位经历过中高考家长的分享：没有意外就是成功</span></a>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 mbm">
							<a><span>2、</span><span>来自北大清华高考状元的高校学习方法总结</span></a>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 mbm">
							<a><span>3、</span><span>2015高考状元经验分享</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- footer -->
	<div th:include="layout/front_nav::nav-footer"></div>
</body>
</html>