<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/head :: front" />

<!-- 升学指导-中考 -->

<body class="index">
	<!--
        	作者：727674928@qq.com
        	时间：2015-09-17
        	描述：顶部菜单和logo
        -->
	<div th:include="layout/common/header::nav-header"></div>

	<!-- 中考内容 -->

	<div class="guide" style="background-color: #45a5d1;">
		<div class="container phs">
			<div class="row">
				<div class="col-md-7 col-sm-7 col-xs-12">
					<img class="img-responsive center-block" th:src="@{'/images/home/zkd.png'}"></img>
				</div>
				<div class="col-md-5 col-xs-5 hidden-xs font-fff"
					style="margin-top: 2%;">
					<p>
						<span>中考：如何陪孩子揍过初三岁月，我们还能为孩子做些什么？</span>
					</p>
					<p>
						<span>初升高指导，帮助家长和学生了解中考形式、</span>
					</p>
					<p>
						<span>养成良好迎考心态、帮助家长和学生了解中考形式、养成良好迎考心态、</span>
					</p>
					<p>
						<span>掌握家庭房教育方法、熟稔升学途径与策略；</span>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="bg-color pvl">
		<div class="container">
			<div class="row pvl">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<p class="mar text-xlg free-fw">一、名字解释篇</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<div class="row mbm">
						<div class="col-md-3 col-sm-3 col-xs-6 mbm">
							<a><span>1、</span><span>中考</span></a>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 mbm">
							<a><span>2、</span><span>统招生</span></a>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 mbm">
							<a><span>3、</span><span>定向生</span></a>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 mbm">
							<a><span>4、</span><span>特长生</span></a>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 mbm">
							<a><span>5、</span><span>跨区域招生</span></a>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 mbm">
							<a><span>6、</span><span>插班生</span></a>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 mbm">
							<a><span>7、</span><span>内定签约</span></a>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 mbm">
							<a><span>8、</span><span>择校生</span></a>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 mbm">
							<a><span>9、</span><span>分班考试</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div>
		<div class="container pvl">
			<div class="row pvl">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<p class="mar text-xlg free-fw">二、政策篇</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<div class="row mbm">
						<div class="col-md-6 col-sm-6 col-xs-6 mbm">
							<a><span>1、</span><span>学区划分</span></a>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-6 mbm">
							<a><span>2、</span><span>2016西安中考新政策变化（更新中）</span></a>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 mbm">
							<a><span>3、</span><span>2015西安中考政策</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="bg-color">
		<div class="container pvl">
			<div class="row pvl">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<p class="mar text-xlg free-fw">三、中考招生方式</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<div class="row mbm">
						<div class="col-md-3 col-sm-3 col-xs-6 mbm">
							<a><span>1.</span><span>统招</span></a>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 mbm">
							<a><span>2.</span><span>自主招生</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div>
		<div class="container pvl">
			<div class="row pvl">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<p class="mar text-xlg free-fw">四、学校篇</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<div class="row mbm">
						<div class="col-md-6 col-sm-6 col-xs-12 mbm">
							<a><span>1、</span><span>西安市（不含三区四县）高中学校分级名单</span></a>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 mbm">
							<a><span>2、</span><span>五大名校</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="bg-color">
		<div class="container pvl">
			<div class="row pvl">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<p class="mar text-xlg free-fw">五、备战篇</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<div class="row mbm">
						<div class="col-md-6 col-sm-6 col-xs-12 mbm">
							<a><span>1、</span><span>中考体育训练方法</span></a>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 mbm">
							<a><span>2、</span><span>2016中考各科目的复习备考技巧（超详细）</span></a>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 mbm">
							<a><span>3、</span><span>2016西安中考时间轴（必看）</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div>
		<div class="container pvl">
			<div class="row pvl">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<p class="mar text-xlg free-fw">六、问答篇</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<div class="row mbm">
						<div class="col-md-6 col-sm-6 col-xs-12 mbm">
							<a><span>1、</span><span>西安各学校的录取分数线问题（中考）</span></a>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 mbm">
							<a><span>2、</span><span>填报志云过程的一些问题</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="bg-color">
		<div class="container pvl">
			<div class="row pvl">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<p class="mar text-xlg free-fw">七、经验篇</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<div class="row mbm">
						<div class="col-md-3 col-sm-3 col-xs-6 mbm">
							<a><span>1、</span><span>志愿填报利器位次表</span></a>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 mbm">
							<a><span>2、</span><span>家长经验分享</span></a>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 mbm">
							<a><span>3、</span><span>学霸经验分享</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- footer -->
	<div th:include="layout/front_nav::nav-footer"></div>
</body>
</html>