<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>活动搜索列表</title>
	<head th:include="layout/head :: front" />
</head>
<body class="index">
	<!--
        	作者：727674928@qq.com
        	时间：2015-09-17
        	描述：顶部菜单和logo
        -->
	<div th:include="layout/common/header::nav-header"></div>
	
	<!-- 搜索活动展示 -->
	<div class="container" id="content-container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="panel panel-default" style="margin-bottom: 0px;">
						<div class="panel-heading">
							<div class="row" style="margin: 0px;">
								<div class="col-md-1 col-sm-2 col-xs-4">
									<p class="class-topic"><a th:href="@{/front/search/school}">机构</a></p>
								</div>
								<div class="col-md-1 col-sm-2 col-xs-4">
		    						<p class="class-topic"><a th:href="@{/front/search/topic}">话题</a></p>
			    				</div>
			    				<div class="col-md-1 col-sm-2 col-xs-4">
			    					<p class="class-topic"><a class="active" th:href="@{/front/search/activity}">活动</a></p>
			    				</div>
							</div>
						</div>
					</div>
					<div class="panel panel-default panel-col" style="padding-left: 0px;padding-right: 0px;">
						<div class="panel panel-body">
							<div class="row" style="margin-top: 10px;">
	    						<div class="col-md-4 col-sm-6 col-xs-12" th:each="activity : ${pageBean.result}" style="border: 1px solid #EEEEEE;">
	    							<div class="row">
	    								<a th:href="@{'/front/activity/detail/' + ${activity.id } }">
			    							<img th:alt="${activity.name}" th:if="${activity.activityImage}" th:src="@{${cdn}+${activity.activityImage}}" class="img-responsive center-block" ></img>
			    							<img th:alt="${activity.name}" th:if="${#strings.isEmpty(activity.activityImage)}" th:src="@{'/images/home/u901.jpg'}" class="img-responsive center-block" ></img>
		    							</a>
	    							</div>
	    							<div class="course-info">
	    								<div class="title">
	    									<a th:href="@{'/front/activity/detail/' + ${activity.id } }" th:text="${activity.name}">门道教育研究研</a>
	    								</div>
	    								<div class="metas" th:if="${activity.type == 0}">
											时间：<span th:text="${#dates.format(activity.startTime, 'yyyy-MM-dd HH:mm')}+'~'+${#dates.format(activity.endTime, 'HH:mm')}">2015-12-15</span>
										</div>
										<div class="metas" th:if="${activity.type == 1}">
											时间：<span th:text="${#dates.format(activity.startTime, 'yyyy-MM-dd HH:mm')}+'~'+${#dates.format(activity.endTime, 'yyyy-MM-dd HH:mm')}">2015-12-15 08:00</span>
										</div>
										<div class="metas" style="text-align: center;">
											<span th:text="'已有'+${activity.joinNumber}+'人完成报名'"></span>
										</div>
	    							</div>
	    						</div>
	    						<div class="col-md-8 col-sm-8 col-xs-12" style="text-align:center;" th:if="${#lists.size(pageBean.result) == 0}">
									暂无内容
								</div>
    						</div>
    					
							<div class="row">
								 <div th:include="layout/common/pagination :: pagination"></div>  
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	<!--
        	作者：727674928@qq.com
        	时间：2015-09-17
        	描述：footer
        -->
	<div th:include="layout/front_nav::nav-footer"></div>
</body>

</html>