<div class="panel-heading border-style">
	我要提现
</div>
<div class="panel-body">
	<div class="col-md-6 col-md-offset-3" style="margin-top: 10%;">
		<form class="form-group" th:action="@{/front/m/account/drawing}" method="post">
			<div class="form-group text-center">
				<label for="apply-name" class="control-label">开户银行:</label>
				<input type="text" name="bankName" required="required" class="form-control" th:value="${bankName}" id="apply-name" placeholder=""/>
			</div>
			<div class="form-group text-center">
				<label for="apply-tel" class="control-label">银行卡号:</label>
				<input type="text" name="bankNum" class="form-control" id="bank_num" required="required" />
			</div>
			<div class="form-group text-center">
				<label for="apply-tel" class="control-label">银行卡户名:</label>
				<input type="text" name="acctName" required="required" class="form-control"/>
			</div>
			<div class="form-group text-center">
				<label for="apply-tel" class="control-label">提现金额:</label>
				<input type="text" name="amount" required="required" class="form-control" pattern="^[1-9]\d*$" />
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary center-block" style="width: 80px;">确定</button>
			</div>
		</form>
		<div id="divMessage" class="text-warning">
			<label th:if="${#strings.isEmpty(errorMessage) == false}" th:text="${errorMessage}">*</label>
		</div>
	</div>
</div>
<script th:inline="javascript">
/*<![CDATA[*/
$('#bank_num').keyup(function(){
	var $this = $(this);
	var value = $this.val().replace(/\D/g,'').replace(/....(?!$)/g,'$& ');
	$this.val(value);
});
$('form').submit(function(){
	var url = $(this).attr('action');
	$.post(url, $(this).serialize(), function(data){
		$('#content').html(data);
	});
	return false;
});
/*]]>*/
</script>