<div class="panel-heading border-style">
	我要付款
</div>
<div class="panel-body">
	<div class="col-md-6 col-md-offset-3" style="margin-top: 10%;">
		<form class="form-group" th:action="@{/front/m/account/payment}" method="post">
			<div class="form-group text-center">
				<label for="apply-name" class="control-label">请输入对方的账户名:</label>
				<input type="text" required="required" class="form-control" name="targetName" th:value="${targetName}" id="apply-name" placeholder="对方的账户名"/>
			</div>
			<div class="form-group text-center">
				<label for="apply-tel" class="control-label">请输入转账金额:</label>
				<input type="text" pattern="^[0-9]+([.]{1}[0-9]{1,2}){0,1}$" required="required" th:value="${amount}" class="form-control" name="amount" placeholder="转账金额"></input>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary center-block" style="width: 80px;">确定</button>
			</div>
			<div class="form-group text-center">
				<a class="a-color"><span>下载门道app开启扫码支付</span></a>
			</div>
		</form>
		<div id="divMessage" class="text-warning">
			<label th:if="${#strings.isEmpty(errorMessage) == false}" th:text="${errorMessage}">*</label>
		</div>
	</div>
  	</div>
<script th:inline="javascript">
/*<![CDATA[*/
$('form').submit(function(){
	var url = $(this).attr('action');
	$.post(url, $(this).serialize(), function(data){
		$('#content').html(data);
	});
	return false;
});
/*]]>*/
</script>