<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>后台管理 - 代理付款</title>
    <link th:href="@{${cdn} + '/css/bootstrap.min.css'}" rel="stylesheet"></link>
    <link th:href="@{${cdn} + '/css/font-awesome.min.css'}" rel="stylesheet"></link>
    <link th:href="@{${cdn} + '/css/plugins/iCheck/custom.css'}" rel="stylesheet"></link>
    <link th:href="@{${cdn} + '/css/animate.min.css'}" rel="stylesheet"></link>
    <link th:href="@{${cdn} + '/css/style.css'}" rel="stylesheet"></link>
    <script>
    	
    </script>
</head>
<body class="gray-bg"> 
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="ibox float-e-margins ph10" >
                <div class="ibox-title">
                    <h5>
                    	付款二维码
                    </h5>
                </div>
                <div class="ibox-content">
                    <div class="row mb20" th:if="${payImage.imageUrl}">
                		<img class="img-responsive" width="200px" height="200px" th:src="@{${cdn}+${payImage.imageUrl}}" />
                    </div>
                    <div class="row" style="margin-top:15px;">
                   		<input id="pay_msg"  class="col-sm-4 col-xs-12 mr20" type="text"  placeholder="留言内容"/>
						<button class="btn btn-sm btn-primary" onclick="saveMessage()">提交</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script th:src="@{${cdn} + '/js/jquery.min.js'}" type="text/javascript"></script>
    <script th:src="@{${cdn} + '/js/bootstrap.min.js'}" type="text/javascript"></script>
    <script th:src="@{${cdn} + '/js/plugins/layer/layer.min.js'}" type="text/javascript"></script>
    <script th:src="@{${cdn} + '/js/content.min.js'}" type="text/javascript"></script>
    <script th:src="@{${cdn} + '/js/welcome.min.js'}" type="text/javascript"></script>
    <script th:src="@{${cdn} + '/js/jqPaginator.min.js'}" type="text/javascript"></script>
    <script th:src="@{${cdn} + '/js/common.js'}" type="text/javascript"></script>
    <script th:inline="javascript">
		function saveMessage(){
			var message = $("#pay_msg").val();
			if(message == ""){
				alert("请输入留言内容");
			}else{
				$.post(
   					/*[[@{'/back/pay/savePayMessage'}]]*/,
   					{ 'message':message },
   					function (data, status) {
   						if(data.status == 1){
   							layer.alert(data.msg ,{icon: 1}, function(index){
   								  	layer.close(index);
   								 	$("#pay_msg").val("");
   								});
   						}else{
   							layer.alert(data.msg ,{icon: 2}, function(index){
								  	layer.close(index);
								});
   						}
   					}
   				);
			}
		}
    </script>
</body>
</html>