<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="renderer" content="webkit"></meta>
    <title>后台管理 - 代理付款</title>
    <link th:href="@{${cdn} + '/css/bootstrap.min.css'}" rel="stylesheet"></link>
    <link th:href="@{${cdn} + '/css/font-awesome.min.css'}" rel="stylesheet"></link>
    <link th:href="@{${cdn} + '/css/plugins/iCheck/custom.css'}" rel="stylesheet"></link>
    <link th:href="@{${cdn} + '/css/animate.min.css'}" rel="stylesheet"></link>
    <link th:href="@{${cdn} + '/css/style.css'}" rel="stylesheet"></link>
    <script>
    	
    </script>
</head>
<body class="fixed-sidebar gray-bg"> 
<div id="wrapper">
        <div th:include="layout/common/home-left"></div>
        <!--左侧导航结束-->
        <!--右侧部分开始-->
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                    	<a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#">
                    		<i class="fa fa-bars"></i> 
                    	</a>
                    </div>
                </nav>
            </div>
            <div class="row J_mainContent" id="content-main">
            	<!-- 添加新类目 -->
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="ibox float-e-margins ph10" >
                <div class="ibox-title">
                    <h5>
                        付款二维码
                    </h5>
                </div>
                <div class="ibox-content">
                    <div class="row mb20" th:if="${payImage.imageUrl}">
                        <div class="col-md-4 col-sm-4">
                            <img width="200px" height="200px" th:src="@{${cdn}+${payImage.imageUrl}}" />
                        </div>       
                        <div class="col-md-4 col-sm-4">
                            <p th:inline="text">[[${payImage.desc}]]</p>
                        </div> 
                        <div class="row col-md-12 col-sm-12">
                            <input id="pay_msg"  class="col-sm-4 mr20 mt10" type="text"  placeholder="留言内容"/>
                            <button class="btn btn-primary mt10" onclick="saveMessage()">提交</button>
                        </div>             
                    </div>
                </div>
            </div>
        </div>
    </div>
            <div class="footer">
                <div class="pull-right">
                	&copy; 2016 
                </div>
            </div>
        </div>
    </div>
</div>
    
    <script th:src="@{${cdn} + '/js/jquery.min.js'}" type="text/javascript"></script>
    <script th:src="@{${cdn} + '/js/bootstrap.min.js'}" type="text/javascript"></script>
    <script th:src="@{${cdn} + '/js/plugins/metisMenu/jquery.metisMenu.js'}" type="text/javascript"></script>
    <script th:src="@{${cdn} + '/js/plugins/slimscroll/jquery.slimscroll.min.js'}" type="text/javascript"></script>
    <script th:src="@{${cdn} + '/js/plugins/layer/layer.min.js'}" type="text/javascript"></script>
    <script th:src="@{${cdn} + '/js/hplus.min.js'}" type="text/javascript"></script>
    <script th:src="@{${cdn} + '/js/contabs.js'}" type="text/javascript"></script>
    <script th:src="@{${cdn} + '/js/plugins/pace/pace.min.js'}" type="text/javascript"></script>
    <script th:src="@{${cdn} + '/js/common.js'}" type="text/javascript"></script>
    <script th:inline="javascript">
		function saveMessage(){
			var message = $("#pay_msg").val();
			if(message == ""){
				alert("请输入留言内容");
			}else{
				$.post(
   					/*[[@{'/back/pay/savePayMessage'}]]*/,
   					{ 'message':message },
   					function (data, status) {
   						if(data.status == 1){
   							layer.alert(data.msg ,{icon: 1}, function(index){
   								  	layer.close(index);
   								 	$("#pay_msg").val("");
   								});
   						}else{
   							layer.alert(data.msg ,{icon: 2}, function(index){
								  	layer.close(index);
								});
   						}
   					}
   				);
			}
		}
    </script>
</body>
</html>