<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>门道教育网－意见反馈</title>
	<head th:include="layout/head :: front" />
	<script type="text/javascript">
		$(function(){
			$("form").submit(function(){
				$.post('/feedback', $(this).serialize(),function(data){
					$('#divMessage').html(data.message);
				}, 'json');
				return false;
			});
		});
	</script>
</head>
<body class="index">
	<div th:include="layout/common/header::nav-header"></div>
	<div id="divMessage"></div>
	<form action="/feedback" method="post">
		阿金阿里加点辣椒三大纪律睡觉了
	</form>
</body>
</html>