<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/head :: front" />

<body class="index">
	<!--
        	作者：727674928@qq.com
        	时间：2015-09-17
        	描述：顶部菜单和logo
        -->
	<div th:include="layout/common/header::nav-header"></div>
	
	<!--
        	作者：727674928@qq.com
        	时间：2015-09-17
        	描述：轮播图
        -->
	<div th:include="layout/front_nav::nav-slidebanner"></div>
    <!--
    	作者：727674928@qq.com
    	时间：2015-09-18
    	描述：免费学课程展示
    -->
    <div class="free_study">
	    <div class="container free_container">
	    	<div class="row">
	    		<div class="col-md-6 col-sm-6 free_col">
	    			<p>免费学理念</p>
	    		</div>
	    		<div class="col-md-6 col-sm-6 free_col">
	    			<p>免费学产品展示</p>
	    		</div>
	    	</div>
	    	<div class="row">
	    		<div class="col-md-3 col-sm-3 col-xs-6 free_project">
	    			<img alt="" th:src="@{'/images/home/u257.png'}" class="img-responsive center-block" ></img>
	    			<p>免费学项目一</p>
	    		</div>
	    		<div class="col-md-3 col-sm-3 col-xs-6 free_project">
	    			<img alt="" th:src="@{'/images/home/u257.png'}" class="img-responsive center-block" ></img>
	    			<p>免费学项目一</p>
	    		</div>
	    		<div class="col-md-3 col-sm-3 col-xs-6 free_project">
	    			<img alt="" th:src="@{'/images/home/u257.png'}" class="img-responsive center-block" ></img>
	    			<p>免费学项目一</p>
	    		</div>
	    		<div class="col-md-3 col-sm-3 col-xs-6 free_project">
					<img alt="" th:src="@{'/images/home/u257.png'}" class="img-responsive center-block" ></img>
	    			<p>免费学项目一</p>
	    		</div>
	    	</div>
	    	<div class="row">
	    		<div class="col-md-3 col-sm-3 col-xs-6 free_project">
	    			<img alt="" th:src="@{'/images/home/u257.png'}" class="img-responsive center-block" ></img>
	    			<p>免费学项目一</p>
	    		</div>
	    		<div class="col-md-3 col-sm-3 col-xs-6 free_project">
	    			<img alt="" th:src="@{'/images/home/u257.png'}" class="img-responsive center-block" ></img>
	    			<p>免费学项目一</p>
	    		</div>
	    		<div class="col-md-3 col-sm-3 col-xs-6 free_project">
					<img alt="" th:src="@{'/images/home/u257.png'}" class="img-responsive center-block" ></img>
	    			<p>免费学项目一</p>
	    		</div>
	    		<div class="col-md-3 col-sm-3 col-xs-6 free_project">
	    			<img alt="" th:src="@{'/images/home/u257.png'}" class="img-responsive center-block" ></img>
	    			<p>免费学项目一</p>
	    		</div>
	    	</div>
	    </div>
    </div>
	

	<!--
        	作者：727674928@qq.com
        	时间：2015-09-17
        	描述：footer
        -->
	<div th:include="layout/front_nav::nav-footer"></div>
</body>

</html>