<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/head :: front" />

<body class="index">
	<!--
        	作者：727674928@qq.com
        	时间：2015-09-17
        	描述：顶部菜单和logo
        -->
	<div th:include="layout/common/header::nav-header"></div>
	
	<!--
        	作者：727674928@qq.com
        	时间：2015-09-17
        	描述：轮播图
        -->
	<div th:include="layout/front_nav::nav-slidebanner"></div>
	
	<!--
    	作者：727674928@qq.com
    	时间：2015-09-21
    	描述：成长话题分类
    -->
    <div class="container" style="margin-top:5px;">
    	<div class="row" style="margin: 0px;">
    		<div class="panel panel-default panel-col" style="margin-bottom: 0px;">
    			<div class="panel-heading" style="height: auto;">
    				<div class="row">
    					<div class="col-md-10 col-sm-7 col-xs-5">
	    					<p style="margin: 0px;line-height: 38px;">成长话题</p>
	    				</div>	
	    				<div class="col-md-2 col-sm-5 col-xs-7">
    						<form class="navbar-form navbar-left" role="" action="" style="margin: 0px;padding: 0;">
								<div class="form-group">
									<input class="form-control" name="" placeholder="搜话题" autocomplete="off" style="font-weight: normal;float: right;"></input>
									<button class="button fa fa-search" type="submit"></button>
								</div>
							</form>
    					</div>	
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
    <div class="container">
    	<div class="row" style="margin: 0px;">
    			<div class="panel panel-default panel-col" style="margin-bottom: 0px;">
    				<div class="panel-body">
    					<div class="row">
    						<div class="col-md-10">
    							<ul class="inter-label">
									<li><a>全部</a></li>
									<li><a>话题标签分类</a></li>
									<li><a>话题标签分类</a></li>
									<li><a>话题标签分类</a></li>
									<li><a>话题标签分类</a></li>
									<li><a>话题标签分类</a></li>
									<li><a>更多</a></li>
								</ul>
    						</div>
    					</div>
    				</div>
    			</div>
    	</div>
    </div>

	<!--
        	作者：727674928@qq.com
        	时间：2015-09-19
        	描述：话题内容显示部分
        -->
	<div class="container" id="content-container" style="margin-top: 5px;">
		<div class="row" style="margin:0px;background: #ffffff;">
    		<div class="col-md-1 col-sm-2 col-xs-2 text-center">
    			<a href="javascript:;"><h4>最新</h4></a>
    		</div>
    		<div class="col-md-1 col-sm-2 col-xs-2 text-center">
    			<a href="javascript:;"><h4>最热</h4></a>
    		</div>
    	</div>
		<div class="row">
			<div class="col-md-9 col-sm-12 col-xs-12">
				<div class="panel panel-default panel-col">
					<div th:include="layout/front_nav::nav-mytopic"></div>	
				</div>
			</div>			
			
			<div class="col-md-3 col-sm-12 col-xs-12">
				<div class="panel panel-default panel-col" style="margin-bottom: 10px;background-color: #fe901a;padding-top: 50px;padding-bottom: 50px;">
					<div class="panel-body text-center">
						<p class="panel-app" style="text-align: center;font-size: 25px;font-weight: 700;color: #ffffff;">下载门道app</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--
        	作者：727674928@qq.com
        	时间：2015-09-17
        	描述：footer
        -->
	<div th:include="layout/front_nav::nav-footer"></div>
</body>

</html>