<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/head :: front" />

<body class="index">
	<!--
        	作者：727674928@qq.com
        	时间：2015-09-17
        	描述：顶部菜单和logo
        -->
	<div th:include="layout/common/header::nav-header"></div>
	<!--
        	作者：727674928@qq.com
        	时间：2015-09-19
        	描述：话题banner
        -->
	<section class="p-home">
		<div class="container">
			<div class="personImg" style="text-align: center;">
				<a class="js-user-card" href="" data-card-url="" data-user-id="">
					<img class="img-responsive" src="#"></img>
				</a>
			</div>
		</div>
	</section>

	<!--
        	作者：727674928@qq.com
        	时间：2015-09-19
        	描述：话题内容显示部分
        -->
	<div style="background-color: #ffffff;">
		<div class="container">
			<div class="row">
				<div class="col-md-2 col-sm-4 col-xs-4 text-center head-topic">
					<a href="#"><span>我发布的</span></a>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-4 text-center head-topic">
					<a href="#"><span>我参与的</span></a>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-4 text-center head-topic">
					<a href="#"><span>我收藏的</span></a>
				</div>
			</div>
		</div>
	</div>
	<div class="container" id="content-container" style="margin-top: 5px;">
		<div class="row">
			<div class="col-md-9 col-sm-12 col-xs-12">
				<div class="panel panel-default panel-col">
					<div class="panel-heading" style="border-bottom: 1px solid #eee;">
						我发布的话题</div>
					<div th:include="layout/front_nav::nav-mytopic"></div>	
				</div>
			</div>
			<div th:include="layout/front_nav::nav-baseinfo"></div>
		</div>
	</div>

	<!--
        	作者：727674928@qq.com
        	时间：2015-09-17
        	描述：footer
        -->
	<div th:include="layout/front_nav::nav-footer"></div>
</body>

</html>