<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/head :: front" />

<body class="index">
	<!--
        	作者：727674928@qq.com
        	时间：2015-09-17
        	描述：顶部菜单和logo
        -->
	<div th:include="layout/common/header::nav-header"></div>
	
	<!-- 搜索话题展示 -->
	<div class="container" id="content-container" style="margin-top: 5px;">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="panel panel-default panel-col" style="margin-bottom: 0px;">
	    			<div class="panel-heading" style="height: auto;">
	    				<div class="row" style="margin: 0px;">
	    					<div class="col-md-1 col-sm-2 col-xs-4">
		    					<p class="class-topic"><a href="">机构</a></p>
		    				</div>	
		    				<div class="col-md-1 col-sm-2 col-xs-4">
		    					<p class="class-topic"><a href="">话题</a></p>
		    				</div>
		    				<div class="col-md-1 col-sm-2 col-xs-4">
		    					<p class="class-topic"><a href="">活动</a></p>
		    				</div>
		    				<div class="col-md-3 col-md-offset-6">
		    					<div class="panel-bar" style="padding-left: 20px;">
			    					<form class="navbar-form" role="" action="" style="margin: 0px;padding: 0;width: 80%;">
										<div class="form-group" style="width: 100%;">
											<input class="form-control" name="" placeholder="搜话题" autocomplete="off" style="font-weight: normal;float: right;width: 100%"></input>
											<button class="button fa fa-search" type="submit"></button>
										</div>
									</form>
								</div>
		    				</div>
		    			</div>	
	    			</div>
	    		</div>
	    		<div class="panel panel-default panel-col" style="margin-bottom: 0px;">
	    			<div class="row" style="padding-top: 10px;padding-bottom:10px" >
	    				<div class="col-md-9">
	    					<div class="panel-bar" style="padding-left: 20px;">
	    						<ul class="inter-label">
									<li><a>热门标签</a></li>
									<li><a>话题标签分类</a></li>
									<li><a>话题标签分类</a></li>
									<li><a>话题标签分类</a></li>
									<li><a>话题标签分类</a></li>
									<li><a>更多</a></li>
								</ul>
							</div>
	    				</div>
	    			</div>
	    		</div>
	    	</div>
	    </div>
	</div>    	
	
	<div class="container" style="margin-top: 5px;">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">	
	    		
				<div class="panel panel-default panel-col">
					<div class="col-md-9 col-sm-12 col-xs-12" style="margin-top: 20px;">
						<div class="panel-body">
							<ul class="media-list thread-list">
								<li class="media">
									<div class="row">
										<div class="col-md-10 col-sm-10 col-xs-10">
											<p><span class="author-topic">作者的名字&nbsp;&nbsp;</span><span class="read-topic">2015-02-03</span></p>
											<p class="title-topic"><a href="#">2015年小升初需要注意的</a></p>
											<p class="read-topic">
												<span>阅读&nbsp;</span><span>10000&nbsp;&nbsp;</span>
												<span>评论&nbsp;</span><span>10000&nbsp;&nbsp;</span>
												<span>点赞&nbsp;</span><span>10000&nbsp;&nbsp;</span>
											</p>
										</div>
										<div class="col-md-2 col-sm-2 col-xs-2">
											<img src="" class="img-responsive"></img>
										</div>
									</div>
								</li>
								<li class="media">
									<div class="row">
										<div class="col-md-10 col-sm-10 col-xs-10">
											<p><span class="author-topic">作者的名字&nbsp;&nbsp;</span><span class="read-topic">2015-02-03</span></p>
											<p class="title-topic"><a href="#">2015年小升初需要注意的</a></p>
											<p class="read-topic">
												<span>阅读&nbsp;</span><span>10000&nbsp;&nbsp;</span>
												<span>评论&nbsp;</span><span>10000&nbsp;&nbsp;</span>
												<span>点赞&nbsp;</span><span>10000&nbsp;&nbsp;</span>
											</p>
										</div>
										<div class="col-md-2 col-sm-2 col-xs-2">
											<img src="" class="img-responsive"></img>
										</div>
									</div>
								</li>
								<li class="media">
									<div class="row">
										<div class="col-md-10 col-sm-10 col-xs-10">
											<p><span class="author-topic">作者的名字&nbsp;&nbsp;</span><span class="read-topic">2015-02-03</span></p>
											<p class="title-topic"><a href="#">2015年小升初需要注意的</a></p>
											<p class="read-topic">
												<span>阅读&nbsp;</span><span>10000&nbsp;&nbsp;</span>
												<span>评论&nbsp;</span><span>10000&nbsp;&nbsp;</span>
												<span>点赞&nbsp;</span><span>10000&nbsp;&nbsp;</span>
											</p>
										</div>
										<div class="col-md-2 col-sm-2 col-xs-2">
											<img src="" class="img-responsive"></img>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="row">
						<nav>
							<ul class="pagination">
								<li class="pageturn">
									<a>
										<span>
												<span aria-hidden="true">&laquo;</span>
										</span>
									</a>
								</li>
								<li class="pageturn">
									<a><span>1 <span class="sr-only"></span></span></a>
								</li>
								<li class="pageturn">
									<a><span>2 <span class="sr-only"></span></span></a>
								</li>
								<li class="pageturn">
									<a>
										<span>
											<span aria-hidden="true">&raquo;</span>
										</span>
									</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	
	</div>

	<!--
        	作者：727674928@qq.com
        	时间：2015-09-17
        	描述：footer
        -->
	<div th:include="layout/front_nav::nav-footer"></div>
</body>

</html>