<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
		<title>首页</title>
		<link th:href="@{${cdn} + '/css/bootstrap.min.css'}" rel="stylesheet"></link>
	    <link th:href="@{${cdn} + '/css/font-awesome.min.css'}" rel="stylesheet"></link>
	    <link th:href="@{${cdn} + '/css/plugins/iCheck/custom.css'}" rel="stylesheet"></link>
	    <link th:href="@{${cdn} + '/css/animate.min.css'}" rel="stylesheet"></link>
	    <link th:href="@{${cdn} + '/css/new-style.css'}" rel="stylesheet"></link>
	    <script th:src="@{${cdn} + '/js/layer/layer.js'}" type="text/javascript"></script>
	</head>
	<body class="home">
		<div class="title" >
			<p>首页</p>
		</div>
		<div class="btn-list" >
			<div class="btn-div">
				<a  th:href="@{'/fproduct/list'}"><button class="btn btn-primary">代理商品</button></a>
			</div>
			<div class="btn-div">
				<a th:href="@{/df/user/list}"><button class="btn btn-info">好友列表</button></a>
			</div>
			<div class="btn-div">
				<a th:href="@{/back/shop/myshop}"><button class="btn btn-danger">店铺信息 </button></a>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="btn-list">
			<div class="btn-div">
				<a th:href="@{'/dproduct/list/-1'}"><button class="btn btn-product" >我的商品</button></a>
			</div>
			<div class="btn-div">
				<a th:href="@{/back/pay/list}"><button class="btn btn-success">联系客服</button></a>
			</div>
			<div class="btn-div">
				<button class="btn btn-warning">&nbsp;&nbsp;付&nbsp;&nbsp;款 &nbsp;&nbsp;</button>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="btn-list">
			<div class="btn-div">
				<a th:href="@{/df/user/apply}"><button class="btn btn-friend">好友申请</button></a>
			</div>
			<div class="btn-div">
				<button onclick="logout()" class="btn btn-danger">安全退出</button>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="footer">
			<a class="footer-left" th:href="@{/dproduct/initAddProduct}">
				<p>
					<span><i class="fa fa-plus"></i></span>
					<span>&nbsp;&nbsp;新产品</span>
				</p>
			</a>
			<a class="footer-right" th:href="@{/back/user/mymessage}">
				<p>
					<span><i class="fa fa-user"></i></span>
					<span>&nbsp;&nbsp;我</span>
				</p>
			</a>
		</div>
	</body>
	<script th:inline="javascript">
		function logout(){
			layer.open({
				  content: '确认退出系统',
				  btn: ['确认', '取消'],
				  shadeClose: false,
				  style: 'background:#4FC4F6;color:#FFF;',
				  yes: function(){
					  window.location.href=/*[[@{'/logout'}]]*/;
				  }, no: function(){
				    
				  }
				});
		}
		
	</script>
</html>
