<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>修改密码</title>
		<link th:href="@{${cdn} + '/css/font-awesome/css/font-awesome.min.css'}" rel="stylesheet"></link>
	   	<link th:href="@{${cdn} + '/css/new-style.css'}" rel="stylesheet"></link>
	 	<link th:href="@{${cdn} + '/css/plugins/iCheck/custom.css'}" rel="stylesheet"></link>
		<script th:src="@{${cdn} + '/js/jquery.min.js'}" type="text/javascript"></script>
		<script th:src="@{${cdn} + '/js/jquery.cssforms.js'}" type="text/javascript"></script>
		<script th:src="@{${cdn} + '/js/iscroll-probe.js'}" type="text/javascript"></script>
		<script th:src="@{${cdn} + '/js/layer/layer.js'}" type="text/javascript"></script>
	</head>
	<body style="background: #1F253D;">
		<header class="header header-bg" >
			<p>
				<a class="arrow-left" th:href="'/index'">
					<span><i class="fa fa-angle-left"></i></span>
				</a>
				<span>修改密码</span>
			</p>
		</header>
		<div class="product-edit mt10" >
			<div class="pro-edit mt10" >
				<form>
					<div class="eidt-input" >
						<p class="eidt-label" >
							<span>旧密码：</span>
						</p>
						<div>
							<input class="form-control form-edit" placeholder="修改" name="password" id="password" type="password" />
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="eidt-input" >
						<p class="eidt-label" >
							<span>新密码：</span>
						</p>
						<div>
							<input class="form-control form-edit" placeholder="修改" name="newpassword" id="newpassword" type="password" />
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="eidt-input" >
						<p class="eidt-label" >
							<span>重复密码</span>
						</p>
						<div>
							<input class="form-control form-edit" placeholder="修改"  name="renewpassword" id="renewpassword" type="password"/>
							<div class="clearfix"></div>
						</div>
					</div>
				</form>
				<div class="footer">
					<div>
						<button class="btn btn-warning" onclick="updatePassword()">保  存</button>
					</div>
				</div>
			</div>
		</div>
		<script th:inline="javascript">
		function updatePassword(){
			var password = $("#password").val();
			var newpassword = $("#newpassword").val();
			var renewpassword = $("#renewpassword").val();
			if(password == ""){
				alert("请输入原始密码。");
				return false;
			}
			if(newpassword == ""){
				alert("请输入新密码。");
				return false;
			}
			if(renewpassword == ""){
				alert("请输入重复密码。");
				return false;
			}
			if(newpassword != renewpassword){
				alert("两次输入密码不一致。");
				return false;
			}
			$.post(
   					/*[[@{'/back/newUpdatePassword'}]]*/,
   					{ 'password':password,'newpassword':newpassword,'renewpassword':renewpassword },
   					function (data, status) {
   						if(data.status == 1){
   							alert(data.msg);
   								 window.location.href=/*[[@{'/home'}]]*/;
   						}else{
   							alert(data.msg);
   						}
   					}
   				);
		}
	</script>
	</body>
</html>
