<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="renderer" content="webkit"></meta>
    <title>后台管理 - 登录</title>
    <link th:href="@{${cdn} + '/css/bootstrap.min.css'}" rel="stylesheet"></link>
    <link th:href="@{${cdn} + '/css/font-awesome.min.css'}" rel="stylesheet"></link>
    <link th:href="@{${cdn} + '/css/plugins/iCheck/custom.css'}" rel="stylesheet"></link>
    <link th:href="@{${cdn} + '/css/animate.min.css'}" rel="stylesheet"></link>
    <link th:href="@{${cdn} + '/css/style.css'}" rel="stylesheet"></link>
    <script>
    	
    </script>
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="ibox float-e-margins ph10" >
                <div class="ibox-title">
                    <h5>
                    	邀请链接<span style="color:red;">(发送给别人，方便开号)</span>
                    </h5>
                </div>
                <div class="ibox-content">
                    <div class="row mb20" >
                		<form>
                    		<input id="invite_url" class="col-sm-4 col-xs-12" type="text" th:value="${registerLink}" />
                    	</form>
                    	<button class="btn btn-sm btn-primary" style="margin-left:10px;" onclick="createUrl()" >生成注册链接</button>
						<button id="copy-button" class="btn btn-sm btn-primary" >复制</button>
                    </div>
                    <div>
	                    <h5 style="font-size:15px;">
	                    	我的下线
	                    </h5>
	                </div>
                    <table id="editable" class="table table-bordered">
	                        <thead>
	                            <tr>
	                                <th>用户名</th>
	                                <th>使用时间</th>
	                                <th>邀请等级</th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                            <tr th:each="ur : ${urList}">
	                                <td th:text="${ur.currentUser.userName}">*</td>
	                                <td th:text="${ur.useDay}+'天'">*</td>
	                                <td th:text="${ur.grade}">*</td>
	                            </tr>
	                        </tbody>
	                    </table>
	                    <div class="row">
	                		<nav>
							  	<div th:include="layout/common/pagination :: pagination"></div>
							</nav>
						</div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{${cdn} + '/js/jquery.min.js'}" type="text/javascript"></script>
    <script th:src="@{${cdn} + '/js/bootstrap.min.js'}" type="text/javascript"></script>
    <script th:src="@{${cdn} + '/js/plugins/layer/layer.min.js'}" type="text/javascript"></script>
    <script th:src="@{${cdn} + '/js/content.min.js'}" type="text/javascript"></script>
    <script th:src="@{${cdn} + '/js/welcome.min.js'}" type="text/javascript"></script>
    <script th:src="@{${cdn} + '/js/jqPaginator.min.js'}" type="text/javascript"></script>
    <script th:src="@{${cdn} + '/js/common.js'}" type="text/javascript"></script>
    <script th:src="@{${cdn} + '/js/plugins/jquery-zclip-master/jquery.zclip.js'}" type="text/javascript"></script>
    <script th:inline="javascript">
	    var copuUrl=$('#invite_url').val();
		$("#copy-button").zclip({  
		    path: /*[[@{${cdn} + 'js/plugins/jquery-zclip-master/ZeroClipboard.swf'}]]*/,  
		    copy: copuUrl,
		    afterCopy: function(){
	            alert("复制成功");
	        }
		});
    	function createUrl(){
    		var url = $("#invite_url").val();
    		if(url == ""){
    			$.post(
       					/*[[@{'/back/register/create'}]]*/,
       					{ },
       					function (data, status) {
       						if(data.status == 1){
       							layer.alert(data.msg ,{icon: 1}, function(index){
       								  	layer.close(index);
            							$("#invite_url").val(data.url);
       								});
       						}else{
       							layer.alert(data.msg ,{icon: 2}, function(index){
    								  	layer.close(index);
    								});
       						}
       					}
       				);
    		}else{
    			layer.alert('邀请链接已经生成',{icon: 1}, function(index){
					  	layer.close(index);
					});
    		}
    	}
    </script>
</body>
</html>