<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>后台管理 - 注册</title>
    <link th:href="@{${cdn} + '/css/bootstrap.min.css'}" rel="stylesheet"></link>
    <link th:href="@{${cdn} + '/css/font-awesome.min.css'}" rel="stylesheet"></link>
    <link th:href="@{${cdn} + '/css/plugins/iCheck/custom.css'}" rel="stylesheet"></link>
    <link th:href="@{${cdn} + '/css/animate.min.css'}" rel="stylesheet"></link>
    <link th:href="@{${cdn} + '/css/style.css'}" rel="stylesheet"></link>
    <script>
    	
    </script>
</head>
<body class="gray-bg">
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>
                <h1 class="logo-register">管理系统</h1>
            </div>
            <h3>欢迎注册 管理 </h3>
            <p>创建一个新账户</p>
            <form id="registerForm" class="m-t" role="form" method="post" th:action="@{/register}" onsubmit="return checkNull()">
            	<input type="hidden" th:if="${uuid}" th:value="${uuid}" name="uuid" />
                <div th:if="${message}" class="form-group">
                    <p th:inline="text">[[${message}]]</p>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="请输入用户名" th:vaule="${user.userName}" name="username" required="" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="请输入昵称" th:vaule="${user.nickName}" name="nickname" required="" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="请输入手机号码" th:vaule="${user.phone}" name="phone" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="请输入邮箱" th:vaule="${user.email}" name="email" />
                </div>
                <div class="form-group">
                    <input type="password" id="password" class="form-control" placeholder="请输入密码" name="password" required=""/>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="请再次输入密码" name="repassword" required=""/>
                </div>
                <div class="form-group text-left">
                    <div class="checkbox i-checks text-center">
                        <label class="no-padding checkRole" style="width:50%;float:left" >
                            <input type="radio" name="optionsRole" value="2"/>代理
                        </label>
                        <label class="no-padding checkRole" style="width:50%;float:left">
                            <input type="radio" name="optionsRole" value="3"/>分销
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <select id="questionId" class="form-control" name="questionId"  >
                    	<option value="">请设置找回密码安全问题</option>
                    	<option th:each="question : ${list}" th:value="${question.id}" th:inline="text">[[${question.name}]]</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="请输入问题答案" name="answer" required=""/>
                </div>
                <div class="form-group text-left">
                    <div class="checkbox i-checks">
                        <label id="agreeMent" class="no-padding">
                            <input type="checkbox" name="agreement" checked="checked" /><i></i> 我同意注册协议
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div id="errorTip" class="toast">
                        <span></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">注 册</button>
                <p class="text-muted text-center">
                	<small>已经有账户了？</small><a th:href="@{'/home' }">点此登录</a>
                </p>
            </form>
        </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins/iCheck/icheck.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/additional-methods.js"></script>
    <script>
        $(document).ready(function(){
        	$(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green",});
        
        	//注册时的校验
        	$("#registerForm").validate({
				rules : {
					username : {
						required : true,
						isNull : true,
						minlength : 2,
						maxlength : 20
					},
					nickname : {
						required : true,
						isNull : true,
						minlength : 2,
						maxlength : 20
					},
					phone : {
						required : true,
						isPhone: true
					},
					email : {
						email : true
					},
					password : {
						required: true,
						minlength: 6,
						maxlength: 18
					},
					repassword : {
						required: true,
						minlength: 6,
						maxlength: 18,
						equalTo: "#password"
					},
					answer: {
						required: true
					}
				},
				messages : {
					username : {
						required : "请输入用户名",
						isNull :"请输入用户名",
						minlength : "用户名最少为2个字符",
						maxlength : "用户名最多为20个字符"
					},
					nickname : {
						required : "请输入昵称",
						isNull :"请输入昵称",
						minlength : "昵称最少为2个字符",
						maxlength : "昵称最多为20个字符"
					},
					phone : {
						required : "请输入手机号码",
						isPhone: "请输入正确格式的手机号码"
					},
					email : {
						email : "请输入正确的邮箱地址"
					},
					password : {
						required : "请输入密码",
						minlength : "密码最少为6个字符",
						maxlength : "密码最多为18个字符"
					},
					repassword : {
						required : "请输入密码",
						minlength : "密码最少为6个字符",
						maxlength : "密码最多为18个字符",
						equalTo: "两次输入的密码不一致"
					},
					answer: {
						required: "请输入您问题的答案"
					}
				},
				errorElement : "em",
				errorPlacement : function(error, element) {
					// 向错误信息添加'help-block'样式
					error.addClass("help-block");
					if (element.prop("type") === "checkbox") {
						error.insertAfter(element.parent("label"));
					} else {
						error.insertAfter(element);
					}
				},
				highlight : function(element, errorClass,validClass) {
					$(element).parents(".form-group").addClass("has-error").removeClass("has-success");
				},
				unhighlight : function(element, errorClass,validClass) {
					$(element).parents(".form-group").addClass("has-success").removeClass("has-error");
				}
			});
        	
        });
        
        // TODO
        function checkNull(){
        	var leng = $(".checkRole").find(':radio:checked').length;
        	var flag=true;
        	if(leng==0){
        		flag=false;
        		$("#errorTip span").html("请选择您的身份");
        		$("#errorTip").show();
        	}else if(leng==1){
        		$("#errorTip span").html("");
        		$("#errorTip").hide();
        		flag=true;
        	}
        	var agree = $("#agreeMent").find(':checked:checked').length;
        	if(agree==0){
        		flag=false;
        		$("#errorTip span").html("请同意注册协议");
        		$("#errorTip").show();
        	}else if(leng==1){
        		$("#errorTip span").html("");
        		$("#errorTip").hide();
        		flag=true
        	}
        	
        	var question=$("#questionId option:selected").val();
        	if(question==""){
        		flag=false;
        		$("#questionId").parents(".form-group").addClass("has-error");
        		$("#errorTip span").html("请选择找回密码的问题");
        		$("#errorTip").show();
        	}else{
        		$("#errorTip span").html("");
        		$("#errorTip").hide();
        		$("#questionId").parents(".form-group").removeClass("has-error");
        		flag=true
        	}
        	
        	return flag;
        };
        
    </script>
</body>

</html>
