<div class="col-xs-6 product-list-item" th:if="${#lists.isEmpty(pageBean.result)}">
	暂无数据
</div>
<div class="col-xs-6 product-list-item" th:each="fproduct:${list}">
	<div class="section-item">
		<a th:href="@{'/front/fproduct/detail/'+${fproduct.id}}+'/'+${id}">
			<img class="img-responsive" style="min-height:171px;" th:src="@{${cdn}+${fproduct.firstImage}}" />
		</a>
		<p class="section-item-info text-left" th:inline="text">[[${fproduct.pName}]]</p>
  		<div class="section-item-price" >
			<div class="text-right">
				<p class="text-left" th:if="${fproduct.showKind}" th:inline="text">
 					[[${fproduct.showKind}]]
  				</p>
  				<p class="text-right" th:inline="text">
  					￥ [[${fproduct.price}]]元
  				</p>
 			</div>
		</div>
	</div>
</div>
