<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta name="renderer" content="webkit"></meta>
    <meta name="toTop" content="true" />
    <title th:inline="text">[[${fProduct.pName}]]</title>
    <link th:href="@{${cdn} + '/css/font-awesome/css/font-awesome.min.css'}" rel="stylesheet"></link>
    <link th:href="@{${cdn} + '/css/index.css'}" rel="stylesheet"></link>
    <link th:href="@{${cdn} + '/css/new-style.css'}" rel="stylesheet"></link>
    <link th:href="@{${cdn} + '/css/swiper.3.1.7.min.css'}" rel="stylesheet"></link>
    
    <style>
    	
    	.swiper-container {
			width: 100%;
			height: 100%;
			display: none;
			position: fixed;
			top: 0;
			z-index: 200;
		}
		
		.swiper-slide {
			text-align: center;
			font-size: 18px;
			background: #fff;
		}
		
		.swiper-slide img {
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
			-ms-transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);
			-moz-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			position: absolute;
			left: 50%;
			top: 50%;
		}
    	
    </style>	
</head>
<body >
	<header class="header bor" >
		<p>
			<a class="arrow-left" th:href="@{'/f/list/'+${id}}">
				<span><i class="fa fa-angle-left"></i></span>
			</a>
			<span>产品详情</span>
		</p>
	</header>
	<!-- 轮播图 -->
	<div class="main_visual mt48" >
		<div class="flicking_con">
			<a href="" th:each="image:${fProduct.imageList}">1</a>
		</div>
		<div class="main_image">
			<ul>
				<li th:each="image:${fProduct.imageList}">
					<span>
						<img class="img-responsive main_image-img center-block" th:src="@{${cdn}+${image.imageUrl}}" />
					</span>
				</li>
			</ul>
			<a href="javascript:;" id="btn_prev"></a>
			<a href="javascript:;" id="btn_next"></a>
		</div>
	</div>
	<!-- 产品简介 -->
    <div class="pro-detail" >
    	<p class="pro-desc">
    		<span class="pull-left fontl6" th:inline="text">名称：[[${fProduct.pName}]]</span>
    		<span class="pull-right fontl6 text-red">12:00:00</span>
    		<input type="hidden" name="downTime" th:value="${fProduct.downTime}" />
    	</p>
    	<p class="pro-desc">
    		<span class="pull-left" th:inline="text">价格：￥[[${fProduct.price}]]元</span>
    		<span th:if="${dailiDesc}" class="pull-right firend-tag" th:inline="text">[[${dailiDesc}]]</span>
    	</p>
    	<p class="pro-desc">
    		<span class="pull-left fontl6" th:if="${fProduct.showKind}" th:inline="text">地区：[[${fProduct.showKind}]]</span>
    	</p>
    	<p class="pro-desc"  th:if="${#strings.length(fProduct.dProduct.videoUrl) > 0}">
    		<a target="_blank" th:href="@{${fProduct.dProduct.videoUrl}}">视频介绍</a>
    	</p>
    </div>
    
    <div class="go-back" >
    	<span class="glyphicon glyphicon-menu-left" onclick="returnList()"></span>
    </div>  
	<div th:each="image:${fProduct.imageList}" class="container">
		<div class="row">
			<img class="img-responsive main_image-img center-block" th:src="@{${cdn}+${image.imageUrl}}" />
		</div>
	</div>
	<div class="index detail-list" >
	    <div class="pad10 goods-list pic-content" >
			<ul id="fproduct_list">
				
			</ul>
			<div class="load-more" id="page_button">
				<p onclick="getNextPage()">点击加载更多~</p>
			</div>
		</div>
    </div>
    <div class="swiper-container swiper-container-horizontal">
	    <div id="swiper-wrapper" class="swiper-wrapper swiper-div">
	
	    </div>
	</div>  
    <script th:src="@{${cdn} + '/js/jquery.min.js'}" type="text/javascript"></script>
	<script th:src="@{${cdn} + '/js/bootstrap.min.js'}" type="text/javascript"></script>
	<script th:src="@{${cdn} + '/js/jquery.touchSlider.js'}" type="text/javascript"></script>
	<script th:src="@{${cdn} + '/js/swiper.3.1.7.jquery.min.js'}" type="text/javascript"></script>
	<script th:src="@{${cdn} + '/js/jquery.LoadImage.js'}" type="text/javascript"></script>
	<script th:src="@{${cdn} + '/js/toTop.js'}" type="text/javascript"></script>
	<script th:inline="javascript">
	/*<![CDATA[*/
		var num = 1; 
		var pageSize = 4;
		$(document).ready(function(){
			//开启倒计时
			initeDownTime();
			
			/*轮播图*/
			$dragBln = false;
			
			$(".main_image").touchSlider({
				flexible : true,
				speed : 200,
				btn_prev : $("#btn_prev"),
				btn_next : $("#btn_next"),
				paging : $(".flicking_con a"),
				counter : function (e){
					$(".flicking_con a").removeClass("on").eq(e.current-1).addClass("on");
				}
			});
			
			$(".main_image").bind("mousedown", function() {
				$dragBln = false;
			});
			
			$(".main_image").bind("dragstart", function() {
				$dragBln = true;
			});
			
			$(".main_image a").click(function(){
				if($dragBln) {
					return false;
				}
			});
			
			timer = setInterval(function(){
				$("#btn_next").click();
			}, 5000);
			
			$(".main_visual").hover(function(){
				clearInterval(timer);
			},function(){
				timer = setInterval(function(){
					$("#btn_next").click();
				},5000);
			});
			
			$(".main_image").bind("touchstart",function(){
				clearInterval(timer);
			}).bind("touchend", function(){
				timer = setInterval(function(){
					$("#btn_next").click();
				}, 5000);
			});
			
			var windowsW = $(window).width();
			var windowsH = $(window).height();
			$(".main_image-img").width(windowsW);
			$(".main_image").height(windowsH*0.8);
			$(".main_image ul li").height(windowsH*0.8);
			$(".main_image ul li span").height(windowsH*0.8);
			
			$(".main_image").css("height",windowsH*0.8 + 'px');
			$(".main_image").css("vertical-align","middle");
			
			$(".product-img").click(function(){
				var ii = layer.load();
			    //此处用setTimeout演示ajax的回调
			    setTimeout(function(){
			        layer.close(ii);
			    }, 1000);
			});
			
			//焦点位置
			var pointW = $(".flicking_con").width();
			$(".flicking_con").css("margin-left",-pointW/2 + 'px');
			
    		//图片点击放大
			var mySwiper;
		    var currentImg;
		    
		    $('body').on('click', '.main_image ul li span img', function () {
		        var isSame = $(this).parents('.main_image ul li span').attr('data-load');
		        currentImg = $(this).parent('span').parent('li').index();
		        //移除同级标示
		        $('.main_image ul li span').removeAttr('data-load');
		
		        //组图 顶级 dom 添加标示
		        $(this).parents('.main_image ul li span').attr('data-load', 'true');
		
		        //清空,重置样式
		        if (mySwiper) {
		            mySwiper.destroy(false, !0);
		        }
		
		        var tmpl = '';
		        var arr = new Array;
		        var i = 0;
		        //在这里写一段js获取当前点击的img的同组的所有img的src，遍历生成放大的图片
		        $(this).parent('span').parent('li').parent('ul').parent('.main_image').find("img").each(function () {
		
		            arr.push($(this).attr('src'));
		
		            tmpl += '<div class="swiper-slide">' +
		                    '<img class="swiper-lazy swiper-lazy-loaded" src="' + $(this).attr('src') + '">' +
		                    '</div>';
		        });
		
		        //数据添加
		        $('.swiper-div').html(tmpl);
		
		        //设置应该显示的位置
		        for (i = 0; i < arr.length; i++) {
		            if (currentImg == i) {
		                var screenWidth = window.screen.width;
		                var moveWidth = -i * screenWidth + 'px'
		                $('.swiper-div').css("transform", "translate3d(" + moveWidth + ", 0px, 0px)");
		            }
		        }
		
		        //显示
		        $('.swiper-container').show();
		
		        //初始化插件
		        initSwiper();
		
		    });
		
		    function initSwiper() {
		        mySwiper = new Swiper('.swiper-container', {
		            preloadImages: false,
		            lazyLoading: true
		        });
		    }
		
		    //隐藏 swiper
		    $('body').on('click', '.swiper-slide', function () {
		        $('.swiper-container').hide();
		    });
		    
    		$.get(
   					/*[[@{'/f/getOtherItem/'+${id}+'/'+${fProduct.id}}]]*/,
   					{  },
   					function (data, status) {
   						$("#fproduct_list").html(data);
   						if($("#fproduct_list li").length < num*pageSize){
   							$("#page_button").hide();
   						}
						var imgW=$(window).width()*0.5-15;
						$(".pro-item-img").height(imgW*1.3);//设置产品图的高度
   						num++;
   					}
   			);
        });
		
		//初始化倒计时
		function initeDownTime(){
		 	$("input[name='downTime']").each(function(index){
		        var NowTime = new Date();
		        var t = $(this).val() - NowTime.getTime();
		        var time = "";
		        if(t>0){
			        var h=Math.floor(t/1000/60/60%24);
			        var m=Math.floor(t/1000/60%60);
			        var s=Math.floor(t/1000%60);
			        if(h < 10){
			        	time+="0"+h+":";
			        }else{
			        	time+=h+":";
			        }
			        if(m < 10){
			        	time+="0"+m+":";
			        }else{
			        	time+=m+":";
			        }
			        if(s < 10){
			        	time+="0"+s;
			        }else{
			        	time+=s;
			        }
		        }else{
		        	time = "00:00:00";
		        }
		        $(this).prev().html(time);
            }); 
		}
		//每一秒倒计时一次
		setInterval(initeDownTime,1000);
		
		function getNextPage(){
				$.get(
					/*[[@{'/f/getOtherItem/'+${id}+'/'+${fProduct.id}}]]*/,
   					{ 'curpage':num},
   					function (data, status) {
   						$("#fproduct_list li:last").after(data);
   						if($("#fproduct_list li").length < num*pageSize){
   							$("#page_button").hide();
   						}
						var imgW=$(window).width()*0.5-15;
						$(".pro-item-img").height(imgW*1.3);//设置产品图的高度
   						num++;
   					}
	   			);
		}
	/*]]>*/
    </script>
</body>
</html>