<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="renderer" content="webkit"></meta>
    <title>商品列表页</title>
    <link th:href="@{${cdn} + '/css/bootstrap.min.css'}" rel="stylesheet"></link>
    <link th:href="@{${cdn} + '/css/index.css'}" rel="stylesheet"></link>
    <script>
    	
    </script>
    <style>
    	.buttun-check{
    		color: #fff;
    		background: #337AB7;
    	}
    </style>
</head>
<body>
    <div class="product-label-choice" >
    	<div class="label-choice" >
    		<ul class="label-list" style="overflow: hidden;">
    			<li th:each="list,kindStat : ${kindList}" th:inline="text" th:if="${kindStat.index lt 3}" th:alt="${list.id}">
    				[[${list.kindName}]]
    			</li>
    		</ul>
    	</div>
    	<div class="label-arrow" >
    		<span class="glyphicon glyphicon-menu-down"></span>
    	</div>
    	<div class="clearfix"></div>
    </div>    
        
    <div class="all-label" >
    	<ul class="all-label-ul">
			<li th:each="list,kindStat : ${kindList}" th:inline="text" class="all-label-li" th:alt="${list.id}" th:if="${kindStat.index >= 4}" >
    				[[${list.kindName}]]
   			</li>
		</ul>
    </div> 
        
    <div class="container product-list" id="contain">
    	<div class="row product-list-div" id="fproduct_list">
    		
    	</div>
    	<div class="row loadmore" >
   			<p id="page_button" onclick="getNextPage()">点击加载更多</p>
   		</div>
    </div>    
	<script th:src="@{${cdn} + '/js/jquery.min.js'}" type="text/javascript"></script>
	<script th:src="@{${cdn} + '/js/bootstrap.min.js'}" type="text/javascript"></script>
    <script th:inline="javascript">
    /*<![CDATA[*/
               
        var num = 1; 
    	var pageSize = 10;
		$(document).ready(function(){
			$(".label-arrow").click(function(){
				if($(".all-label").css("display")=="none"){
					$(".label-arrow span").addClass("label-arrow-tranform");
					$(".all-label").show(500);
				}else if($(".all-label").css("display")=="block"){
					$(".label-arrow span").removeClass("label-arrow-tranform");
					$(".all-label").hide(500);
				}
			});
			
			$.get(
   					/*[[@{'/front/fproduct/getItem/'+${id}}]]*/,
   					{  },
   					function (data, status) {
   						$("#fproduct_list").html(data);
   						if($(".section-item").length < num*pageSize){
   							$("#page_button").hide();
   						}
   						num++;
   					}
   			);
        });
    
		function getNextPage(){
			var kindId = $(".buttun-check").attr("alt");
			if (typeof(kindId) == "undefined") { 
				$.get(
   					/*[[@{'/front/fproduct/getItem/'+${id}}]]*/,
   					{ 'curpage':num },
   					function (data, status) {
   						$(".product-list-item:last").after(data);
   						if($(".section-item").length < num*pageSize){
   							$("#page_button").hide();
   						}
   						num++;
   					}
	   			);
			}else{
				$.get(
   					/*[[@{'/front/fproduct/getItem/'+${id}}]]*/,
   					{ 'curpage':num,'kindId':kindId },
   					function (data, status) {
   						$(".product-list-item:last").after(data);
   						if($(".section-item").length < num*pageSize){
   							$("#page_button").hide();
   						}
   						num++;
   					}
	   			);
			}
		}
		
		$(".label-list li").click(function(){
			var kindId = $(this).attr("alt");
			$(".label-list li").removeClass("buttun-check");
			$(".all-label-ul li").removeClass("buttun-check");
			$(this).addClass("buttun-check");
			$.post(
   					/*[[@{'/front/fproduct/getItem/'+${id}}]]*/,
   					{ 'kindId':kindId },
   					function (data, status) {
   						$("#fproduct_list").html(data);
   					}
   			);
		});
		$(".all-label-ul li").click(function(){
			var kindId = $(this).attr("alt");
			$(".label-list li").removeClass("buttun-check");
			$(".all-label-ul li").removeClass("buttun-check");
			$(this).addClass("buttun-check");
			$.post(
   					/*[[@{'/front/fproduct/getItem/'+${id}}]]*/,
   					{ 'kindId':kindId },
   					function (data, status) {
   						$("#fproduct_list").html(data);
   					}
   			);
		});
	/*]]>*/
    </script>
</body>
</html>