<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta name="renderer" content="webkit"></meta>
    <title th:if="${#strings.isEmpty(shopMessage.shopName)}">店铺</title>
    <title th:if="${shopMessage.shopName}" th:inline="text">[[${shopMessage.shopName}]]</title>
    <link th:href="@{${cdn} + '/css/font-awesome/css/font-awesome.min.css'}" rel="stylesheet"></link>
    <link th:href="@{${cdn} + '/css/index.css'}" rel="stylesheet"></link>
    <link th:href="@{${cdn} + '/css/new-style.css'}" rel="stylesheet"></link>
	<script th:src="@{${cdn} + '/js/zepto.min.js'}" type="text/javascript"></script>
	<script th:src="@{${cdn} + '/js/iscroll-probe.js'}" type="text/javascript"></script>
</head>
<body class="index">
	<!--
       	作者：lp
       	时间：2016-08-09
       	描述：导航栏
       -->
       <div class="search" >
				<div class="avator" th:if="${user.avatar }">
					<img th:src="@{${cdn}+${user.avatar }}" />
				</div>
				<div class="avator" th:if="${#strings.isEmpty(user.avatar)}">
					<img th:src="@{${shopMessage.qrcodeUrl}}" />
				</div>
				<div class="search-bar" >
					<div class="search-bar-div" >
						<div class="store-name" th:inline="text">
							[[${shopMessage.shopName}]]
						</div>
						<div class="search-right" >
							<input type="text" class="form-control" id="p_name" name="pName"/>
							<i class="fa fa-search search-icon" id="searchPname"></i>
						</div>
						<div class="clearfix"></div>
					</div>
					<p class="mt5" th:if="${shopMessage.notice}" th:inline="text">[[${shopMessage.notice}]]</p>
				</div>
			</div>
			<div class="select-div">
				<div>
					<form role="form">
					    <select class="form-control" name="price"> 
					      	<option value="0" >价格</option>
							<option value="1">2000以下</option>
							<option value="2">2000-5000</option>
							<option value="3">5000以上</option>
					    </select>
					</form>    
				</div>
				<div>
					<form role="form">
					    <select class="form-control" name="kind"> 
					    	<option value="0" >地区</option>
					      	<option th:each="list,kindStat : ${kindList}" th:inline="text" th:value="${list.id}">[[${list.kindName}]]</option> 
					    </select>
					</form>    
				</div>
				<div>
					<form role="form">
					    <select class="form-control" name="isdown"> 
						      <option value="0">是否倒计时</option> 
						      <option value="1">是</option> 
						      <option value="2">否</option> 
					    </select>
					</form>    
				</div>
			</div> 
       
			<div class="pad10 goods-list pic-content" >
				<ul >
					
				</ul>
				<div class="load-more" id="page_button">
					<p onclick="getNextPage()">点击加载更多~</p>
				</div>
			</div>	
	<script th:inline="javascript">
	/*<![CDATA[*/
		var myScroll = null;
		var page = 1;
		var pageSize = 4;
		var searchFlag = false;
		
		function renderList(data) {
			if(data.length > 0){
	        	if(searchFlag){
	        		$('.pic-content ul').html(data);
	        		if($(".pic-content ul li").length < page*pageSize){
						$("#page_button").hide();
					}else{
						$("#page_button").show();
					}
	       		}else{
	       			if($('.pic-content ul li').length > 0){
	   					$('.pic-content ul li:last-child').after(data);	
	   				}else{
	   					$('.pic-content ul').html(data);
	   				}
	       			if($(".pic-content ul li").length < page*pageSize){
						$("#page_button").hide();
					}else{
						$("#page_button").show();
					}
	       		}
	        	
				var imgW=$(window).width()*0.5-15;
	    		$(".pro-item-img").height(imgW*1.3);//设置产品图的高度
				initeDownTime();
			}else{
				if(searchFlag){
	        		$('.pic-content ul').html("<div style='text-align: center;'>暂无数据</div>");
	       		}
				$('.pic-content ul li:last-child').after("<div style='text-align: center;'>暂无数据</div>");
				if($(".pic-content ul li").length < page*pageSize){
					$("#page_button").hide();
				}else{
					$("#page_button").show();
				}
			}
		}
		
		function pageList(page) {
			var price = $("select[name='price']").val();
			var kind = $("select[name='kind']").val();
			var isdown = $("select[name='isdown']").val();
			var pName = $("input[name='pName']").val();
			$.ajax({
				url: /*[[@{'/f/getItem/'+${id}}]]*/,
				type: 'get',
				dataType: 'text',
				data: { 'curpage':page ,'price':price,'kind':kind,'isdown':isdown,'pName':pName},
				success: function(res) {
					renderList(res);
				},
				error: function(res) {}
			});
		}
		
		$(document).ready(function() {
			pageList(page);
	        
	        $("select[name='price']").bind('change',function(){
				searchFlag = true;
				page = 1;
				pageList(1);
			});
			$("select[name='kind']").bind('change',function(){
				searchFlag = true;
				page = 1;
				pageList(1);
			});
			$("select[name='isdown']").bind('change',function(){
				searchFlag = true;
				page = 1;
				pageList(1);
			});
			$("#searchPname").bind('click',function(){
				searchFlag = true;
				page = 1;
				pageList(1);
			});
		});
		function getNextPage(){
			searchFlag = false;
            page++;
            pageList(page);
		}
		//初始化倒计时
		function initeDownTime(){
		 	$("input[name='downTime']").each(function(index){
		        var NowTime = new Date();
		        var t = $(this).val() - NowTime.getTime();
		        var time = "";
		        if(t>0){
			        var h=Math.floor(t/1000/60/60%24);
			        var m=Math.floor(t/1000/60%60);
			        var s=Math.floor(t/1000%60);
			        if(h < 10){
			        	time+="0"+h+":";
			        }else{
			        	time+=h+":";
			        }
			        if(m < 10){
			        	time+="0"+m+":";
			        }else{
			        	time+=m+":";
			        }
			        if(s < 10){
			        	time+="0"+s;
			        }else{
			        	time+=s;
			        }
		        }else{
		        	time = "00:00:00";
		        }
		        $(this).prev().html(time);
            }); 
		}
		//每一秒倒计时一次
		setInterval(initeDownTime,1000);
		
	/*]]>*/
	</script>
</body>
</html>